<div *ngIf="!showAttachmentDetail">
  <div class="row mt-3">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 font-weight-bold hearder txtRight pr-5">
      Khách hàng: {{insuredName}}
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 font-weight-bold hearder  pl-5">
      Biển số xe: {{plateNumber}}
    </div>
  </div>
  <div class="row mt-3">
    <label class="col-xl-2 col-lg-1 col-md-3 col-sm-6 font-weight-bold">
      <ins>TRẠNG THÁI :</ins> {{totalStatus}}</label>
    <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
    </div>
  </div>
  <p-dataTable [value]="documents" emptyMessage="Không có bản ghi">
    <p-column [style]="{'width':'50px'}" field="" header="{{'bv-voucher-details.suitedocument.table.stt' | translate}}">
      <ng-template let-col let-obj="rowData" let-i="rowIndex" pTemplate="body">
        <p class="txtCenter">{{i+1}}</p>
      </ng-template>
    </p-column>
    <p-column field="nameVN" styleClass="text-left" header="{{'bv-voucher-details.suitedocument.table.nameDocument' | translate}}">
      <ng-template let-col let-obj="rowData" pTemplate="body">
        <p>{{obj.nameVN}}</p>
      </ng-template>
    </p-column>
    <p-column [style]="{'width':'170px'}" field="status" header="{{'bv-voucher-details.suitedocument.table.Status' | translate}}">
      <ng-template let-col let-obj="rowData" pTemplate="body">
        <div class="input-group-sm">
          <select class="form-control" [(ngModel)]="obj.status" [disabled]="true">
            <option *ngFor="let objstatus of documentStatsuses" [ngValue]="objstatus.id">
              {{objstatus.name}}
            </option>
          </select>
        </div>
      </ng-template>
    </p-column>
    <p-column [style]="{'width':'130px'}" field="updatedDate" header="{{'bv-voucher-details.suitedocument.table.time' | translate}}">
      <ng-template let-col let-obj="rowData" pTemplate="body">
        <p class="txtCenter">{{formatTextDateVN(obj.updatedDate)}}</p>
      </ng-template>
    </p-column>
    <p-column [style]="{'width':'130px'}" field="quantity" header="{{'bv-voucher-details.suitedocument.table.file' | translate}}">
      <ng-template let-col let-obj="rowData" pTemplate="body">
        <p class="txtCenter">
          <a href="javascript:void(0)" (click)="viewAttachmentDetail(obj.id, obj.documentId, obj.nameVN)">{{obj.quantity}}</a>
        </p>
      </ng-template>
    </p-column>
    <p-column [style]="{'width':'100px'}" field="" header="{{'bv-voucher-details.suitedocument.table.function' | translate}}">
      <ng-template let-col let-obj="rowData" pTemplate="body">
        <a href="javascript:void(0)" *ngIf="obj.typeUpload === 1 || isGarage" class="btn btn-eclaim btn-sm" (click)="btnUploadClick(obj.id, fileUpload)">Thêm mới</a>
      </ng-template>
    </p-column>
  </p-dataTable>
  <label class="font-weight-bold mt-2">Tổng số hồ sơ đã cập nhật: {{getTotalDocuments()}}</label>
  <div class="row mt-3">
    <label class="col-xl-2 col-lg-4 col-md-12 col-sm-12 font-weight-bold">Tin nhắn</label>
    <div class="col-xl-4 col-lg-8 col-md-12 col-sm-12">
      <div class="input-group mb-3">
        <textarea type="text" class="form-control inputInbox" placeholder="" [(ngModel)]="commentParams.content" maxlength="1024"
          #inputMessage [disabled]="!isGarage || !canEdit"></textarea>
      </div>
    </div>
    <div class="col-xl-1"></div>
    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12">
      <div class="stypeChatBot">
        <h3 class="col-12 titleInbox font-weight-bold ">Lịch sử trao đổi tin nhắn</h3>
        <div class="col-12 contentInbox" #scrollMe [scrollTop]="scrollMe.scrollHeight">
          <div *ngFor="let chat of garaChats" class="message-row" [ngClass]="{'bv-message': chat.classificationSending === classificationSending.bv_send, 'gara-message': chat.classificationSending === classificationSending.gara_send}">
            <div class="icon"></div>
            <div class="message" *ngIf="chat.content">
              <div *ngFor="let conent of chat.content.split('\n')">{{ conent }}</div>
              <small class="mt-1">{{formatTextDateVN(chat.sentTime)}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-outline-secondary btn-eclaim float-right" [disabled]="!isGarage || !canEdit" (click)="postComment()" style="padding: 6px 20px !important;">{{'bv-voucher-details.suitedocument.Send' | translate}}</button>
  <div bsModal #lgModal="bs-modal" class="modal fade pdfModal" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="dialog-sizes-name1" class="modal-title pull-left">Thêm mới</h4>
          <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p-progressBar [value]="progressBarPercent" *ngIf="progressBarPercent < 100"></p-progressBar>
          <ul *ngIf="uploadedFilesSuccess && progressBarPercent >= 100">
            <li *ngFor="let file of uploadedFilesSuccess">{{file.name}} - {{file.size}} bytes
              <br />
              <span class="text-success">Thành công</span>
            </li>
          </ul>
          <ul *ngIf="uploadedFilesError && progressBarPercent >= 100">
            <li *ngFor="let file of uploadedFilesError">
              <div *ngIf="file.size === 0">
                {{file.name}} - {{file.size}} bytes
                <br />
                <span class="text-danger">Thất bại: Không được upload file 0kb</span>
              </div>
              <div *ngIf="file.size > 10000000">
                {{file.name}} - {{file.size}} bytes
                <br />
                <span class="text-danger">Thất bại: Không được upload file lớn hơn 10Mb</span>
              </div>
            </li>
          </ul>
          <ul *ngIf="uploadedFilesErrorInvalid && progressBarPercent >= 100">
            <li *ngFor="let file of uploadedFilesErrorInvalid">
              <div>
                {{file.value}}
                <br />
                <span class="text-danger">Thất bại: Không đúng định dạng</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p-fileUpload name="files" class="displayDiv" [url]="urlupload" chooseLabel="Chọn" cancelLabel="Hủy" uploadLabel="Tải lên"
  #fileUpload (onSelect)="onSelectedFiles(lgModal, fileUpload)" (onUpload)="onUploadSuccess($event, lgModal)" (onBeforeSend)="onBeforUpload($event, fileUpload)"
  (onError)="onUploadError($event, lgModal)" multiple="multiple" accept="image/*,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,
          application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
          video/mp4,video/x-m4v,video/*,video/3gp,video/3gpp" maxFileSize="10000000">
  </p-fileUpload>
</div>
