.inputInbox {
  height: 242px !important;
  max-height: 242px !important;
}
.stypeChatBot {  
  border: 1px solid #959595;
  .titleInbox {
    border-bottom: 1px solid #959595;
  }
  .contentInbox{
    height: 200px;
    overflow-y: scroll;
  }  
}
.hearder{
  font-size: 12px !important;
}
.message-row {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  .message{
    padding: 3px;
    width: 70%;
    border-radius: 5px;
  }
  small {
    float: right;
  }
}
.bv-message{
  .icon {
    width: 45px;
    height: 45px;
    background: url(/assets/images/voucher-detail/chat-icon-bv.png) top left no-repeat;
    float: right;
  }
  .message{
    float: right;
    background: #d4ebff;
    margin-right: 10px;
    word-break: break-word;
  }  
}
.gara-message{
  .icon {
    width: 45px;
    height: 45px;
    background: url(/assets/images/voucher-detail/chat-icon-gara.png) top left no-repeat;
    float: left;
  }
  .message {
    float: left;
    background: #ebebeb;
    margin-left: 10px;
  }  
}