<div class="row">
    <button class="btn btn-link" type="button" (click)="fixAttribute()" >
        Fix Attribute
    </button>
    <div class="bgc-white bd bdrs-3 p-20 mB-20  col-12 row">
        <div class="masonry-item col-md-6">
            <div class="row">
                <h4 class="c-grey-900 mB-20 col-sm-9 col-12">Màn hình import Sản phẩm</h4>
            </div>
            <!-- <div hidden class="row pl-3 pr-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Import</span>
                    </div>
                    <select class="form-control ng-pristine ng-valid ng-touched col-4" [(ngModel)]="typeImport"
                        (change)="changeType()">
                        <option value="1">Sản phẩm</option>
                        <option value="2">Thể loại</option>
                        <option value="3">Cập nhật sản phẩm theo mã NSX</option>
                    </select>
                    <button class="btn btn-primary" (click)="btnUploadClick(fileUpload)">Tải Lên </button>
                </div>
            </div> -->
        </div>
        <!-- <div hidden class="masonry-item col-md-6 noteImport">
            <div class="row txtCenter">
                <h4 class="c-grey-900 mB-20 col-12">Chú thích</h4>
            </div>
            <div class="row pl-3 pr-3 contentHelp">
                <div class="input-group mb-3">
                    <h5 class=" col-12"><b>Import Sản phẩm</b></h5>
                    <span class="col-12">Import sản phẩm mới vào hệ thống bằng file excel Cấu trúc như sau</span>
                    <span class="col-12 pt-4"><b>Cột A: </b> Cột Tên sản phẩm</span>
                    <span class="col-12 pl-5"><b>A1: </b> Tên thể loại. Phân biệt tên thể loại theo Cha con bằng dấu
                        ">" (VD: Category>Category1)</span>
                    <span class="col-12 pl-5"><b>A2: </b> Fix header "Name"</span>
                    <span class="col-12 pl-5"><b>A3: </b> Tên sản phẩm (Bỏ Trống mặc định lấy mã sản phẩn làm tên sản
                        phẩm)</span>
                    <span class="col-12 pt-4"><b>Cột B: </b> URL file PDF liên kết sản phẩm</span>
                    <span class="col-12 pl-5"><b>B1: </b> Bỏ trống</span>
                    <span class="col-12 pl-5"><b>B2: </b> Fix header "Datasheets"</span>
                    <span class="col-12 pl-5"><b>B3: </b> Url File</span>
                    <span class="col-12 pt-4"><b>Cột C: </b> URL file Ảnh liên kết sản phẩm</span>
                    <span class="col-12 pl-5"><b>C1: </b> Bỏ trống</span>
                    <span class="col-12 pl-5"><b>C2: </b> Fix header "Image"</span>
                    <span class="col-12 pl-5"><b>C3: </b> Url File Ảnh Import nhiều link ảnh bằng dấu ">" (VD:
                        url1>url2)</span>
                    <span class="col-12 pt-4"><b>Cột D: </b> Mã sản phẩm</span>
                    <span class="col-12 pl-5"><b>D1: </b> Bỏ trống</span>
                    <span class="col-12 pl-5"><b>D2: </b> Fix header "Digi-Key Part Number"</span>
                    <span class="col-12 pl-5"><b>D3: </b> Mã sản phẩm</span>
                    <span class="col-12 pt-4"><b>Cột E: </b> Mã nhà sản xuất</span>
                    <span class="col-12 pl-5"><b>E1: </b> Bỏ trống</span>
                    <span class="col-12 pl-5"><b>E2: </b> Fix header "Manufacturer Part Number"</span>
                    <span class="col-12 pl-5"><b>E3: </b> Mã nhà sản xuất</span>
                    <span class="col-12 pt-4"><b>Cột F: </b> Tên nhà sản xuất</span>
                    <span class="col-12 pl-5"><b>F1: </b> Bỏ trống</span>
                    <span class="col-12 pl-5"><b>F2: </b> Fix header "Manufacturer"</span>
                    <span class="col-12 pl-5"><b>F3: </b> Tên nhà sản xuất</span>
                </div>
            </div>
        </div> -->

        <!-- <a href="data:application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,/9j/4AAQSkZ..." download="assets/template/updatePrice.xlsx">fasfd</a> -->

    </div>
</div>
<!--end  Danh sach thuoc tinh con -->

<p-fileUpload name="files" class="displayDiv" [url]="urlupload" #fileUpload (onSelect)="onSelectedFiles(lgModal, fileUpload)"
    (onUpload)="onUploadSuccess($event, lgModal)" (onBeforeSend)="onBeforUpload($event, fileUpload)" (onError)="onUploadError($event, lgModal)"
    accept=" application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" maxFileSize="20000000"
    multiple="multiple">
</p-fileUpload>
<div bsModal #lgModal="bs-modal" class="modal fade pdfModal" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left">{{'bv-voucher-details.suitedocument.addNew'
                    |
                    translate}}</h4>
                <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p-progressBar [value]="progressBarPercent" *ngIf="progressBarPercent < 100"></p-progressBar>
                <ul *ngIf="uploadedFilesSuccess && progressBarPercent >= 100">
                    <li *ngFor="let file of uploadedFilesSuccess">{{file.name}} - {{file.size}} bytes
                        <br />
                        <span class="text-success">{{'bv-voucher-details.suitedocument.successfully' | translate}}</span>
                    </li>
                </ul>
                <ul *ngIf="uploadedFilesError && progressBarPercent >= 100">
                    <li *ngFor="let file of uploadedFilesError">
                        <div *ngIf="file.size === 0">
                            {{file.name}} - {{file.size}} bytes
                            <br />
                            <span class="text-danger">{{'bv-voucher-details.suitedocument.failUnAllowUploadFileZeroKb'
                                | translate}}</span>
                        </div>
                        <div *ngIf="file.size > 10000000">
                            {{file.name}} - {{file.size}} bytes
                            <br />
                            <span class="text-danger">{{'bv-voucher-details.suitedocument.failUnAllowUploadFileGreatThan10Mb'
                                | translate}}</span>
                        </div>
                    </li>
                </ul>
                <ul *ngIf="uploadedFilesErrorInvalid && progressBarPercent >= 100">
                    <li *ngFor="let file of uploadedFilesErrorInvalid">
                        <div>
                            {{file.value}}
                            <br />
                            <span class="text-danger">{{'bv-voucher-details.suitedocument.failWithWrongFormat' |
                                translate}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end dialog tao thuoc tinh chi tiet-->

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" (click)="this.blImport = !this.blImport; this.blImport2 = false; this.blImport3 = false" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Import Sản phẩm
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" [ngClass]="{'show': blImport }" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body contentHelp">
                <div class="input-group mb-3">
                    <!-- <h5 class=" col-12"><b>Import Sản phẩm</b></h5> -->
                    <div class="pl-4 pb-5">
                            <button class="btn btn-primary" (click)="btnUploadClick(fileUpload,1)">Tải Lên </button>
                    </div>
                    
                    <span class="col-12">Import sản phẩm mới vào hệ thống bằng file excel Cấu trúc như sau</span>
                    <span class="col-12 pt-4"><b>Cột A: </b> Cột Tên sản phẩm</span>
                    <span class="col-12 pl-5"><b>A1: </b> Tên thể loại. Phân biệt tên thể loại theo Cha con bằng dấu
                        ">" (VD: Category>Category1)</span>
                    <span class="col-12 pl-5"><b>A2: </b> Fix header "Name"</span>
                    <span class="col-12 pl-5"><b>A3: </b> Tên sản phẩm (Bỏ Trống mặc định lấy mã sản phẩn làm tên sản
                        phẩm)</span>
                    <span class="col-12 pt-4"><b>Cột B: </b> URL file PDF liên kết sản phẩm</span>
                    <span class="col-12 pl-5"><b>B1: </b> Bỏ trống</span>
                    <span class="col-12 pl-5"><b>B2: </b> Fix header "Datasheets"</span>
                    <span class="col-12 pl-5"><b>B3: </b> Url File</span>
                    <span class="col-12 pt-4"><b>Cột C: </b> URL file Ảnh liên kết sản phẩm</span>
                    <span class="col-12 pl-5"><b>C1: </b> Bỏ trống</span>
                    <span class="col-12 pl-5"><b>C2: </b> Fix header "Image"</span>
                    <span class="col-12 pl-5"><b>C3: </b> Url File Ảnh Import nhiều link ảnh bằng dấu ">" (VD:
                        url1>url2)</span>
                    <span class="col-12 pt-4"><b>Cột D: </b> Mã sản phẩm</span>
                    <span class="col-12 pl-5"><b>D1: </b> Bỏ trống</span>
                    <span class="col-12 pl-5"><b>D2: </b> Fix header "Digi-Key Part Number"</span>
                    <span class="col-12 pl-5"><b>D3: </b> Mã sản phẩm</span>
                    <span class="col-12 pt-4"><b>Cột E: </b> Mã nhà sản xuất</span>
                    <span class="col-12 pl-5"><b>E1: </b> Bỏ trống</span>
                    <span class="col-12 pl-5"><b>E2: </b> Fix header "Manufacturer Part Number"</span>
                    <span class="col-12 pl-5"><b>E3: </b> Mã nhà sản xuất</span>
                    <span class="col-12 pt-4"><b>Cột F: </b> Tên nhà sản xuất</span>
                    <span class="col-12 pl-5"><b>F1: </b> Bỏ trống</span>
                    <span class="col-12 pl-5"><b>F2: </b> Fix header "Manufacturer"</span>
                    <span class="col-12 pl-5"><b>F3: </b> Tên nhà sản xuất</span>
                    <span class="col-12 pt-4"><b>Cột G: </b> Mô tả Sản phẩm</span>
                    <span class="col-12 pl-5"><b>G1: </b> Bỏ trống</span>
                    <span class="col-12 pl-5"><b>G2: </b> Fix header "Description"</span>
                    <span class="col-12 pl-5"><b>G3: </b> Mô tả</span>
                    <span class="col-12 pt-4"><b>Cột H: </b> Số lượng sản phẩm trong kho nhà máy</span>
                    <span class="col-12 pl-5"><b>H1: </b> Bỏ trống</span>
                    <span class="col-12 pl-5"><b>H2: </b> Fix header "Quantity Available"</span>
                    <span class="col-12 pl-5"><b>H3: </b> số lượng </span>
                    <span class="col-12 pt-4"><b>Cột I: </b> Số lượng sản phẩm trong kho</span>
                    <span class="col-12 pl-5"><b>I1: </b> Bỏ trống</span>
                    <span class="col-12 pl-5"><b>I2: </b> Fix header "Factory Stock"</span>
                    <span class="col-12 pl-5"><b>I3: </b> số lượng </span>
                    <span class="col-12 pt-4"><b>Cột J: </b> Giá sản phẩm</span>
                    <span class="col-12 pl-5"><b>J1: </b> Bỏ trống</span>
                    <span class="col-12 pl-5"><b>J2: </b> Fix header "Unit Price"</span>
                    <span class="col-12 pl-5"><b>J3: </b> Giá (VD: 1000000) </span>
                    <span class="col-12 pt-4"><b>Cột K: </b> Số lượng</span>
                    <span class="col-12 pl-5"><b>K1: </b> Bỏ trống</span>
                    <span class="col-12 pl-5"><b>K2: </b> Fix header "@ qty"</span>
                    <span class="col-12 pl-5"><b>K3: </b> Số lượng (chưa dùng) </span>
                    <span class="col-12 pt-4"><b>Cột L: </b> Số lượng Mua tối thiểu</span>
                    <span class="col-12 pl-5"><b>L1: </b> Bỏ trống</span>
                    <span class="col-12 pl-5"><b>L2: </b> Fix header "Minimum Quantity"</span>
                    <span class="col-12 pl-5"><b>L3: </b> Số lượng (VD: 10) </span>
                    <span class="col-12 pt-4"><b>Cột M: </b> Thuộc tính</span>
                    <span class="col-12 pl-5"><b>M1: </b> Bỏ trống</span>
                    <span class="col-12 pl-5"><b>M2: </b> Tên thuộc tính "VD: Series"</span>
                    <span class="col-12 pl-5"><b>M3: </b> Tên thuộc tính chi tiết (VD: Z-PACK) </span>
                    <span class="col-12 pt-4"><b>Cột N,O,P..: </b>Đều là thuộc tính, Tương tự Cột M</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button"
                 data-toggle="collapse" data-target="#collapseTwo" 
                 (click)="this.blImport2 = !this.blImport2; this.blImport = false; this.blImport3 = false" 
                    aria-expanded="false" aria-controls="collapseTwo">
                    Import Thể loại
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse"  [ngClass]="{'show': blImport2 }" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body contentHelp">
                <div class="input-group mb-3">
                    <!-- <h5 class=" col-12"><b>Import Sản phẩm</b></h5> -->
                    <div class="pl-4 pb-5">
                            <button class="btn btn-primary" (click)="btnUploadClick(fileUpload,2)">Tải Lên </button>
                    </div>
                    <span class="col-12">Import Thể loại mới vào hệ thống bằng file excel Cấu trúc như sau</span>
                    <span class="col-12 pt-4"><b>Tên sheet: </b> Tên thể loại Cha, Cột A là tên các thể loại Con</span>
                    <span class="col-12 pt-4"><b>Cột A: </b> Cột Tên Thể loại sản phẩm</span>
                    <span class="col-12 pl-5"><b>A1: </b> Fix header "Name"</span>
                    <span class="col-12 pl-5"><b>A2: </b> Tên thể loại</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" 
                (click)="this.blImport3 = !this.blImport3; this.blImport = false; this.blImport2 = false" 
                data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Import Tên, thông tin giá, số lượng, mã Tên theo Mã LK
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" [ngClass]="{'show': blImport3 }" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body contentHelp">
                <div class="input-group mb-3">
                    <!-- <h5 class=" col-12"><b>Import Sản phẩm</b></h5> -->
                    <div class="pl-4 pb-5">
                            <button class="btn btn-primary" (click)="btnUploadClick(fileUpload,3)">Tải Lên </button>
                    </div>
                    <span class="col-12">Import File Cập nhật Tên sản phẩm, Số lượng, Giá theo Mã sản phẩm (LK) vào hệ thống bằng file excel Cấu trúc như sau</span>
                    <span class="col-12 pt-4"><b>Cột A: </b> Mã LK</span>
                    <span class="col-12 pl-5"><b>A1: </b> Fix header "Mã LK"</span>
                    <span class="col-12 pl-5"><b>A2: </b> Mã sản phẩm</span>
                    <span class="col-12 pt-4"><b>Cột B: </b> Tên sản phẩm</span>
                    <span class="col-12 pl-5"><b>B1: </b> Fix header "Tên sản phẩm"</span>
                    <span class="col-12 pl-5"><b>B2: </b> Nhập tên sản phẩm</span>
                    <span class="col-12 pt-4"><b>Cột C: </b> Số lượng</span>
                    <span class="col-12 pl-5"><b>C1: </b> Fix header "Số lượng"</span>
                    <span class="col-12 pl-5"><b>C2: </b> Nhập số lượng sản phẩm VD:1000</span>
                    <span class="col-12 pt-4"><b>Cột D: </b> Giá sản phẩm</span>
                    <span class="col-12 pl-5"><b>D1: </b> Fix header "Giá"</span>
                    <span class="col-12 pl-5"><b>D2: </b> Nhập giá sản phẩm VD:100000</span>
                    <span class="col-12 pt-4"><b>Cột E: </b> Số lượng mua tối thiểu</span>
                    <span class="col-12 pl-5"><b>E1: </b> Fix header "MinOrder"</span>
                    <span class="col-12 pl-5"><b>E2: </b> Nhập giá sản phẩm VD:10</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree4">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" 
                (click)="this.blImport4 = !this.blImport4; this.blImport = false; this.blImport2 = false; this.blImport3 = false" 
                data-toggle="collapse" data-target="#collapseThree4"
                    aria-expanded="false" aria-controls="collapseThree4">
                    Import List giá
                </button>
            </h5>
        </div>
        <div id="collapseThree4" class="collapse" [ngClass]="{'show': blImport4 }" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body contentHelp">
                <div class="input-group mb-3">
                    <!-- <h5 class=" col-12"><b>Import Sản phẩm</b></h5> -->
                    <div class="pl-4 pb-5">
                            <button class="btn btn-primary" (click)="btnUploadClick(fileUpload,4)">Tải Lên </button>
                    </div>
                    <!-- <span class="col-12">Import File Cập nhật Tên sản phẩm, Số lượng, Giá, Mã Sản phẩm theo Mã Nhà Sản xuất vào hệ thống bằng file excel Cấu trúc như sau</span>
                    <span class="col-12 pt-4"><b>Cột A: </b> Mã nhà sản xuất</span>
                    <span class="col-12 pl-5"><b>A1: </b> Fix header "Mã Nhà sản xuất"</span>
                    <span class="col-12 pt-4"><b>Cột E: </b> Giá sản phẩm</span>
                    <span class="col-12 pl-5"><b>E1: </b> Fix header "Giá"</span>
                    <span class="col-12 pl-5"><b>E2: </b> Nhập giá sản phẩm VD:100000</span> -->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.collapse').collapse()
</script>