  .wrapTitle{    
    .icon-folder{
      background-image: url(/assets/images/basket/icon-folder.png);
    }
  }  
  .form-inline{
    border-top: 1px solid #bdbdbd24;
  }
  .borderBox{
    box-shadow: 0px 8px 7px 0px #00000029;
  }
  .pd-10{
    padding: 10px;
  }
  .red{
    background-color:red;
    background-image:none;
  }
  
  .normal{
    background-color:blue;
    background-image:none;
  }
  
  .table-scroll {
    display: block;
    max-height: 225px;
    overflow-y: scroll;
}