<div class="row gap-20">
    <div class="col-md-3">
       <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
             <h6 class="lh-1">Tổng số sản phẩm</h6>
          </div>
          <div class="layer w-100">
             <div class="peers ai-sb fxw-nw">
                <div class="peer peer-greed">
                   <span id="sparklinedash">
                      <canvas width="45" height="20" style="display: inline-block; width: 45px; height: 20px; vertical-align: top;"></canvas>
                   </span>
                </div>
                <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{countProduct}}</span></div>
             </div>
          </div>
       </div>
    </div>
    <div class="col-md-3">
       <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
             <h6 class="lh-1">Tổng số đơn hàng</h6>
          </div>
          <div class="layer w-100">
             <div class="peers ai-sb fxw-nw">
                <div class="peer peer-greed">
                   <span id="sparklinedash2">
                      <canvas width="45" height="20" style="display: inline-block; width: 45px; height: 20px; vertical-align: top;"></canvas>
                   </span>
                </div>
                <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">{{countOrder}}</span></div>
             </div>
          </div>
       </div>
    </div>
    <div class="col-md-3">
       <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
             <h6 class="lh-1">Tổng số khách hàng</h6>
          </div>
          <div class="layer w-100">
             <div class="peers ai-sb fxw-nw">
                <div class="peer peer-greed">
                   <span id="sparklinedash3">
                      <canvas width="45" height="20" style="display: inline-block; width: 45px; height: 20px; vertical-align: top;"></canvas>
                   </span>
                </div>
                <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">{{countCustomer}}</span></div>
             </div>
          </div>
       </div>
    </div>
    <div class="col-md-3">
       <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
             <h6 class="lh-1">Số Đơn hàng mới
             </h6>
          </div>
          <div class="layer w-100">
             <div class="peers ai-sb fxw-nw">
                <div class="peer peer-greed">
                   <span id="sparklinedash4">
                      <canvas width="45" height="20" style="display: inline-block; width: 45px; height: 20px; vertical-align: top;"></canvas>
                   </span>
                </div>
                <div class="peer"><span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500">33%</span></div>
             </div>
          </div>
       </div>
    </div>
 </div>