@media all and (min-width: 768px) and (max-width: 1366px) {
  .container-fluid-body {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top:-36px;
  }

}
.container-fluid-body {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 30px;
  margin-top:-36px;
}

