<div class="gara-list">
	<div class="modal-header">
	  <h4 class="modal-title">Tìm kiếm gara</h4>
	  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">

		<h2 class="eclaim-title eclaim-title-custom"><i class="fa fa-search" aria-hidden="true"></i> Tiêu chí tìm kiếm </h2>

		<div class="form-group row">
			<label class="col-2">Tỉnh/Thành phố</label>
			<div class="col-2 form-inline">
		        <ng-select class="custom form-control" 
		        	[items]="cities"
					bindLabel="city"
					[loading]="citySearchLoading"
					[searchFn]="customSearchFn" 
					[(ngModel)]="searchCityModel" 
					(ngModelChange)="onChangeCity()"
					notFoundText="{{'bv-gara.search.notFoundText' | translate}}">
					<ng-template ng-option-tmp let-item="item">
						{{item.city}}
					</ng-template>
				</ng-select>
			</div>
			<label class="col-2">Quận/Huyện</label>
			<div class="col-3 form-inline">
				<ng-select class="custom form-control" 
					[items]="districts"
					bindLabel="city"
					[loading]="citySearchLoading"
					[searchFn]="customSearchDistrictFn" 
					[(ngModel)]="searchDistrictModel"
					notFoundText="{{'bv-gara.search.notFoundText' | translate}}">
					<ng-template ng-option-tmp let-item="item">
						{{item.city}}
					</ng-template>
				</ng-select>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-2">Gara/Xưởng sửa chữa</label>
			<div class="col-7">
				<input [(ngModel)]="searchGaraParams.query" type="text" class="form-control" placeholder="Nhập tên gara/Xưởng sửa chữa">
			</div>
			<div class="col-3 text-align-right">
				<button (click)="searchGara()" class="btn btn-eclaim mr-3" type="button">Tìm kiếm</button>
				<button (click)="searchReset()" class="btn btn-eclaim mr-3" type="button">Xác lập lại</button>
			</div>
		</div>
		<h2 class="eclaim-title"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Nhà sửa chữa</h2>
		<p-messages [(value)]="msgs"></p-messages>
		<div class="container">
			<table class="table table-bordered table-hover gara-table">
			    <thead>
				    <tr>
				    	<th style="width: 5%">STT</th>
				        <th style="width: 20%">Tên Gara</th>
				        <th style="width: 20%">Địa chỉ</th>
				        <th style="width: 16%">Số điện thoại</th>
				        <th style="width: 22.25%">Email</th>
				        <th >Mã số thuế</th>
				    </tr>
			    </thead>
			</table>
			<div #scrolledContents id="scroll-to-top" class="table-scroll" [bvGaraDirective]="'bottom'" (onLoadmore)="loadMore()">
			  	<table class="table table-hover gara-table">
			  		<!--
			  		<thead>
					    <tr>
					    	<th>STT</th>
					        <th>Tên Gara</th>
					        <th>Địa chỉ</th>
					        <th>Số điện thoại</th>
					        <th>Email</th>
					        <th>Mã số thuế</th>
					    </tr>
				    </thead>
					-->
				    <tbody #cm>
						<!-- <tr *ngFor="let gara of garas; let i = index" (click)="onSelectGara(gara)" (mouseover)="onMouseOver(gara)"> -->
						<tr *ngFor="let gara of garas; let i = index" (dblclick)="onDoubleClickGara(gara)" (mouseover)="onMouseOver(gara)">
					        <td style="width: 5%">{{i+1}}</td>
					        <td style="width: 20%">{{gara.nameVN}}</td>
					        <td style="width: 20%">{{gara.address}}</td>
					        <td style="width: 16%">{{gara.phoneNumber}}</td>
					        <td  style="width: 19%" class="email">{{gara.email}}</td>
					        <td style="width: 15%">{{gara.taxCode}}</td>
					    </tr>
					    <tr *ngIf="garas.length === 0">
					    	<td colspan="6"><label>Không tìm thấy gara</label></td>
					    </tr>
				    </tbody>
			  	</table>
				  <p-progressBar *ngIf="isLoading" mode="indeterminate"></p-progressBar>
				  <!-- <p-contextMenu [global]="true" [model]="items" appendTo="body"></p-contextMenu> -->
				  <p-contextMenu [target]="cm" appendTo="body" [model]="items"></p-contextMenu>
			</div>
		</div>

		<div class="clear-fix"></div>

		<div *ngIf="!isShowCreateGara" class="form-group row">
			<label class="col-12">Không tìm thấy? <a (click)="showCreateGara()">Nhấn vào đây</a> để tạo mới Xưởng sửa chữa</label>
		</div>
		<bv-gara-create *ngIf="isShowCreateGara" 
			(isClose)="getEventSaveGara($event)">
		</bv-gara-create>
	</div>

</div>