a {
	cursor: pointer;
    color: #0056b3 !important;
    text-decoration: underline !important;
}

.clear-fix {
	margin-top: 30px;
}

.gara-xlModal > .modal-dialog {
    max-width: 1490px !important;
    width: 100% !important;
}

.modal-lg {
  max-width: 1000px !important;
}
.modal-title {
	text-transform: uppercase;
}

.gara-list {

	.text-align-right {
		text-align: right;
	}

	.eclaim-title-custom {
	    width: 30% !important;
	}

	ng-select, select, input {
		width: 100%;
	}

	label {
		padding-top: 8px;
		color: #72777a !important;
	}

	.container {
		padding: 0px !important;
	}

	.table-scroll {
		display: block;
	    max-height: 142px;
	    /*max-height: calc(100% - 100px);*/
	    overflow-y: scroll;
	}

	.tbody-scroll {
		display: block; 
		max-height: 230px;
    	overflow-y: scroll;
	}

	.gara-table {

		.tr-active {
			background-color: #69c1b8;
    		color: white;
		}

		thead {
			background-color: #93c9ef;
		}
		tr:hover {
			cursor: pointer;
		}
		.email {
			cursor: pointer;
    		color: #0056b3 !important;
    		text-decoration: underline;
		}
	}

	.table {
		margin-bottom: 0px !important;
	}
}