<div class="modal-body">
  <h2 class="eclaim-title">
    <img style="padding-right: 5px;" src="assets/images/basket/icon-update-document.png" /> Cập nhật bộ chứng từ</h2>
  <div class="row ml-1">
    <label class="col-xl-2 col-lg-2 col-md-4 col-sm-12 ">Số hợp đồng bồi thường</label>
    <div class="col-xl-4 col-lg-3 col-md-6 col-sm-10 ">
      <div class="input-group mb-3">
        <input class="form-control" type="text" />
        <button class="btn btn-outline-secondary">Tìm kiếm</button>
      </div>
    </div>
    <label class="col-xl-3 col-lg-3 col-md-6 col-sm-12">Biển số xe: 29X1-25518</label>
    <label class="col-xl-3 col-lg-3 col-md-6 col-sm-12">Khách hàng: ok</label>
  </div>
  <div class="row ml-1">
    <label class="col-xl-2 col-lg-2 col-md-4 col-sm-12 ">Nhà cung cấp</label>
    <div class="col-xl-4 col-lg-3 col-md-6 col-sm-10">
      <div class="input-group mb-3">
        <select class="form-control">
          <option value="">Tất cả</option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <p-dataTable [value]="" selectionMode="single" emptyMessage="Không có bản ghi">
      <p-column field="" header="{{'bv-voucher-details.suitedocument.table.stt' | translate}}">
        <ng-template let-col let-obj="rowData" let-i="rowIndex" pTemplate="body">
          <p class="txtCenter">{{i+1}}</p>
        </ng-template>
      </p-column>
      <p-column field="registrationNo" header="{{'bv-voucher-details.suitedocument.table.nameDocument' | translate}}">
        <ng-template let-col let-obj="rowData" pTemplate="body">
          <p class="txtCenter">{{obj}}</p>
        </ng-template>
      </p-column>
      <p-column field="policyNumber" header="{{'bv-voucher-details.suitedocument.table.Status' | translate}}">
        <ng-template let-col let-obj="rowData" pTemplate="body">
          <p class="txtCenter">
            <a onclick="openFilePDF(obj.policyNumber)">{{obj.policyNumber}}</a>
          </p>
        </ng-template>
      </p-column>
      <p-column field="dateOfLoss" header="{{'bv-voucher-details.suitedocument.table.time' | translate}}">
        <ng-template let-col let-obj="rowData" pTemplate="body">
          <p class="txtCenter">{{obj}}</p>
        </ng-template>
      </p-column>
      <p-column field="claimNumber" header="{{'bv-voucher-details.suitedocument.table.file' | translate}}">
        <ng-template let-col let-obj="rowData" pTemplate="body">
          <p class="txtCenter">{{obj.claimNumber}}</p>
        </ng-template>
      </p-column>
      <p-column field="" header="{{'bv-voucher-details.suitedocument.table.function' | translate}}">
        <ng-template let-col let-obj="rowData" pTemplate="body">
          <p class="txtCenter">{{obj}}</p>
        </ng-template>
      </p-column>
    </p-dataTable>
    <!--<p-contextMenu #cm [model]="items" appendTo="body"></p-contextMenu>-->
  </div>
  <div class="row ml-1">
      <label class="col-12 text-capitalize">Tổng số hồ sơ đã cập nhật: {{7/ 14}}</label>
  </div>
  <div class="row ml-1">
    <label class="col-xl-2 col-lg-4 col-md-12 col-sm-12">Tin nhắn</label>
    <div class="col-xl-4 col-lg-8 col-md-12 col-sm-12">
        <div class="input-group mb-3">
            <textarea type="text" class="form-control inputInbox" placeholder=""></textarea>
            <button class="btn btn-outline-secondary btlInbox">Gửi</button>
          </div>
    </div>
    <div class="col-xl-1"></div>
    <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12">
      <div class="input-group mb-3">
          <h3 class="col-12 titleInbox">Lịch sử trao đổi tin nhắn</h3>
          <div class="col-12 contentInbox">
            test inbox
          </div>
      </div>
    </div>
  </div>
</div>