<div class="row gap-20 masonry pos-r">
    <div class="masonry-item col-md-6">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">Nhà sản xuất</h6>
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <label class="col-12 pl-0">Tên nhà sản xuất <i class="fa fa-asterisk requisIcon" style="color: red;font-size: 11px"
                                aria-hidden="true"></i></label>
                        <input class="form-control col-12" (blur)="validate('name')" (blur)="validate('name'); changeSlugByname();"
                            type="text" name="manuName" [(ngModel)]="selectManufactures.name" [ngClass]="{'mandatoryInput': !selectManufactures || selectManufactures.blname}" />
                        <label style="color: red !important;" *ngIf="(!selectManufactures || selectManufactures.blname)">Trường
                            bắt buộc nhập</label>
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Slug</label>
                        <input class="form-control col-12" type="text" maxlength="256" (blur)="setSlugOnchange()" name="slug"
                            [(ngModel)]="selectManufactures.slug" />
                    </div>
                    <!-- <div class="form-group">
                        <label class="col-12 pl-0">Mô tả</label>
                        <input class="form-control col-12" type="text" name="description" [(ngModel)]="selectManufactures.description" />
                    </div> -->
                    <div class="form-group">
                        <label class="col-12 pl-0">Website </label>
                        <input class="form-control col-12" type="text" name="website" [(ngModel)]="selectManufactures.website" />
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Địa chỉ </label>
                        <input class="form-control col-12" type="text" name="address" [(ngModel)]="selectManufactures.address" />
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Mô tả</label>
                        <!-- <input class="form-control col-12" type="text" name="description" [(ngModel)]="selectManufactures.description" /> -->
                        <ckeditor [(ngModel)]="selectManufactures.description" name="description" #myckeditor>
                        </ckeditor>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="masonry-item col-md-6">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">SEO</h6>
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <label class="col-12 pl-0">Seo Title <i class="fa fa-asterisk requisIcon" style="color: red;font-size: 11px"
                                aria-hidden="true"></i></label>
                        <input class="form-control col-12" type="text" (blur)="validate('seoTitle')" (change)="validate('seoTitle')"
                            name="seoTitle" maxlength="256" [(ngModel)]="selectManufactures.seoTitle" [ngClass]="{'mandatoryInput': !selectManufactures || selectManufactures.blSeoTitle}" />
                        <label style="color: red !important;" *ngIf="(!selectManufactures || selectManufactures.blSeoTitle)">Trường
                            bắt buộc nhập</label>
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Seo Keywords <i class="fa fa-asterisk requisIcon" style="color: red;font-size: 11px"
                                aria-hidden="true"></i></label>
                        <input class="form-control col-12" type="text" (blur)="validate('seoKeywords')" (change)="validate('seoKeywords')"
                            name="seoKeywords" [(ngModel)]="selectManufactures.seoKeywords" [ngClass]="{'mandatoryInput': !selectManufactures || selectManufactures.blSeoKeywork}" />
                        <label style="color: red !important;" *ngIf="(!selectManufactures || selectManufactures.blSeoKeywork)">Trường
                            bắt buộc nhập</label>
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Seo Description <i class="fa fa-asterisk requisIcon" style="color: red;font-size: 11px"
                                aria-hidden="true"></i></label>
                        <input class="form-control col-12" type="text" (blur)="validate('seoDescription')" (change)="validate('seoDescription')"
                            name="seoDescription" [(ngModel)]="selectManufactures.seoDescription" [ngClass]="{'mandatoryInput': !selectManufactures || selectManufactures.blSeoDepcription}" />
                        <label style="color: red !important;" *ngIf="(!selectManufactures || selectManufactures.blSeoDepcription)">Trường
                            bắt buộc nhập</label>
                    </div>
                    <div class="form-group">
                        <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                            <input type="checkbox" id="inputCall2" name="inputCheckboxesCall" [(ngModel)]="selectManufactures.blSeoIndex"
                                class="peer">
                            <label for="inputCall2" class="peers peer-greed js-sb ai-c"><span class="peer peer-greed">Seo
                                    Index</span></label></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">LOGO</h6>
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <label class="actionLinkSearch col-12 pl-0 cursorPointer" (click)="btnUploadClick(fileUpload)">
                            Upload</label>
                        <input class="form-control col-12" type="text" maxlength="256" name="logo" [(ngModel)]="selectManufactures.logoImage" />
                        <div class="col-sm-5 col-12 pt-2 pb-2" *ngIf="selectManufactures.logoImage">
                            <img src="{{selectManufactures.logoImage}}" class="img-fluid col-12 pt-2 pb-2"  onerror="imageError(this)"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="masonry-item col-md-12">
        <div class="col-12 txtCenter">
            <button class="btn btn-primary mr-3" title="Save" (click)="updateManufact()">Lưu</button>
            <button class="btn btn-primary mr-3" title="Bank" (click)="bankmanagemanufact()">Quay lại</button>
        </div>
    </div>
    <div bsModal #lgModal="bs-modal" class="modal fade pdfModal" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="dialog-sizes-name1" class="modal-title pull-left">{{'bv-voucher-details.suitedocument.addNew'
                        |
                        translate}}</h4>
                    <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p-progressBar [value]="progressBarPercent" *ngIf="progressBarPercent < 100"></p-progressBar>
                    <ul *ngIf="uploadedFilesSuccess && progressBarPercent >= 100">
                        <li *ngFor="let file of uploadedFilesSuccess">{{file.name}} - {{file.size}} bytes
                            <br />
                            <span class="text-success">{{'bv-voucher-details.suitedocument.successfully' | translate}}</span>
                        </li>
                    </ul>
                    <ul *ngIf="uploadedFilesError && progressBarPercent >= 100">
                        <li *ngFor="let file of uploadedFilesError">
                            <div *ngIf="file.size === 0">
                                {{file.name}} - {{file.size}} bytes
                                <br />
                                <span class="text-danger">{{'bv-voucher-details.suitedocument.failUnAllowUploadFileZeroKb'
                                    | translate}}</span>
                            </div>
                            <div *ngIf="file.size > 10000000">
                                {{file.name}} - {{file.size}} bytes
                                <br />
                                <span class="text-danger">{{'bv-voucher-details.suitedocument.failUnAllowUploadFileGreatThan10Mb'
                                    | translate}}</span>
                            </div>
                        </li>
                    </ul>
                    <ul *ngIf="uploadedFilesErrorInvalid && progressBarPercent >= 100">
                        <li *ngFor="let file of uploadedFilesErrorInvalid">
                            <div>
                                {{file.value}}
                                <br />
                                <span class="text-danger">{{'bv-voucher-details.suitedocument.failWithWrongFormat' |
                                    translate}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p-fileUpload name="files" class="displayDiv" [url]="urlupload" #fileUpload (onSelect)="onSelectedFiles(lgModal, fileUpload)"
        (onUpload)="onUploadSuccess($event, lgModal)" (onBeforeSend)="onBeforUpload($event, fileUpload)" (onError)="onUploadError($event, lgModal)"
        accept="image/*" maxFileSize="10000000">
    </p-fileUpload>
</div>