.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
.actionLinkSearch {
    color: #007bff !important;
    text-decoration: underline !important;
  }
  
  .requisIcon {
    color: red;
    font-size: 11px;
    position: relative;
    top: -6px;
    left: 3px;
}