.page-top {
  background: url('/assets/images/header-bg.png') center center;
  // background:#becbfd;
  position: fixed;
  // z-index: 9779 !important;
  padding: 0 30px;
  width: 100%;
  min-width: 320px;
  color: #ffffff;
  height: 80px;
}

.head-logo-left{
  float: left;
  width: 40%;
  height:100px;
  // text-align: center;
}
.head-logo-right{
  float: right;
  width: 60%;
  height:80px;
}
.head-logo-left img{
  margin: 10px 0 0 0;
  height: 57%;
}
.head-logo-right H1{
  height: 100%;
    text-align: right;
    padding-top: 18px;
    font-size: 18px;
    padding-right: 0;
    font-weight: bold;

}

.form-signin {
  width: 100%;
  max-width: 445px;
  padding: 170px 15px 15px 15px;
  margin: auto;
}

input.form-control{
  height: 45px;
  border-radius: 0;
  border: 1px solid #959595;
  padding-right: 35px;
  margin-bottom: 17px;
}

#username{
  background: url('/assets/images/login-email-icon.png') center right 7px no-repeat;
  margin-top: 30px;
}
#inputPassword{
  background: url('/assets/images/login-password-icon.png') center right 7px no-repeat;
}

div.checkbox{
  margin-bottom: 10px;
  width:100%;
  float: left;
}

a {
  font-weight: bold;
  color:#005aaa;
}

#btnLogin{
  background: #cca44d;
  border: #CCA44D;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px #7f5802;
  height: 52px;
  margin-bottom:17px;
}
.wrap-loader{   
  box-sizing: border-box;
  display: none;   
  position: fixed; 
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}
.wrap-loader.is-open {
  display: block;
}
.box-loader {    
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  background: #fff;
  opacity: 0.5;
  z-index: 1;
}
.loader{
  width: 64px;
  height: 64px;
  margin: 20% auto;
}
.loader img{
  position: absolute;
  opacity: 0.9;
  z-index: 2;
}