<div class="page-top clearfix" baScrollPosition maxHeight="200">
  <div maxHeight="100" class="head-logo">
    <div maxHeight="100" class="head-logo-left">
      <img src="/assets/images/logotranzi.png" title="Home" />
    </div>
    <div maxHeight="100" class="head-logo-right">
      <!-- <H1 translate>{{'general.header-Logo'}}</H1> -->
      <H1>   </H1>
    </div>
  </div>
</div>

<form class="form-signin text-center" [formGroup]="loginForm" (submit)="onSubmit()">
  <img src="/assets/images/login-avatar.png" style="width: 128px;" alt="">
  <input [ngClass]="{'mandatoryInput': blCheck }" type="text" id="username" class="form-control" placeholder="Email"
    formControlName="username">
  <input [ngClass]="{'mandatoryInput': blCheck }" type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu"
    formControlName="password">
  <label style="color: red;" *ngIf="blCheck">{{errerM}}</label>
  <div class="checkbox">
    <label class="pull-left">
      <input type="checkbox" value="remember-me"> Lưu mật khẩu
    </label>
    <a [routerLink]="['/auth/forgotpassword']" class="pull-right">Quên mật khẩu?</a>
  </div>
  <button class="btn btn-lg btn-primary btn-block btn-eclaim" id="btnLogin" type="submit" [disabled]="loginForm.pristine || loginForm.invalid">ĐĂNG
    NHẬP</button>
  <div>
    <a [routerLink]="['/auth/register']">Chưa có tài khoản?</a>
  </div>
</form>

<div class="wrap-loader" [ngClass]="{'is-open' : isShowLoader}">
  <div class="box-loader">
  </div>
  <div class="loader">
    <img src='/assets/images/loading.gif' />
  </div>
</div>