<div class="row">
  <div class="bgc-white bd bdrs-3 p-20 mB-20 col-sm-12 col-12">
    <div class="row">
      <h4 class="c-grey-900 mB-20 col-sm-9 col-12">Thêm sản phẩm vào Kho</h4>
      <div class=" col-sm-3 col-12 txtRight pr-0">
        <button class="btn btn-primary mr-3 mb-2 " (click)="backListInventory()">
          <i class="fa fa-arrow-circle-left pr-2"></i>Quay lại danh sách kho</button>
      </div>
    </div>
    <div class="row pl-3 pr-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Chọn Kho</span>
        </div>
        <select class="form-control col-4" name="trafficPoliceFlag" (change)="loadProductByArea()" [(ngModel)]="this.inventoryAreaId">
          <option *ngFor="let objstatus of listComboInventoryArea" [ngValue]="objstatus.id">
            {{objstatus.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="row pl-3 pr-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Tìm kiếm</span>
        </div>
        <input aria-label="Default" class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="txtSearch" name="txtSearch"
          placeholder="Tên/ Mã sản phẩm/ Mã nhà sản xuất" type="text" (keyup.enter)="loadProductByArea()" (blur)="loadProductByArea()">
      </div>
    </div>
    <div class="scrollTable">
      <table class="table table-bordered tableAttributes ">
        <thead>
          <tr>
            <th scope="col" style="width: 10%;">
              <input class="ng-pristine ng-valid ng-touched" [(ngModel)]="checkAll" (change)="changeCheckAll()" name="checkAll"
                type="checkbox">
            </th>
            <th scope="col" style="width: 40%;">Tên sản phẩm</th>
            <th scope="col" class="NotShowDepcripton" style="width: 25%;">Mã sản phẩm</th>
            <th scope="col" class="NotShowDepcripton" style="width: 25%;">Mã nhà sản xuất</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cate of listProduct; let i = index">
            <td scope="col" class="txtCenter">
              <input class="ng-pristine ng-valid ng-touched" [(ngModel)]="cate.blActived" (change)="checkSelectedAll()"
                name="check{{i}}}" type="checkbox">
            </td>
            <td scope="col" class="NotShowDepcripton" title="{{cate.name}}">{{cate.name}}</td>
            <td scope="col" class="NotShowDepcripton txtCenter" title="{{cate.address}}">{{cate.sku}}</td>
            <td scope="col" title="{{cate.depcription}}" class="NotShowDepcripton txtCenter">{{cate.orginSku}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="!listProduct || listProduct.length===0 " class="borderrow "><label>Không tìm thấy kết quả</label></div>
    <div class="row pl-3 pr-3" [ngClass]="{'displayDiv':!listProduct || listProduct.length===0  }">
      <div class="input-group mb-3">
        <div class="input-group-prepend left-total">
          <span class="" id="inputGroup-sizing-default">Tổng: {{totalPage}}</span>
        </div>
        <div class="right-total">
          <p-paginator [rows]="10" [totalRecords]="this.totalPage" [ngClass]="{'displayDiv': !listProduct || listProduct.length===0 }"
            [rowsPerPageOptions]="[10,20,30,50,100]" (onPageChange)="paginate($event)"></p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 txtCenter">
  <button class="btn btn-primary mr-3 mb-2 " (click)="submitOk();">
    <i class="fa fa-check pr-2"></i>Lưu</button>
</div>