<div class="row gap-20 masonry pos-r">
    <div class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">Thông tin cài đặt</h6>
            <div class="mT-30">
                <form>
                    <div class="row form-group">
                        <div class="col-6">
                            <label class="col-12 pl-0">Key <i class="fa fa-asterisk requisIcon"
                                    aria-hidden="true"></i></label>
                            <input class="form-control col-12" (blur)="changeBlurKey()" type="text" name="namestu"
                                maxlength="250" [(ngModel)]="selectSetting.key"
                                [ngClass]="{'mandatoryInput': (!selectSetting || !selectSetting.key) && blKey}" />
                            <label style="color: red !important;"
                                *ngIf="(!selectSetting || !selectSetting.key) && blKey">Trường
                                bắt buộc nhập</label>
                        </div>
                        <div class="col-6">
                            <label class="col-12 pl-0">Type <i class="fa fa-asterisk requisIcon"
                                    aria-hidden="true"></i></label>
                            <select class="form-control col-12" name="typeSetting" [(ngModel)]="selectSetting.type" (change)="changeType()" >
                                <option value="image">Image</option>
                                <option value="string">String</option>
                                <option value="arr_numb">arr_numb</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label class="col-12 pl-0">Title</label>
                            <input class="form-control col-12" type="text" maxlength="250" name="slug"
                                [(ngModel)]="selectSetting.title" />
                        </div>
                        <div class="col-6">
                            <label *ngIf="selectSetting.type != 'image'" class="col-12 pl-0">Value</label>
                            <input *ngIf="selectSetting.type != 'image'" class="form-control col-12" type="text"
                                maxlength="250" name="slug" [(ngModel)]="selectSetting.value" />
                            <label *ngIf="selectSetting.type == 'image'"
                                class="actionLinkSearch col-12 pl-0 cursorPointer" (click)="btnUploadClick(fileUpload)">
                                Image </label>
                                <img *ngIf="selectSetting.type == 'image' && selectSetting.value" style="max-width: 90px !important;border: 1px solid #ddd !important;" src="{{selectSetting.value}}"   class="img-fluid  pt-2 pb-2" onerror="imageError(this)" />
                        </div>


                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label class="col-12 pl-0">Url </label>
                            <input class="form-control col-12" type="text" maxlength="250"
                                [(ngModel)]="selectSetting.url" name="index " />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Short Description </label>
                        <input class="form-control col-12" type="text" maxlength="250"
                            [(ngModel)]="selectSetting.shortDescription" name="iconUrl " />
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Description</label>
                        <ckeditor [(ngModel)]="selectSetting.description" name="description" #myckeditor>
                        </ckeditor>
                    </div>

                </form>
            </div>
        </div>

    </div>
    <div class="masonry-item col-md-12">
        <div class="col-12 txtCenter">
            <button class="btn btn-primary mr-3" title="Save" (click)="updateSetting()">Lưu</button>
            <button class="btn btn-primary mr-3" title="Bank" (click)="bankListSetting()">Quay lại</button>
        </div>
    </div>
</div>
<p-fileUpload name="files" class="displayDiv" [url]="urlApi" #fileUpload
    (onSelect)="onSelectedFiles('lgModal', fileUpload)" (onUpload)="onUploadSuccess($event, 'lgModal')"
    (onBeforeSend)="onBeforUpload($event, fileUpload)" (onError)="onUploadError($event, 'lgModal')" accept="image/*"
    maxFileSize="10000000">
</p-fileUpload>