@import '../sass/conf/conf';
$sidebar-scroll-width: 4px;
$angle-left: '\f100';
$angle-right: '\f101';
@mixin default-sublist() {
    padding: 0;
    list-style: none;
    position: relative;
    display: none;
    &.expanded {
        display: block;
    }
    >ba-menu-item>li {
        display: block;
        float: none;
        padding: 0;
        border-bottom: none;
        position: relative;
        a {
            display: block;
            text-shadow: none;
            font-size: 17px;
            margin-left: -20px;
            text-decoration: none;
            color: $sidebar-text;
            padding-left: 52px;
            padding-top: 12px;
            height: 50px;
            line-height: 29px;
            font-weight: 600;
            &:hover {
                color: #003B5F;
            }
        }
        &.selected:not(.with-sub-menu)>a {
            border: none;
            background-color: $primary;
            &:hover {
                color: $sidebar-text;
            }
        }
    }
}

:host /deep/ {
    .al-sidebar {
        width: 220px;
        top: 125px;
        left: 15px;
        z-index: 1001;
        display: block;
        min-height: 100%;
        height: 100%;
        position: fixed;
        padding-left: 10px !important;
        padding-top: 10px !important;
        margin-top: 0px;
    }
    @media all and (min-width: 768px) and (max-width: 1366px) {
      .al-sidebar {
        width: 220px;
        top: 124px;
        left: 15px;
      }
    }
    .al-sidebar-list {
        margin: 0;
        overflow: hidden;
        padding: 18px 0 0 0;
        list-style: none;
    }
    ul#al-sidebar-list li span {
        font-size: 15px !important;
        color: #72777a !important;
        padding-left:  15px !important;
    }
    .al-sidebar-sublist .subitem-submenu-list {
        padding-left: 15px;
    }
    .subitem-submenu-link {
        .fa {
            top: 7px;
        }
    }
    .al-sidebar-list-item {
        display: block;
        position: relative;
        float: none;
        padding: 0;
        &.selected:not(.with-sub-menu) {
            background-color: $primary;
            a.al-sidebar-list-link {
                color: $sidebar-text;
                b {
                    color: $sidebar-text;
                }
            }
        }
    }
    li.al-sidebar-list-item {
        // border-bottom: 2px solid #67abf187;
        // border-bottom: 2px solid #b2cde5;
        color: #72777a;
	    font-size: 15px;
        font-weight: 500;
    }
    li.al-sidebar-list-item.border-bottom-none{
        border-bottom: none;
    }

    li.ba-sidebar-sublist-item {
        // border-top: 2px solid #b2cde5 !important;
        color: #72777a;
	    font-size: 15px;
        font-weight: 500;
    }    

    //datnh
    .ion-ios-arrow-right {
        float: right;
        margin-right: -7px !important;
    }
    .ba-sidebar-item-expanded {
        >ul.al-sidebar-sublist {
            display: block !important;
        }
    }
    .al-sidebar-list-item,
    .ba-sidebar-sublist-item {
        &.ba-sidebar-item-expanded {
            >.al-sidebar-list-link {
                b {
                    transform: rotate(180deg);
                }
            }
            >.al-sidebar-sublist {
                display: block;
            }
        }
    }    
    a.al-sidebar-list-link {
        display: block;
        height: 42px;
        padding-left: 15px;
        text-shadow: none;
        font-size: 17px;
        text-decoration: none;
        color: #005aaa;
        padding-top: 15px;
        line-height: 1.2;
        font-weight: 600;
        overflow: hidden;
        cursor: pointer;
        &:hover {
            color: #00609F;
            background-color: tint($primary, 40%);
            b {
                color: #00609F;
            }
        }
        i {
            margin-right: 5px;
            width: 16px;
            display: inline-block;
            font-size: 17px;
            color: #4eafef;
        }
        span {
            width:200px;
        }
        b {
            display: block;
            opacity: 1;
            width: 14px;
            height: 14px;
            line-height: 14px;
            text-shadow: none;
            font-size: 18px;
            position: absolute;
            right: 10px;
            top: 12px;
            padding: 0;
            text-align: center;
            color: $sidebar-text;
            transition: transform 0.2s linear;
        }
    }
    .longText a.al-sidebar-list-link{
        padding-top: 5px;
    }
    .slimScrollBar,
    .slimScrollRail {
        border-radius: 0 !important;
        width: $sidebar-scroll-width !important;
        left: $sidebar-width - $sidebar-scroll-width;
    }
    .al-sidebar-sublist {
        @include default-sublist();
    }
    .sidebar-hover-elem {
        width: $sidebar-scroll-width;
        background: $primary;
        position: absolute;
        top: -150px;
        left: $sidebar-width - $sidebar-scroll-width;
        transition: all 0.5s ease;
        transition-property: top, height;
        height: 42px;
        display: block;
    }
    .sidebar-select-elem {
        display: block;
        top: 94px;
    }
    .menu-collapsed {
        .slimScrollBar,
        .slimScrollRail {
            display: none !important;
        }
        .slimScrollDiv {
            display: none;
        }
    }
}
