<div class="row">
  <div class="bgc-white bd bdrs-3 p-20 mB-20  col-12">
    <h4 class="c-grey-900 mB-20">Danh sách đơn hàng</h4>
    <button class="btn btn-primary mr-3 mb-2" (click)="createCustomerOrder();">
      <i class="fa fa-plus pr-2"></i>Thêm</button>
    <div class="scrollTable">
      <table class="table table-bordered tableAttributes ">
        <thead>
          <tr>
            <!-- <th scope="col" width="5%">#</th> -->
            <th scope="col" width="8%">Mã đơn hàng</th>
            <th scope="col" width="12%" class="NotShowDepcripton">Tên khách hàng</th>
            <th scope="col" width="8%">Số điện thoại</th>
            <th scope="col" width="10%">Email</th>
            <th scope="col" width="13%">Địa chỉ</th>
            <th scope="col" width="10%">Ngày tạo</th>
            <th scope="col" width="8%">Thanh toán</th>
            <th scope="col" width="8%">Trạng thái giao hàng</th>
            <th scope="col" width="8%">Trạng thái</th>
            <th scope="col" width="10%">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cate of listCustomerOrder; let i = index" (click)="selectRowCustomers(i)">
            <!-- <td scope="col" class="txtCenter">{{i+1}}</td> -->
            <td scope="col" title="{{cate.orderCode}}">{{cate.orderCode}}</td>
            <td scope="col" title="{{cate.shippingName}}" class="NotShowDepcripton">{{cate.shippingName}}</td>
            <td scope="col" title="{{cate.shippingMobile}}" class="NotShowDepcripton">{{cate.shippingMobile}}</td>
            <td scope="col" title="{{cate.updatedAt}}" class="NotShowDepcripton">{{cate.shippingEmail}}</td>
            <td scope="col" title="{{cate.shippingAddress}}" class="NotShowDepcripton">{{cate.shippingAddress}}</td>
            <td scope="col" title="{{viewDate(cate.createdAt)}}" class="txtCenter">{{viewDate(cate.createdAt)}}</td>
            <td scope="col" title="{{viewPayment(cate.paymentStatus)}}" class="txtCenter">{{viewPayment(cate.paymentStatus)}}</td>
            <td scope="col" title="{{viewShipperStatus(cate.paymentStatus)" class="NotShowDepcripton txtCenter">{{viewShipperStatus(cate.paymentStatus)}}</td>
          <td scope="
              col" title="{{viewStatus(cate.status)}}" class="NotShowDepcripton txtCenter">{{viewStatus(cate.status)}}</td>
            <td scope="col">
              <p class="txtCenter">
                <i class="ace-icon fa fa-outdent bigger-120 cursorPointer pr-3" title="Chi tiết" style="font-size: 20px"
                  (click)="detailCustomerOrder(cate.id); $event.stopPropagation();"></i>
                <i class="ace-icon fa fa-pencil bigger-120 cursorPointer pr-3" title="Update" style="font-size: 20px"
                  (click)="updateCustomerOrder(cate.id); $event.stopPropagation();"></i>
                <i class="fa fa-trash cursorPointer" style="font-size: 20px" title="Xóa" (click)="deleteCheck(cate)"></i>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!listCustomerOrder || listCustomerOrder.length===0 " class="borderrow "><label>Không tìm thấy kết quả</label></div>
    <div class="row pl-3 pr-3" [ngClass]="{'displayDiv': !listCustomerOrder || listCustomerOrder.length===0 }">
      <div class="input-group mb-3">
        <div class="input-group-prepend left-total">
          <span class="" id="inputGroup-sizing-default">Tổng: {{totalPage}}</span>
        </div>
        <div class="right-total">
          <p-paginator [rows]="10" [totalRecords]="this.totalPage" [ngClass]="{'displayDiv': !listCustomerOrder || listCustomerOrder.length===0 }"
            [rowsPerPageOptions]="[10,20,30,50,100]" (onPageChange)="paginate($event)"></p-paginator>
        </div>
      </div>
    </div>

  </div>
</div>
<div id="confirmDialodDel" bsModal #confirmDialodDel="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thông báo</h4>
        <button type="button" class="close" aria-label="Close"  (click)="this.confirmDialodDel.hide()"  id="close-x"><span aria-hidden="true">&times;</span></button>
      </div>
       <div class="modal-body">
        <p>{{title}}</p>
      </div>
      <div class="text-center">
        <button class="btn btn-primary stypessMax" (click)="deleteCustomers()" id="okButton">
          <!-- <span class="fa fa-check-circle" ></span> -->
         Có</button>
        <button class="btn btn-primary stypessMax" (click)="this.confirmDialodDel.hide()" id="cancelButton">
          <!-- <span class="ion-android-cancel" ></span> -->
         Không</button>
      </div>
    </div>
  </div>
</div>