@import '../sass/conf/conf';
//@import '../components/baMsgCenter/baMsgCenter';
:host /deep/ {
  .page-top {    
    position: fixed;
    min-width: 320px;    
    width: 100%;
    box-shadow: 0px 4px 8px 2px rgba(175, 175, 175, 0.63), 0 6px 20px 10px rgba(156, 156, 156, 0.44);
  }
  .head-logo{
    background: url(/assets/images/header-bg.png) center center;
    height: 80px;
    width: 100%;
    color: #ffffff;
    padding: 0 30px;
    border-bottom: 2px solid #00386a;
  }

  #header-menu{    
    background: #fff;
    border-top:1px solid #c4c4c4;
    padding: 0px 30px 0 30px;
  }  

  .dropdown-toggle::after {
    display: none;
  }
  .blur {
    .page-top.scrolled {
      background-color: rgba(black, 0.85)
    }
  }
  a.al-logo {
    color: #BA8A08;
    font-weight: 500;
    font-size: 16px;
    font-family: $font-family;
    white-space: nowrap;
    outline: none !important;
    margin-left: 5px;
    span {
      color: $primary;
    }
  }
  a.al-logo.clearfix.home span {
    color: #BA8A08;
  }
  a.al-logo.clearfix.nothome span {
    color: #005AAB;
  }
  a.al-logo:hover {
    cursor: pointer;
    color: $primary;
  }
  a.al-logo span{
    color: #BA8A08;
  }
  .user-profile {
    float: right;
    min-width: 230px;
    margin-top: -7px;
  }
  .al-user-profile {
    float: right;
    transition: all .15s ease-in-out;
    width: 100%;
    margin-top: 8px;
    text-align: right;
    ul.profile-dropdown:after {
      bottom: 100%;
      right: 0;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-right: 28px;
    }
    a {
      display: block;
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  a.refresh-data {
    color: $sidebar-text;
    font-size: 12px;
    text-decoration: none;
    font-weight: $font-normal;
    float: right;
    margin-top: 13px;
    margin-right: 26px;
    &:hover {
      color: $warning !important;
    }
  }
  a.collapse-menu-link {
    font-size: 20px;
    cursor: pointer;
    display: block;
    text-decoration: none; // line-height: 42px;
    color: #BA8A08;
    padding: 0;
    float: left;
    margin: 0px 7px 0 0px;
    &:hover {
      text-decoration: none;
      color: $warning;
    }
  }
  a.collapse-menu-link-icon {
    font-size: 24px;
    cursor: pointer;
    display: block;
    text-decoration: none; // line-height: 42px;
    color: #BA8A08;
    padding: 0;
    float: left;
    margin: 7px 7px 0 15px;
    &:hover {
      text-decoration: none;
      color: $warning;
    }
  }
  a.collapse-menu-top-icon {
    font-size: 16px;
    cursor: pointer;
    display: block;
    text-decoration: none; // line-height: 42px;
    color: #005AAB;
    padding: 0;
    float: left;
    margin: 3px 7px 0 15px;
    &:hover {
      text-decoration: none;
      color: $warning;
    }
  }
  .al-skin-dropdown {
    float: right;
    margin-top: 14px;
    margin-right: 26px;
    .tpl-skin-panel {
      max-height: 300px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
  .icon-palette {
    display: inline-block;
    width: 14px;
    height: 13px;
    @include bg('theme/palette.png');
    background-size: cover;
  }
  .search {
    // text-shadow: none;
    // font-size: 13px;
    // line-height: 25px;
    // transition: all 0.5s ease;
    // white-space: nowrap;
    // overflow: hidden;
    // width: 162px;
    // float: left;
    // margin: 20px 0 0 30px; tuyenlh edit
    text-shadow: none;
    font-size: 12px;
    /* line-height: 12px; */
    transition: all 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
    width: 363px;
    float: left;
    margin: 11px 0 0 35px;
    background: white;
    border-radius: 4px;
    label {
      cursor: pointer;
    }
    i {
      width: 16px;
      display: inline-block;
      cursor: pointer;
      /* padding-left: 1px; */
      font-size: 16px;
      margin-right: 7px;
      opacity: .65;
      margin-top: 5px;
    }
    input {
      color: #131415;
      background: none;
      border: none;
      outline: none;
      width: 300px;
      padding: 0;
      margin: 0 0px 0px 13px;
      height: 27px;
    }
  }
  @media screen and (max-width: $resS) {
    .search {
      display: none;
    }
  }
  @media screen and (max-width: $resM) {
    .search {
      width: 163px;
    }
  }
  @media screen and (min-width: 770px) {
    .search {
      width: 30%;
    }
  }
  @media screen and (max-width: $resXS) {
    .page-top {
      
    }
  }
  @media (max-width: $resXXS) {
    .user-profile {
      min-width: 136px;
    }
    a.refresh-data {
      margin-right: 10px;
    }
    a.collapse-menu-link {
      margin-left: 0px;
    }
    .al-skin-dropdown {
      display: none;
    }
  }
  .profile-toggle-link {
    cursor: pointer;
  }
}

.dropdown-item.active {
  color: #fff;
  text-decoration: none;
  background-color: #d4d6d8;
}

.dropdown-item:active {
  background-color: #D4D6D8;
}

.dropdown-item.active>a {
  background-color: none;
}

.profile-dropdown>a {
  &:hover {
    background: #d4d6d8;
  }
}



#confirmationModalNavigate {
    top: 24%;
  }

  button.btn.btn-default {
    border-width: 1px;
    color: black;
    background: transparent;
    border-color: rgba(21, 18, 18, 0.5);
    font-size: 15px;
  }

  .modal-dialog {
    max-width: 40%;
    margin: 7% auto;
    height: 300px;
  }

  .modal-header {
    border: none;
    padding: 6px 0px 0 0px;
    height: 44px;
    background-color: #DBDBDB;
  }

  .modal-header .modal-title {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 0;
    /* line-height: 1.5; */
    color: #182A42;
    font-size: 16px;
  }

  .fa-check-circle {
    color: #39817C;
    font-size: 21px;
    margin-right: 5px;
    margin-top: 2px;
  }

  .ion-android-cancel {
    color: red;
    font-size: 21px;
    margin-right: 5px;
    margin-top: 2px;
  }

  .btn-md {
    width: 93px;
    font-size: 15px;
    border: .5px solid darkgray;
    margin: 20px;
  }

  .close {
    font-size: 25px;
    color: #da4949;
    opacity: 1;
    padding: 7px;
  }

  .btn:active{
    background-color: #e2e2e2;
  }

  .btn {
    width: 103px;
    height: 35px;
    font-size: 14px;
    box-shadow: 3px 3px 2px #888888;
    border: 1px solid darkgray;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .btnDel {
    margin-left: 20px;
  }

  .fa-plus-circle {
    color: #39817C;
    font-size: 21px;
    margin-right: 5px;
    margin-top: 2px;
  }

  .ion-android-cancel {
    color: red;
    font-size: 21px;
    margin-right: 5px;
    margin-top: 2px;
  }
  .head-logo-left{
    float: left;
    width: 40%;
    height:100px;
  }
  .head-logo-right{
    float: right;
    width: 60%;
    height:80px;
  }
  .head-logo-left img{
    margin: 10px 0 0 0;
    height: 57%;
  }
  .head-logo-right H1{
    height: 100%;
    text-align: right;
    padding-top: 18px;
    font-size: 18px;
    padding-right: 0;
    font-weight: bold;
  }
  .menu-top-logo img{
    height: 50px;
    width: 50px;
  }

  .menu-top-logo{
    width: auto;
    float: left;
    padding-right: 30px;
    height: 30px;
    line-height: 30px;
  }
  .head-menu-logo-left{
    float: left;
    width: 250px;
  }
  .head-menu-logo-right{
    float: left;
    width: 77%;
    height:59px;
    padding-top: 5px;
    color: blue;
  }
  .al-menu-list-link {
    display: block;
    /* height: 42px; */
    padding-left: 15px;
    text-shadow: none;
    font-size: 20px;
    text-decoration: none;
    /* color: #00609F; */
    /* line-height: 42px; */
    white-space: nowrap;
    /* overflow: hidden; */
    cursor: pointer;

}
.head-logo{
  margin-right: -15px;
}
.material-icons{
  font-size: 16px;
}
.menuSelected{
  color: #BA8A08 !important;
}
.menuSelected span{
  color: #BA8A08 !important;
}
.notMenuSelected{
  color: #005AAB !important;
}
.notMenuSelected span{
  color: #005AAB !important;
}
.profile-dropdown.show {
  top: 29px !important;
  right: -15px !important;
}


