<div class="page-top clearfix" baScrollPosition maxHeight="200" (scrollChange)="scrolledChanged($event)" [ngClass]="{scrolled: isScrolled}">
    <div class="row">
        <div class="col-12">
            <div class="row head-logo">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 head-logo-left">
                    <img src="/assets/images/logotranzi.png" title="Home" />
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 head-logo-right">
                    <div class="row">
                        <!-- <H1 class="col-12" translate>{{'general.header-Logo'}}</H1> -->
                        <H1 class="col-12" >ECLAIM - BAO VIET DIGITAL PLATFORM</H1>
                        <H5 class="col-12" style="text-align: right; margin-top: -5px;">
                            <div class="user-profile clearfix">
                                <div class="dropdown al-user-profile" ngbDropdown>
                                    <a class="profile-toggle-link dropdown-toggle" ngbDropdownToggle id="user-profile-dd" aria-expanded="false">
                                        <!-- <img src="{{ ( 'tuyenlh' | baProfilePicture ) }}"> -->
                                        <!-- <i [ngClass]="setClass()" class="fa" style="font-size: 17px;"></i> -->
                                        <span style="font-size: 15px;"> Chào, {{(token | async).username}}</span>
                                        <i class="fa fa-user-circle-o" style="font-size:16px;color:white"></i>
                                        <i class="fa fa-caret-down" style="font-size:16px;color:white"></i>
                                    </a>
                                    <ul ngbDropdownMenu class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
                                        <li class="dropdown-item" [ngClass]="{ 'active': isAvailable}">
                                            <a class="available-status" (click)="changeStatus('Available')">
                                                <i class="fa fa-check"></i> Thông tin </a>
                                        </li>
                                        <!-- <li class="dropdown-item" [ngClass]="{ 'active': isAuxiliary}">
                                                                <a class="auxiliary-status" (click)="changeStatus('Auxiliary')">
                                                                    <i class="fa fa-minus-circle"></i>Auxiliary</a>
                                                            </li> -->

                                        <li class="dropdown-item">
                                            <a (click)="onClickMenu('changePass')">
                                                <i class="fa fa-key"></i> Đổi mật khẩu</a>
                                        </li>
                                        <!-- TODO: add Confirm Dialog to this -->
                                        <li class="dropdown-item">
                                            <a class="signout" (click)="logout()">
                                                <i class="fa fa-sign-out"></i> Đăng xuất</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </H5>
                    </div>
                </div>
            </div>
        </div>
        <div id="header-menu" class="col-12">
            <!-- <div maxHeight="100" class="head-menu-logo-left menu-top-logo">
                <a (click)="toggleMenu()" class="al-logo clearfix">
                    <span class="collapse-menu-link ion-navicon"></span> Tất cả chức năng</a>
            </div> -->
            <div class="header-menu-right">
                <div class="menu-top-logo text-uppercase">
                    <a title="{{'topMenu.home' | translate}}" routerLink="/garage/gara-dashboard" routerLinkActive="menuSelected" class="al-logo clearfix nothome"
                        translate="">
                        <span translate> <i class="fa fa-home"></i> {{'topMenu.home'}} </span>
                    </a>
                </div>
                <!-- <div class="menu-top-logo al-logo" *ngIf="typeLogin != 'BAOVIET'">
                    <a title="{{'topMenu.search-gara' | translate}}" (click)="routtingPage('/pages/search-gara','search-gara')" [ngClass]="focusSelected=='search-gara'? 'menuSelected' : 'notMenuSelected'"
                        class="clearfix nothome" translate="">
                        <span translate> <i class="ion-navicon"></i> {{'topMenu.search-gara'}} </span>
                    </a>
                </div> -->
                <!-- <div class="menu-top-logo al-logo" *ngIf="typeLogin != 'BAOVIET'">
                    <a title="{{'topMenu.create-quote' | translate}}" (click)="routtingPage('/pages/price-negotiation','price-negotiation')"
                        [ngClass]="focusSelected=='price-negotiation'? 'menuSelected' : 'notMenuSelected'" class="clearfix nothome"
                        translate="">
                        <span translate> <i class="ion-navicon"></i> {{'topMenu.create-quote'}} </span>
                    </a>
                </div>
                <div class="menu-top-logo al-logo" *ngIf="typeLogin =='BAOVIET'">
                    <a title="{{'topMenu.giocv' | translate}}" routerLink="/garage/gara-help" routerLinkActive="menuSelected" class="clearfix nothome"
                        translate="">
                        <span translate>
                            <i class="material-icons">&#xe8c9;</i> {{'topMenu.giocv'}} </span>
                    </a>
                </div> -->
                <div class="menu-top-logo al-logo text-uppercase">
                    <a title="{{'topMenu.report_list' | translate}}" routerLink="/garage/gara-help" routerLinkActive="menuSelected" class="clearfix nothome"
                        translate="">
                        <span translate> <i class="fa fa-commenting"></i> {{'topMenu.report_list'}} </span>
                    </a>
                </div> 
                <div class="menu-top-logo al-logo text-uppercase">
                    <a title="{{'topMenu.help' | translate}}" routerLink="/garage/gara-help" routerLinkActive="menuSelected" class="clearfix nothome"
                        translate="">
                        <span translate>
                            <i class="material-icons">&#xe8fd;</i> {{'topMenu.help'}} </span>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!-- 
    <div id="header-menu">

        <div style="clear: both;">
        </div>
    </div> -->
    <div id="header-menu-bg">
    </div>
</div>