<div class="row gap-20 masonry pos-r">
    <div class="masonry-item col-md-8">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">Sản phẩm</h6>
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <label class="col-12 pl-0">Tên sản phẩm <i class="fa fa-asterisk requisIcon"
                                aria-hidden="true"></i></label>
                        <input class="form-control col-12" (blur)="changeSlugByname();validateForm('name')" type="text"
                            name="namestu" maxlength="64" [(ngModel)]="selectProduct.name"
                            [ngClass]="{'mandatoryInput': (!selectProduct || !selectProduct.name) && blName}" />
                        <label style="color: red !important;"
                            *ngIf="(!selectProduct || !selectProduct.name) && blName">Trường
                            bắt buộc nhập</label>
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Slug</label>
                        <input class="form-control col-12" type="text" (blur)="setSlugOnchange()" name="slug"
                            [(ngModel)]="selectProduct.slug" />
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-12">
                            <label class="col-12 pl-0">Số lượng mua tối thiểu <i class="fa fa-asterisk requisIcon"
                                    aria-hidden="true"></i></label>
                            <input class="form-control col-12" type="text" name="minOrder"
                                (blur)="changeNumber('minOrder');validateForm('blMinorder')" maxlength="9" min="0"
                                (keypress)="keyPress($event,'number')" [(ngModel)]="selectProduct.minOrder"
                                [ngClass]="{'mandatoryInput': blMinorder}" />
                            <label style="color: red !important;" *ngIf="blMinorder">Trường
                                bắt buộc nhập</label>
                        </div>
                        <div class="col-sm-6 col-12">
                            <label class="col-12 pl-0">Số lượng SP trong kho <i class="fa fa-asterisk requisIcon"
                                    aria-hidden="true"></i></label>
                            <input class="form-control col-12" type="text" name="inStock"
                                (blur)="changeNumber('inStock'); validateForm('blInStock')" maxlength="9" min="0"
                                (keypress)="keyPress($event,'number')" [(ngModel)]="selectProduct.inStock"
                                [ngClass]="{'mandatoryInput': blInStock}" />
                            <label style="color: red !important;" *ngIf="blInStock">Trường
                                bắt buộc nhập</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-12">
                            <label class="col-12 pl-0">Mã sản phẩm <i class="fa fa-asterisk requisIcon"
                                    aria-hidden="true"></i></label>
                            <input class="form-control col-12" type="text" name="sku" [(ngModel)]="selectProduct.sku"
                                maxlength="32" (blur)="validateForm('blSku')" [ngClass]="{'mandatoryInput': blSku}" />
                            <label style="color: red !important;" *ngIf="blSku">Trường
                                bắt buộc nhập</label>
                        </div>
                        <div class="col-sm-6 col-12">
                            <label class="col-12 pl-0">Mã gốc từ NSX <i class="fa fa-asterisk requisIcon"
                                    aria-hidden="true"></i></label>
                            <input class="form-control col-12" maxlength="32" type="text" name="orginSku"
                                [(ngModel)]="selectProduct.orginSku" (blur)="validateForm('blOrginSku')"
                                [ngClass]="{'mandatoryInput': blOrginSku}" />
                            <label style="color: red !important;" *ngIf="blOrginSku">Trường
                                bắt buộc nhập</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-12">
                            <label class="col-12 pl-0">Nhà Sản xuất</label>
                            <ng-select class="custom form-control coboNsx" name="nsx" [items]="listManufactures"
                                [(ngModel)]="selectProduct.manufactureId" bindLabel="name" bindValue="id"
                                notFoundText="{{'bv-gara.search.notFoundText' | translate}}">
                                <ng-template style="margin-left: -13px !important;" ng-option-tmp let-item="item">
                                    {{item.name}}
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="col-sm-6 col-12">
                            <label class="col-12 pl-0">Xuất xứ</label>
                            <ng-select class="custom form-control coboNsx" name="orginFrom" [items]="listCountries"
                                [(ngModel)]="selectProduct.orginFrom" bindLabel="name" bindValue="code"
                                notFoundText="{{'bv-gara.search.notFoundText' | translate}}">
                                <ng-template style="margin-left: -13px !important;" ng-option-tmp let-item="item">
                                    {{item.name}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 col-12">
                            <label class="col-12 pl-0">Hình thức giao hàng</label>
                            <input class="form-control col-12" type="text" name="shippingTime" maxlength="500"
                                [(ngModel)]="selectProduct.shippingTime" />
                        </div>
                        <div class="col-sm-6 col-12">
                            <label class="col-12 pl-0">Kiểu đóng gói</label>
                            <ng-select class="custom form-control coboNsx" name="packageTypeId" [items]="listPackage"
                                [(ngModel)]="selectProduct.packageTypeId" bindLabel="name" bindValue="id"
                                notFoundText="{{'bv-gara.search.notFoundText' | translate}}">
                                <ng-template style="margin-left: -13px !important;" ng-option-tmp let-item="item">
                                    {{item.name}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row col-12">
                            <div class="col-6 pl-0">
                                <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                                    <input type="checkbox" id="blFeatured" name="featured"
                                        [(ngModel)]="selectProduct.blFeatured" class="peer">
                                    <label for="blFeatured" class="peers peer-greed js-sb ai-c"><span
                                            class="peer peer-greed">Sản
                                            phẩm HOT</span></label></div>
                            </div>
                            <div class="col-6">
                                <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                                    <input type="checkbox" id="blActived" name="blActived"
                                        [(ngModel)]="selectProduct.blActived" class="peer">
                                    <label for="blActived" class="peers peer-greed js-sb ai-c"><span
                                            class="peer peer-greed">Hoạt
                                            động</span></label></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Trạng thái sản phẩm</label>
                        <input class="form-control col-12" type="text" name="productStatus"
                            [(ngModel)]="selectProduct.productStatus">
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Mô tả ngắn gọn</label>
                        <textarea class="form-control col-12" type="text" name="desShort"
                            [(ngModel)]="selectProduct.shortDescription"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Diễn tả sản phẩm </label>
                        <ckeditor [(ngModel)]="selectProduct.description" name="description" #myckeditor>
                        </ckeditor>
                    </div>
                    <div class="form-group">
                        <label class="actionLinkSearch col-12 pl-0 cursorPointer"
                            (click)="btnUploadClickRIP(fileUploadRIP)">
                            Upload files</label>
                        <hr>
                        <button class="btn btn-primary mr-3" title="Chọn File" (click)="showListFileUpload()">Chọn
                            File</button>
                        <div *ngFor="let item of listMediaRIP">
                            <label class="col-12 pl-0">{{item}}</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="bgc-white p-10 bd mt-4 cursorPointer titleGroup" (click)="this.blAttributes = !this.blAttributes">
            <h6 _ngcontent-c7="" class="c-grey-900 ">
                <i *ngIf="!blAttributes" class="fa fa-caret-down iconDiv ng-star-inserted cursorPointer"></i>
                <i *ngIf="blAttributes" class="fa fa-caret-right iconDiv ng-star-inserted cursorPointer"></i>
                Thuộc tính sản phẩm
            </h6>
        </div>
        <div class="bgc-white p-20 pt-0 bd" *ngIf="!blAttributes">
            <div class="mT-30">
                <form>
                    <div class="" *ngIf="listAttributeAndValues && listAttributeAndValues.length>0">
                        <table class="table table-bordered tableAttribute">
                            <thead>
                                <tr>
                                    <th scope="col" style="width: 20%;">
                                        Tên Tùy chọn
                                    </th>
                                    <th scope="col" class="NotShowDepcripton" style="width: 70%;">
                                        Giá trị
                                    </th>
                                    <th scope="col" class="NotShowDepcripton" style="width: 10%;">
                                        Thao tác
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of listAttributeAndValues; let i = index"
                                    [ngClass]="{'tdRequire': item && item.blValidate}">
                                    <td scope="col" class="">
                                        <ng-select name="selectAttribute{{i}}" class=" form-control"
                                            [items]="listAttributesShow"
                                            (change)="changeAttribute($event,i);getListAttributesShow();"
                                            [addTag]="true" bindLabel="name" bindValue="" [(ngModel)]="item.attribute">
                                        </ng-select>
                                    </td>
                                    <td scope="col" class="">
                                        <ng-select name="selectAttributeValues{{i}}"
                                            class="listAttributesClass form-control "
                                            (focus)="changeAttributeValues(item,i) " [items]="listAttributeValues"
                                            (change)="addAttributesValues($event,i)" multiple="true" [addTag]="true"
                                            bindLabel="value" [(ngModel)]="item.listAttributeValues">
                                        </ng-select>
                                    </td>
                                    <td scope="col" class="txtCenter">
                                        <i class="fa fa-trash cursorPointer" style="font-size: 20px"
                                            (click)="deleteAttributeAndValue(i)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="masonry-item col-md-12">
                        <div class="col-12 txtCenter">
                            <button class="btn btn-primary mr-3" title="Save" (click)="addAttributeValues()">Thêm tùy
                                chọn</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="masonry-item col-md-4">
        <div class="bgc-white p-20 bd pt-0">
            <div class="mT-20">
                <h6 class="c-grey-900">Thể loại <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></h6>
                <form>
                    <div class="form-group">
                        <ng-select [items]="listItemCategory" [multiple]="true"
                            class=" form-control listAttributesClass" [ngClass]="{'mandatoryInput': blCategory}"
                            name="ljldfjlskjflasdf" bindLabel="name" bindValue="id" [(ngModel)]="selectListCategory">
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <input id="item-{{index}}" type="checkbox" name="checkboxCategor{{index}}"
                                    [ngModel]="selectListCategory.indexOf(item.id) !== -1" />
                                {{item.name}}
                            </ng-template>
                        </ng-select>
                        <!-- {{selectListCategory | json}} -->
                        <label style="color: red !important;" *ngIf="blCategory">Trường
                            bắt buộc nhập</label>
                    </div>
                </form>

            </div>
        </div>
        <div class="bgc-white p-20 pt-0 bd mt-4">
            <div class="mT-30">
                <h6 class="c-grey-900">Ảnh thumbnail</h6>
                <form>
                    <div class="form-group">
                        <label class="actionLinkSearch col-12 pl-0 cursorPointer" (click)="btnUploadClick(fileUpload)">
                            Upload <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
                        <label style="color: red !important;" *ngIf="blThumbnailImage">Bắt buộc</label>
                    </div>
                    <div class="form-group row list-thumbnail">
                        <div *ngFor="let item of listMediaThumbnail; let i = index" class="col-sm-3 col-6 pr-0 ">
                            <div class="styleImageProduct" title="{{item.urlPath}}" (dblclick)="showImage(item.urlPath)"
                                [ngClass]="{'selectImageClass': item.selectImage}">
                                <img src="{{item.urlPath}}" class="img-fluid  pt-2 pb-2" onerror="imageError(this)" />
                                <div class="opacity-image"></div>
                                <i title="Xóa" class="fa fa-window-close cursorPointer delete-image"
                                    style="font-size: 17px" (click)="deleteProductMeida(i)"></i>
                                <i title="Chọn ảnh Thumbnail" class="fa fa-heart cursorPointer like-image"
                                    aria-hidden="true" (click)="setDefauleAnhSanPham(i)" style="font-size: 17px"></i>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="bgc-white p-20 bd mt-4">
            <h6 class="c-grey-900">Giá</h6>
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <label class="col-12 pl-0">Giá thông thường <i class="fa fa-asterisk requisIcon"
                                aria-hidden="true"></i></label>
                        <input class="form-control col-12" type="text" name="normalPrice" maxlength="11" currencyMask
                            [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 0}"
                            [(ngModel)]="selectProduct.normalPrice" (blur)="validateForm('blNormalPrice')"
                            [ngClass]="{'mandatoryInput': blNormalPrice}" />
                        <label style="color: red !important;" *ngIf="blNormalPrice">Trường
                            bắt buộc nhập</label>
                    </div>

                    <div class="form-group">
                        <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                            <input type="checkbox" id="SaleCheckbox" name="SaleCheckbox" (change)="changeSale()"
                                [(ngModel)]="blSale" class="peer">
                            <label for="SaleCheckbox" class="peers peer-greed js-sb ai-c"><span
                                    class="peer peer-greed">Giảm
                                    giá</span></label></div>
                    </div>
                    <div class="form-group" *ngIf="blSale">
                        <label class="col-12 pl-0">Giá bán</label>
                        <input class="form-control col-12" type="text" name="salePrice" maxlength="11" currencyMask
                            (blur)="validateForm('blSalePrice')"
                            [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 0}"
                            [(ngModel)]="selectProduct.salePrice" [ngClass]="{'mandatoryInput': blSalePrice}" />
                        <label style="color: red !important;" *ngIf="blSalePrice">Giá khuyến mãi không được lớn hơn giá
                            Thông thường</label>
                    </div>
                    <div class="form-group row" *ngIf="blSale">
                        <div class="col-6 ">
                            <label class="col-12 pl-0">Sale từ ngày</label>
                            <p-calendar [(ngModel)]="startDate" name="startDate" (blur)="validateForm('blDate')"
                                [showIcon]="true"></p-calendar>
                        </div>
                        <div class="col-6 ">
                            <label class="col-12 pl-0">Sale đến ngày</label>
                            <p-calendar [(ngModel)]="endDate" name="endDate" (blur)="validateForm('blDate')"
                                [showIcon]="true"></p-calendar>
                        </div>
                        <div class="col-12 ">
                            <label style="color: red !important;" *ngIf="blDate">Từ ngày không được lớn hơn đến
                                ngày</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="bgc-white p-10 bd mt-4 cursorPointer titleGroup" (click)="setLocalsto('blMediaFile')">
            <h6 _ngcontent-c7="" class="c-grey-900 ">
                <i *ngIf="!blMediaFile" class="fa fa-caret-down iconDiv ng-star-inserted cursorPointer"></i>
                <i *ngIf="blMediaFile" class="fa fa-caret-right iconDiv ng-star-inserted cursorPointer"></i>
                Media File
            </h6>
        </div>
        <div class="bgc-white p-20 pt-0 bd" *ngIf="!blMediaFile">
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <div class="form-group row pl-3">
                            <input class="form-control col-8" type="text" name="placeholderLogo"
                                placeholder="add Link media" [(ngModel)]="linkMediafile" />
                            <select class="form-control col-4" name="trafficPoliceFlag" [(ngModel)]="this.typeFile">
                                <option value="IMAGE">IMAGE</option>
                                <option value="PDF">PDF</option>
                                <option value="DOC">Doc/Docx</option>
                                <option value="XLS">Xls/Xlsx</option>
                                <option value="YOUTUBE">Youtube</option>
                                <option value="NOT">Khác</option>
                            </select>
                        </div>
                        <div class="col-12 pl-0">
                            <button class="btn btn-primary mt-2" (click)="addMediaList()">Add link</button>
                            Hoặc
                            <label class="actionLinkSearch col-12 pl-0 cursorPointer"
                                style="margin: 0px 1px -6px 1px;width: auto;"
                                (click)="btnUploadClickMulti(fileUploadMulti)">
                                Upload File</label>
                        </div>
                    </div>
                    <div class="form-group row pt-4 list-thumbnail">
                        <div *ngFor="let item of listMedia; let i = index" class="col-sm-3 col-6 pr-0 ">
                            <div class="styleImageProduct" title="{{item.urlPath}}" (dblclick)="showImage(item.urlPath)"
                                [ngClass]="{'selectImageClass': item.selectImage}">
                                <img *ngIf="item.type === 'IMAGE'" src="{{item.urlPath}}" class="img-fluid  pt-2 pb-2"
                                    style="width: 100px;" onerror="imageError(this)" />
                                <img *ngIf="item.type === 'DOC'" src="/assets/images/comfig/doc.jpeg"
                                    class="img-fluid pt-2 pb-2" style="width: 100px;" onerror="imageError(this)" />
                                <img *ngIf="item.type === 'XLS'" src="/assets/images/comfig/xls.jpg"
                                    class="img-fluid pt-2 pb-2" style="width: 100px;" onerror="imageError(this)" />
                                <img *ngIf="item.type === 'YOUTUBE'" src="/assets/images/comfig/youtube.png"
                                    class="img-fluid  pt-2 pb-2" style="width: 100px;" onerror="imageError(this)" />
                                <img *ngIf="item.type === 'PDF'" src="/assets/images/comfig/pdf.jpg"
                                    class="img-fluid  pt-2 pb-2" style="width: 100px;" onerror="imageError(this)" />
                                <img *ngIf="item.type === 'NOT'" src="/assets/images/comfig/not.jpg"
                                    class="img-fluid  pt-2 pb-2" style="width: 100px;" onerror="imageError(this)" />
                                <div class="opacity-image"></div>
                                <i title="Xóa" class="fa fa-window-close cursorPointer delete-image"
                                    style="font-size: 17px" (click)="deleteMedia(i)"></i>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="bgc-white p-10 bd mt-4 cursorPointer titleGroup" (click)="setLocalsto('blTag')">
            <h6 _ngcontent-c7="" class="c-grey-900 ">
                <i *ngIf="!blTag" class="fa fa-caret-down iconDiv ng-star-inserted cursorPointer"></i>
                <i *ngIf="blTag" class="fa fa-caret-right iconDiv ng-star-inserted cursorPointer"></i>
                Tag
            </h6>
        </div>
        <div class="bgc-white p-20 pt-0 bd" *ngIf="!blTag">
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <tags-input class="form-control input-lg listAttributesClass"
                            (onTagsChanged)="onTagsChanged2($event)" #tagInput
                            [removeLastOnBackspace]="removeLastOnBackspace" [(ngModel)]="tags" name="tags"></tags-input>
                    </div>
                </form>
            </div>
        </div>
        <div class="bgc-white p-10 bd mt-4 cursorPointer titleGroup" (click)="setLocalsto('blSeo')">
            <h6 _ngcontent-c7="" class="c-grey-900 ">
                <i *ngIf="!blSeo" class="fa fa-caret-down iconDiv ng-star-inserted cursorPointer"></i>
                <i *ngIf="blSeo" class="fa fa-caret-right iconDiv ng-star-inserted cursorPointer"></i>
                SEO
            </h6>
        </div>
        <div class="bgc-white p-20 pt-0 bd" *ngIf="!blSeo">
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <label class="col-12 pl-0">Seo Title</label>
                        <input class="form-control col-12" type="text" name="seotitle" maxlength="250"
                            [(ngModel)]="selectProduct.seoTitle" />
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Seo Keywords</label>
                        <input class="form-control col-12" type="text" name="seokeywords" maxlength="250"
                            [(ngModel)]="selectProduct.seoKeywords" />
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Seo Description</label>
                        <input class="form-control col-12" type="text" maxlength="250" name="seodescription"
                            [(ngModel)]="selectProduct.seoDescription" />
                    </div>
                    <div class="form-group">
                        <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                            <input type="checkbox" id="inputCall2" name="inputCheckboxesCall"
                                [(ngModel)]="selectProduct.blSeoIndex" class="peer">
                            <label for="inputCall2" class="peers peer-greed js-sb ai-c"><span
                                    class="peer peer-greed">Seo
                                    Index</span></label></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="masonry-item col-md-12">
        <div class="col-12 txtCenter">
            <button class="btn btn-primary mr-3" title="Save" (click)="createProduct()">Lưu</button>
            <button class="btn btn-primary mr-3" title="Bank" (click)="bankmanageproduct()">Quay lại</button>
        </div>
    </div>
    <div bsModal #lgModal="bs-modal" class="modal fade pdfModal" tabindex="-1" role="dialog"
        aria-labelledby="dialog-sizes-name1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="dialog-sizes-name1" class="modal-title pull-left">{{'bv-voucher-details.suitedocument.addNew'
                        |
                        translate}}</h4>
                    <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p-progressBar [value]="progressBarPercent" *ngIf="progressBarPercent < 100"></p-progressBar>
                    <ul *ngIf="uploadedFilesSuccess && progressBarPercent >= 100">
                        <li *ngFor="let file of uploadedFilesSuccess">{{file.name}} - {{file.size}} bytes
                            <br />
                            <span
                                class="text-success">{{'bv-voucher-details.suitedocument.successfully' | translate}}</span>
                        </li>
                    </ul>
                    <ul *ngIf="uploadedFilesError && progressBarPercent >= 100">
                        <li *ngFor="let file of uploadedFilesError">
                            <div *ngIf="file.size === 0">
                                {{file.name}} - {{file.size}} bytes
                                <br />
                                <span class="text-danger">{{'bv-voucher-details.suitedocument.failUnAllowUploadFileZeroKb'
                                    | translate}}</span>
                            </div>
                            <div *ngIf="file.size > 10000000">
                                {{file.name}} - {{file.size}} bytes
                                <br />
                                <span class="text-danger">{{'bv-voucher-details.suitedocument.failUnAllowUploadFileGreatThan10Mb'
                                    | translate}}</span>
                            </div>
                        </li>
                    </ul>
                    <ul *ngIf="uploadedFilesErrorInvalid && progressBarPercent >= 100">
                        <li *ngFor="let file of uploadedFilesErrorInvalid">
                            <div>
                                {{file.value}}
                                <br />
                                <span class="text-danger">{{'bv-voucher-details.suitedocument.failWithWrongFormat' |
                                    translate}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p-fileUpload name="files" class="displayDiv" [url]="urlupload" #fileUpload
        (onSelect)="onSelectedFiles(lgModal, fileUpload)" (onUpload)="onUploadSuccess($event, lgModal)"
        (onBeforeSend)="onBeforUpload($event, fileUpload)" (onError)="onUploadError($event, lgModal)" accept="image/*"
        maxFileSize="10000000" multiple="multiple">
    </p-fileUpload>
    <p-fileUpload name="files" class="displayDiv" [url]="urluploadMedia" #fileUploadMulti
        (onSelect)="onSelectedFilesMulti(lgModal, fileUploadMulti)" (onUpload)="onUploadSuccessMulti($event, lgModal)"
        (onBeforeSend)="onBeforUploadMulti($event, fileUploadMulti)" (onError)="onUploadErrorMulti($event, lgModal)"
        accept="image/*,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,
    application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
    video/mp4,video/x-m4v,video/*,video/3gp,video/3gpp" maxFileSize="20000000" multiple="multiple">
    </p-fileUpload>
    <!-- upload file RIP -->
    <p-fileUpload name="filesRIP" class="displayDiv" [url]="urluploadRIP" #fileUploadRIP
        (onSelect)="onSelectedFilesRIP(fileUploadRIP)" (onUpload)="onUploadSuccessRIP($event)"
        (onBeforeSend)="onBeforUploadRIP($event, fileUploadRIP)" (onError)="onUploadErrorRIP($event)"
        multiple="multiple" maxFileSize="10000000000">
    </p-fileUpload>
</div>


<!-- dialog tao thuoc tinh chi tiet -->
<div id="viewImage" bsModal #viewImage="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" role="dialog">
    <div class="modal-dialog-viewImage modal-md ">
        <div class="modal-content">
            <form>
                <div class="modal-body">
                    <div class="form-group row">
                        <img src="{{strImageUrl}}" style="width: 100%;" onerror="imageError(this)" />
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mr-3 mb-2" id="cancelButton" (click)="this.viewImage.hide();">
                        Đóng</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- end dialog tao thuoc tinh chi tiet-->
<div id="addlinkUpload" bsModal #addlinkUpload="bs-modal" [config]="{backdrop: 'static'}" class="modal fade"
    role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Danh sách file Upload</h4>
                <button type="button" class="close" aria-label="Close" (click)="this.addlinkUpload.hide()"
                    id="close-x"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <input class="form-control col-6" type="text" maxlength="100" name="nameSearch"
                        [(ngModel)]="selectLinkFile.name" placeholder="Tên bài viết, sản phẩm/Mã LK" />
                    <input class="form-control col-6" type="number" maxlength="10" name="idSearch"
                        [(ngModel)]="selectLinkFile.idArticle" placeholder="ID bài viết/ ID sản phẩm" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary mr-3" title="Chọn File" (click)="selectFile()">Chọn File</button>
                </div>

                <div *ngIf="listUploadFileBySelected" class="contenFile row">
                    <div class="col-3" style="border-bottom:1px solid #ddd;"
                        *ngFor="let item of listUploadFileBySelected" style="text-align: center;">
                        <div class="col-12 pt-2 pb-2" *ngIf="item.value">
                            <img src="{{item.value}}" class="img-fluid col-12 pt-2 pb-2"
                                (click)="this.linkSeleced =  item.value" onerror="imageErrorUpload(this)" />
                            <label class="detailImage">{{item.value}}</label>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <label class="col-12 pl-0">Link File: {{linkSeleced}}</label>
                    <button class="btn btn-primary stypessMax" (click)="this.addlinkUpload.hide()" id="cancelButton">
                        <!-- <span class="ion-android-cancel" ></span> -->
                        Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>