.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
.actionLinkSearch {
    color: #007bff !important;
    text-decoration: underline !important;
}
.requisIcon {
    color: red;
    font-size: 11px;
    position: relative;
    top: -6px;
    left: 3px;
}
.form-group.scrolMeida {
    max-height: 500px !important;
    overflow-y: scroll;
}
.radioFile {
    margin: 6px !important;
}
.lableMedia {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fa-minus-circle{
    position: relative !important;
    top: 0 !important;
}
.coboNsx ng-dropdown-panel {
    margin-left: -13px !important;
}
span.tags-input__tag {
    background: powderblue !important;
    margin-right: 13px !important;
    padding: 4px !important;
}
.ng-value.ng-star-inserted {
    background: #29bc94;
    padding: 3px;
    margin-right: 8px;
}
.contenFile {
    max-height: 200px;
    overflow: overlay;
}
label.detailImage {
word-break: break-word;
}
.modal-dialog {
max-width: 75% !important;
margin: 7% auto;
height: 500px !important;
}
.img-fluid {
    cursor: pointer !important
}
