<div class="row">
  <div class="bgc-white bd bdrs-3 p-20 mB-20 col-sm-12 col-12">
    <div class="row">
      <h4 class="c-grey-900 mB-20 col-sm-9 col-12">Danh sách khu vực kho</h4>
      <div class=" col-sm-3 col-12 txtRight pr-0">
        <button class="btn btn-primary mr-3 mb-2 " (click)="createAttributes('');">
          <i class="fa fa-plus pr-2"></i>Thêm</button>
      </div>
    </div>
    <div class="row pl-3 pr-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Tìm kiếm</span>
        </div>
        <input aria-label="Default" class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="txtSearch" name="txtSearch"
          placeholder="Tên khu vực/ địa chỉ" type="text" (keyup.enter)="loadInventoryArea()" (blur)="loadInventoryArea()">
      </div>
    </div>
    <div class="scrollTable">
      <table class="table table-bordered tableAttributes ">
        <thead>
          <tr>
            <th scope="col" style="width: 10%;">#</th>
            <th scope="col" style="width: 25%;">Tên khu vực</th>
            <th scope="col" class="NotShowDepcripton" style="width: 30%;">Địa chỉ</th>
            <th scope="col" class="NotShowDepcripton" style="width: 25%;">Ghi chú</th>
            <th scope="col" style="width: 10%;">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cate of listInventoryArea; let i = index" (click)="selectRow(i)" [ngClass]="{'bgBlue': cate && cate.blSelectedRow }">
            <td scope="col" class="txtCenter">{{i+1}}</td>
            <td scope="col" title="{{cate.name}}">{{cate.name}}</td>
            <td scope="col" title="{{cate.address}}">{{cate.address}}</td>
            <td scope="col" title="{{cate.depcription}}" class="NotShowDepcripton">{{cate.depcription}}</td>
            <td scope="col">
              <p class="txtCenter">
                <i class="ace-icon fa fa-pencil bigger-120 cursorPointer pr-3" style="font-size: 20px" (click)="createAttributes(cate);$event.stopPropagation();"></i>
                <i class="fa fa-trash cursorPointer" style="font-size: 20px" (click)="deleteCheck(cate)"></i>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="!listInventoryArea || listInventoryArea.length===0 " class="borderrow "><label>Không tìm thấy kết quả</label></div>
    <div class="row pl-3 pr-3" [ngClass]="{'displayDiv':!listInventoryArea || listInventoryArea.length===0  }">
      <div class="input-group mb-3">
        <div class="input-group-prepend left-total">
          <span class="" id="inputGroup-sizing-default">Tổng: {{totalPage}}</span>
        </div>
        <div class="right-total">
          <p-paginator [rows]="10" [totalRecords]="this.totalPage" [ngClass]="{'displayDiv': !listInventoryArea || listInventoryArea.length===0 }"
            [rowsPerPageOptions]="[10,20,30,50,100]" (onPageChange)="paginate($event)"></p-paginator>
        </div>
      </div>
    </div>
  </div>
  <!-- Danh sach thuoc tinh con -->
<!-- dialog tao thuoc tinh -->
<div id="addAttribute" bsModal #addAttribute="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" role="dialog">
  <div class="modal-dialog-attributes modal-md ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="selectInventory && !selectInventory.id">Thêm mới khu vực kho</h4>
        <h4 class="modal-title" *ngIf="selectInventory && selectInventory.id && selectInventory.id > 0">Cập nhật
          Khu vực kho</h4>
        <button type="button" class="close" aria-label="Close" id="close-x" (click)="this.addAttribute.hide();"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <!-- Content -->
        <div class="form-group">
          <label class="col-12 pl-0">Tên khu vực kho <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
          <input class="form-control col-12" type="text" name="namestu" (blur)="this.blName = true;" maxlength="255"
            [(ngModel)]="selectInventory.name" [ngClass]="{'mandatoryInput': (!selectInventory || !selectInventory.name) && blName}" />
          <label style="color: red !important;" *ngIf="(!selectInventory || !selectInventory.name) && blName">Trường
            bắt buộc nhập</label>
        </div>
        <div class="form-group">
          <label class="col-12 pl-0">Địa chỉ <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
          <input class="form-control col-12" type="text"  name="address"  maxlength="500" [(ngModel)]="selectInventory.address"
             />
        </div>
        <div class="form-group">
          <label class="col-12 pl-0">Ghi Chú</label>
          <!-- <ckeditor [(ngModel)]="selectInventory.description" name="description" #myckeditor>
          </ckeditor> -->
          <textarea [(ngModel)]="selectInventory.depcription" maxlength="500" class="form-control col-12" name="description"></textarea>
        </div>
        <!-- End Content -->
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-3 mb-2" id="okButton" (click)="submitOk()"> Đồng ý</button>
        <button class="btn btn-primary mr-3 mb-2" id="cancelButton" (click)="this.addAttribute.hide();"> Hủy Bỏ</button>
      </div>
    </div>
  </div>
</div>
<!-- end dialog tao thuoc tinh -->
<!-- dialog xoa -->
<div id="confirmDialodDel" bsModal #confirmDialodDel="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thông báo</h4>
        <button type="button" class="close" aria-label="Close"  (click)="this.confirmDialodDel.hide()"  id="close-x"><span aria-hidden="true">&times;</span></button>
      </div>
       <div class="modal-body">
        <p>{{title}}</p>
      </div>
      <div class="text-center">
        <button class="btn btn-primary stypessMax" (click)="deleteAttribues()" id="okButton">
          <!-- <span class="fa fa-check-circle" ></span> -->
         Có</button>
        <button class="btn btn-primary stypessMax" (click)="this.confirmDialodDel.hide()" id="cancelButton">
          <!-- <span class="ion-android-cancel" ></span> -->
         Không</button>
      </div>
    </div>
  </div>
</div>