<div class="pages-division-job">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="division-job-title">{{'bv-division-job.title.list' | translate}} >> {{'bv-division-job.title.assign_surveyor' | translate}}</div> 
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="form-group row">
      <div class="col-8">

        <div class="form-group row">

          <label class="col-3">{{'bv-division-job.search.distance' | translate}}: </label>
          <div class="col-2">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline1" name="customRadioInline" 
                [(ngModel)]= "distanceRadio" value="m" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline1">{{'bv-division-job.search.m' | translate}}</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline2" name="customRadioInline" 
                [(ngModel)]= "distanceRadio" value="km" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline2">{{'bv-division-job.search.km' | translate}}</label>
            </div>
          </div>

          <div class="col-4">
            <input type="text" [(ngModel)]= "searchQuery.distanceTmp" (keypress)="keyPressOnlyNumber($event)"> 
          </div>
        </div>
    
        <div class="form-group row">
          <label class="col-5">{{'bv-division-job.search.status' | translate}}</label>
          <div class="col-4">
            <select class="form-control" [(ngModel)]="searchQuery.status">
              <option value="">{{'bv-division-job.search.all' | translate}}</option>
              <option value="1">{{'bv-division-job.search.online' | translate}}</option>
              <option value="0">{{'bv-division-job.search.offline' | translate}}</option>
              <option value="2">{{'bv-division-job.search.off' | translate}}</option>
            </select>
          </div>
          <div class="col-2 text-align-right">
              <button class="btn btn-eclaim" type="button" (click)="searchSurveyor()">{{'bv-division-job.search.name' | translate}}</button>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-5">{{'bv-division-job.search.insuredName' | translate}}: </label>
          <div class="col-6">
            <input type="text" [(ngModel)]= "incidentInfo.insuredName" readonly> 
          </div>
        </div>
        <div class="form-group row">
          <label class="col-5">{{'bv-division-job.search.announcerPhone' | translate}}: </label>
          <div class="col-6">
            <input type="text" [(ngModel)]= "incidentInfo.announcerPhone" readonly> 
          </div>
        </div>
        <div class="form-group row">
          <label class="col-5">{{'bv-division-job.search.policyInforPlateNumber' | translate}}: </label>
          <div class="col-6">
            <input type="text" [(ngModel)]= "incidentInfo.policyInforPlateNumber" readonly> 
          </div>
        </div>
        <div class="form-group row">
          <label class="col-5">{{'bv-division-job.search.address' | translate}}: </label>
          <div class="col-6">
            <input type="text" [(ngModel)]= "incidentInfo.address" readonly> 
          </div>
        </div>
        <div class="form-group row">
          <label class="col-5">{{'bv-division-job.search.description' | translate}}: </label>
          <div class="col-6">
            <textarea class="form-control" rows="3" [(ngModel)]="incidentInfo.description" readonly></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-5">{{'bv-division-job.search.guide' | translate}}: </label>
          <div class="col-6">
            <input type="text" [(ngModel)]= "incidentInfo.guide" readonly>
          </div>
        </div>

      </div>

      <div class="col-4">
        <div id="map" class="google-map"></div>
      </div>
    </div>

  </div>

  <div *ngIf="isDisplaySurveyorSearch" class="clear-fix"></div>

  <div *ngIf="isDisplaySurveyorSearch" class="container-fluid">
    <p-dataTable [value]="surveyorSearchList" selectionMode="single" (onRowSelect)="surveyorSearchSelect($event)" 
      [scrollable]="true" scrollHeight="200px" [contextMenu]="cm" >
      <p-column field="employeeName" [filter]="true" filterMatchMode="contains" header="{{'bv-division-job.table.employeeName' | translate}}">
      </p-column>
      <p-column styleClass="txtCenter" field="phoneNumber" [filter]="true" filterMatchMode="contains" header="{{'bv-division-job.table.phoneNumber' | translate}}">
      </p-column>
      <p-column styleClass="txtCenter" field="statusStr" [filter]="true" filterMatchMode="contains" filterMatchMode="contains" header="{{'bv-division-job.table.status' | translate}}">
      </p-column>
      <p-column styleClass="txtCenter" field="updatedDate" [filter]="true" filterMatchMode="contains" header="{{'bv-division-job.table.updatedDate' | translate}}">
      </p-column>
      <p-column styleClass="txtCenter" field="workPending" [filter]="true" filterMatchMode="contains" header="{{'bv-division-job.table.workPending' | translate}}">
      </p-column>
      <p-column styleClass="txtCenter" field="workDone" [filter]="true" filterMatchMode="contains" header="{{'bv-division-job.table.workDone' | translate}}">
      </p-column>
    </p-dataTable>
    <!-- <p-contextMenu #cm [model]="items"></p-contextMenu> -->
    <div class="textLeft" *ngIf="!surveyorSearchList || (surveyorSearchList.length<=0)">
      <span title="Không có bản ghi">{{'bv-division-job.table.no_data' | translate}}</span>
    </div>
  </div>

  <div *ngIf="isDisplaySurveyorSearch" class="clear-fix"></div>

  <div *ngIf="isDisplaySurveyorSearch" class="container-fluid">
    <div class="form-group row">
      <label class="col-2">{{'bv-division-job.table.work_type_assign' | translate}}:</label>
      <div class="col-4">
        <select [disabled] = "!isSelectedSurveyor" class="form-control" [(ngModel)]="workAssignType">
          <option value="1">{{'bv-division-job.table.site_surveyor' | translate}}</option>
          <option value="2">{{'bv-division-job.table.work_surveror' | translate}}</option>
        </select>
      </div>
      <div class="col-3">
        <button [disabled] = "!isSelectedSurveyor" class="btn btn-eclaim" type="button" (click)="assignSurveyor()">{{'bv-division-job.table.btn_assign' | translate}}</button>
      </div>
    </div>
  </div>

  <div *ngIf="isDisplayAssignSurveyor" class="clear-fix"></div>

  <div *ngIf="isDisplayAssignSurveyor" class="container-fluid">
    <div class="row">
      <label class="col-12">{{'bv-division-job.table.list_assign_surveyor' | translate}}:</label>
    </div>
    <p-dataTable [value]="surveyorAssignList" selectionMode="single">
      <p-column styleClass="txtCenter" field="employeeName" [filter]="true" filterMatchMode="contains" header="{{'bv-division-job.table.full_name' | translate}}">
      </p-column>
      <p-column styleClass="txtCenter" field="zoneLeadName" [filter]="true" filterMatchMode="contains" header="{{'bv-division-job.table.zoneLeadName' | translate}}">
      </p-column>
      <p-column styleClass="txtCenter" field="assignDate" [filter]="true" filterMatchMode="contains" header="{{'bv-division-job.table.assignDate' | translate}}">
      </p-column>
      <p-column styleClass="txtCenter" header="{{'bv-division-job.table.action' | translate}}">
          <ng-template let-col let-obj="rowData" let-i="rowIndex" pTemplate="body">
              <button class="btn btn-eclaim" type="button" (click)="removeAssignSurveyor()">{{'bv-division-job.table.remove' | translate}}</button>
          </ng-template>
      </p-column>
    </p-dataTable>
  </div>


  
















</div>  
