input[readonly] {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}
input[disabled] {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}
select[disabled] {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}
textarea[readonly] {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}

.pages-division-job {

    ng-select, select, input {
        width: 100%;
    }

    .text-align-right {
        text-align: right;
    }

    .inline-flex {
        display: inline-flex;
    }
    .inline-percent {
        padding: 4px 0px 0px 5px;
    }

    .clear-fix {
        padding: 10px;
    }

    .division-job-title {
        text-transform: uppercase;
        font-size: 12px !important;
        color: #005aaa;
        font-weight: bold;
        padding: 15px 0px;
    }

    .custom-table {

		.tr-active {
			background-color: #fff09f;
    		// color: white;
		}

		thead {
            // background-color: #93c9ef;
            background-color: #d8f1ff;
		}
		tr:hover {
			cursor: pointer;
		}
	}
}

.text-align-right {
    text-align: right;
}

.label-validate {
    color:#dc3545;
}
.label-validate-custom {
    margin-left: 15px;
    color:#dc3545;
}

#map {
    min-height: 320px;
}