<div class="container-fluid personal-basket">
  <bv-work-basket-assessors *ngIf="hasRoleAssessors"></bv-work-basket-assessors>
  <bv-work-basket-zone *ngIf="hasRoleZone"></bv-work-basket-zone>
  <bv-work-basket-leader *ngIf="hasRoleLeader"></bv-work-basket-leader>
</div>