<div class="row gap-20 masonry pos-r">
  <div class="masonry-item col-md-6">
    <div class="bgc-white p-20 bd">
      <h6 class="c-grey-900">Tạo mới đơn hàng</h6>

      <div class="mT-30">
        <form *ngIf="selectCustomerOrder">
          <div class="form-group row">
            <div class="col-sm-6 col-12">
              <label class="col-12 pl-0">Tên khách hàng <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
              <input class="form-control col-12" type="text" name="shippingName" (blur)="validateCustomer('blName')"
                maxlength="255" [(ngModel)]="selectCustomerOrder.shippingName" [ngClass]="{'mandatoryInput': blName}" />
              <label style="color: red !important;" *ngIf="blName">Trường
                bắt buộc nhập</label>
            </div>
            <div class="col-sm-6 col-12">
              <label class="col-12 pl-0">Mã đơn hàng <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
              <input class="form-control col-12" type="text" name="orderCode" (blur)="validateCustomer('blOrder')"
                maxlength="255" [(ngModel)]="selectCustomerOrder.orderCode" [ngClass]="{'mandatoryInput': blOrder}" />
              <label style="color: red !important;" *ngIf="blOrder">Trường
                bắt buộc nhập</label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6 col-12">
              <label class="col-12 pl-0">Số điện thoại <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
              <input class="form-control col-12" type="text" name="shippingMobile" (keypress)="keyPress($event,'number')" 
              (blur)="changeNumber('phone');validateCustomer('blPhone')"
                maxlength="15" [(ngModel)]="selectCustomerOrder.shippingMobile" [ngClass]="{'mandatoryInput': blPhone}" />
              <label style="color: red !important;" *ngIf="blPhone">Trường
                bắt buộc nhập</label>
            </div>
            <div class="col-sm-6 col-12">
              <label class="col-12 pl-0">Email <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
              <input class="form-control col-12" type="text" name="shippingEmail" (blur)="validateCustomer('email')"
                maxlength="255" [(ngModel)]="selectCustomerOrder.shippingEmail"  [ngClass]="{'mandatoryInput': blEmail || blEmailFomat}" />
              <label style="color: red !important;" *ngIf="blEmail">Trường
                bắt buộc nhập</label>
                <label style="color: red !important;" *ngIf="blEmailFomat">Email không đúng định dạng</label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6 col-12">
              <label class="col-12 pl-0">Địa chỉ <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
              <input class="form-control col-12" type="text" name="shippingAddress" (blur)="validateCustomer('blAddress')"
                maxlength="255" [(ngModel)]="selectCustomerOrder.shippingAddress" [ngClass]="{'mandatoryInput': blAddress}" />
              <label style="color: red !important;" *ngIf="blAddress">Trường
                bắt buộc nhập</label>
            </div>
            <div class="col-sm-6 col-12">
              <label class="col-12 pl-0">Quận/Huyện <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
              <ng-select class="custom form-control coboNsx" name="shippingDistrict" [items]="listDistrict"
              (blur)="validateCustomer('blDistrict')"  [ngClass]="{'mandatoryInput': blDistrict}" [(ngModel)]="selectCustomerOrder.shippingDistrict"
                bindLabel="path_with_type" bindValue="code" notFoundText="{{'bv-gara.search.notFoundText' | translate}}"
                (change)="changeDistrict($event)">
                <ng-template style="margin-left: -13px !important;" ng-option-tmp let-item="item">
                  {{item.path_with_type}}
                </ng-template>
              </ng-select>
              <label style="color: red !important;" *ngIf="blDistrict">Trường
                bắt buộc nhập</label>
            </div>

          </div>
          <div class="form-group row">
            <div class="col-sm-6 col-12">
              <label class="col-12 pl-0">Thành phố <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
              <ng-select class="custom form-control coboNsx" name="shippingCity" [items]="listCity"
              (blur)="validateCustomer('blCity')"  [ngClass]="{'mandatoryInput': blCity}" [(ngModel)]="selectCustomerOrder.shippingCity"
                bindLabel="name_with_type" bindValue="code" notFoundText="{{'bv-gara.search.notFoundText' | translate}}"
                (change)="changeCity($event)">
                <ng-template style="margin-left: -13px !important;" ng-option-tmp let-item="item">
                  {{item.name_with_type}}
                </ng-template>
              </ng-select>
              <label style="color: red !important;" *ngIf="blCity">Trường
                bắt buộc nhập</label>
            </div>
            <div class="col-sm-6 col-12">
              <label class="col-12 pl-0">Phí vận chuyển</label>
              <input class="form-control col-12" type="text" name="salePrice"  maxlength="12" currencyMask 
              [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 0}" (change)="updateTotalPriceOrder()" [(ngModel)]="selectCustomerOrder.shippingFee" />
            </div>

          </div>
          <div class="form-group row">
            <div class="col-sm-6 col-12">
              <label class="col-12 pl-0">Tổng đơn hàng: {{ultilities.numberPrice(selectCustomerOrder.subTotal)}}</label>

            </div>
            <div class="col-sm-6 col-12">
              <label class="col-12 pl-0">Tổng tiền phải thanh toán:
                {{ultilities.numberPrice(selectCustomerOrder.total)}}</label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6 col-12">
              <label class="col-12 pl-0">Phương thức thanh toán</label>
              <select class="form-control" name="paymentMethod" [(ngModel)]="selectCustomerOrder.paymentMethod">
                <option value=0>COD</option>
                <option value=1>BANK</option>
                <option value=2>DEBIT CARD</option>
                <option value=3>CREDIT CARD</option>
              </select>
            </div>
            <div class="col-sm-6 col-12">
              <label class="col-12 pl-0">Trạng thái thanh toán</label>
              <select class="form-control" name="paymentStatus" [(ngModel)]="selectCustomerOrder.paymentStatus">
                <option value='0'>Chưa thanh toán</option>
                <option value='1'>Đã thanh toán</option>
                <option value='2'>Hoàn tất thanh toán</option>
              </select>
            </div>

          </div>
          <div class="form-group row">
            <div class="col-sm-6 col-12">
              <label class="col-12 pl-0">Trạng thái vận chuyển hàng</label>
              <select class="form-control" name="shipmentStatus" [(ngModel)]="selectCustomerOrder.shipmentStatus">
                <option value=0>Đang vận chuyển</option>
                <option value=1>Đã giao hàng</option>
                <option value=2>Hoàn tất giao hàng</option>
              </select>
            </div>
            <div class="col-sm-6 col-12">
              <label class="col-12 pl-0">Trạng thái</label>
              <select class="form-control" name="status" [(ngModel)]="selectCustomerOrder.status">
                <option value=0>Mới</option>
                <option value=1>Đang xử lý</option>
                <option value=2>Đã xử lý</option>
                <option value=3>Hủy bỏ</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <label class="col-12 pl-0">Ghi chú</label>
              <textarea class="form-control col-12" type="text" name="note" maxlength="255" [(ngModel)]="selectCustomerOrder.note"></textarea>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <div class="bgc-white p-20 bd">
      <h6 class="c-grey-900">Thông tin tài khoản</h6>
      <div class="mT-30">
        <form>
          <!-- <div class="col-6 pl-0">
            <div class="checkbox checkbox-circle checkbox-info peers ai-c">
              <input type="checkbox" id="blFeatured" name="featured" [(ngModel)]="blUser" class="peer">
              <label for="blFeatured" class="peers peer-greed js-sb ai-c"><span class="peer peer-greed">Tạo cho tài
                  khoản trên hệ thống</span></label></div>
          </div> -->
          <!-- <div class="col-12 pl-0 pt-3" *ngIf="blUser"></div> -->
          <div class="col-12 pl-0 pt-3">
            <ng-select class="custom form-control coboNsx" name="customerId" [items]="listCustomers" [(ngModel)]="selectCustomerOrder.customerId"
              bindLabel="fullName" bindValue="id" notFoundText="{{'bv-gara.search.notFoundText' | translate}}">
              <ng-template style="margin-left: -13px !important;" ng-option-tmp let-item="item">
                {{item.fullName}}
              </ng-template>
            </ng-select>
          </div>
        </form>
      </div>
    </div>
    <div class="bgc-white p-20 bd mt-4">
      <h6 class="c-grey-900">Chi tiết đơn hàng</h6>
      <div class="mT-30">
        <form>
          <table class="table table-bordered tableAttributes tableOrder ">
            <thead>
              <tr>
                <th scope="col" width="30%">Sản phẩm</th>
                <th scope="col" width="15%">Số lượng</th>
                <th scope="col" width="20%">Giá</th>
                <th scope="col" width="20%">Thành tiền</th>
                <th scope="col" width="15%">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cate of listCustomerOrderProduct; let i = index">
                <td scope="col">
                  <ng-select class="custom form-control coboNsx" name="productId{{i}}" [items]="listProduct"   [ngClass]="{'mandatoryInput': cate.blProduct}"
                    [(ngModel)]="cate.productId" bindLabel="name" bindValue="id" (blur)="onBlur($event)" (add)="onAdd($event,i)"
                    (change)="onChange($event)" notFoundText="{{'bv-gara.search.notFoundText' | translate}}">
                  </ng-select>
                </td>
                <td scope="col" title="{{cate.quantity}}" class="txtCenter">
                  <input class="form-control col-12" type="text" name="quantity{{i}}" (change)="updateTotalPrice()"
                    [(ngModel)]="cate.quantity"   [ngClass]="{'mandatoryInput': cate.blQuantity}" /></td>
                <td scope="col" title="{{ultilities.numberPrice(cate.unitPrice)}}" class="txtRight">
                  <label>{{ultilities.numberPrice(cate.unitPrice)}}</label>
                </td>
                <td scope="col" title="{{ultilities.numberPrice(cate.total)}}" class="txtRight">
                  <label>{{ultilities.numberPrice(cate.total)}}</label>
                </td>
                <td scope="col">
                  <p class="txtCenter">
                    <i class="fa fa-trash cursorPointer" style="font-size: 20px" (click)="deleteRow(i)"></i>
                  </p>
                </td>
              </tr>
              <tr *ngIf="listCustomerOrderProduct && listCustomerOrderProduct.length>0 ">
                <td scope="col">
                  <label>Tổng</label>
                </td>
                <td scope="col" class="txtCenter">
                <td scope="col" class="txtRight">
                </td>
                <td scope="col" class="txtRight">
                  <label>{{ultilities.numberPrice(totalTable)}}</label>
                </td>
                <td scope="col">
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="!listCustomerOrderProduct || listCustomerOrderProduct.length===0 " class="borderrow "><label>Không
              có bản ghi</label></div>
          <div class="col-12 txtRight">
            <i class="fa fa-plus-circle cursorPointer text-primary" title="Thêm" style="font-size: 20px" (click)="addRow()"></i>
          </div>
          <!-- <p-paginator [rows]="10" [totalRecords]="this.totalPage" [ngClass]="{'displayDiv': !listCustomerOrderProduct || listCustomerOrderProduct.length===0 }"
            [rowsPerPageOptions]="[10,20,30,50,100]" (onPageChange)="paginate($event)"></p-paginator> -->
        </form>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-12">
    <div class="col-12 txtCenter">
      <button class="btn btn-primary mr-3" title="Save" (click)="submitOk()">
        Lưu</button>
      <button class="btn btn-primary mr-3" title="Bank" (click)="backManagement()">Quay lại</button>
    </div>
  </div>
</div>