<div class="bgc-white bd bdrs-3 p-20 mB-20">
  <h4 class="c-grey-900 mB-20">Kho sản phẩm</h4>
  <div class="col-12 txtRight pr-0">
    <button class="btn btn-primary mb-2" (click)="addProductInventoryArea();">
      <i class="fa fa-plus pr-2"></i>Thêm Sản phẩm vào kho</button>
  </div>
  <div class="row pl-3 pr-3">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Tìm kiếm</span>
      </div>
      <input aria-label="Default" class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="txtSearch"
        name="txtSearch" placeholder="Tên/ Mã sản phẩm/ Kho" type="text" (keyup.enter)="loadInventory()"
        (blur)="loadInventory()">
    </div>
  </div>
  <!-- <p>Add <code class="highlighter-rouge">.table-bordered</code> for borders on all sides of the table and cells.</p> -->
  <div class="scrollTable">
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- <th scope="col" style="width:5%">#</th> -->
          <th scope="col" style="width:20%">Tên sản phảm </th>
          <th scope="col" style="width:15%">Mã sản phẩm </th>
          <th scope="col" style="width:15%">Kho </th>
          <th scope="col" style="width:12%">Tổng số lượng</th>
          <th scope="col" style="width:13%">Số lượng còn lại</th>
          <!-- <th scope="col" style="width:15%">Ngày tạo</th> -->
          <th scope="col" style="width:15%">Ngày sửa</th>
          <th scope="col" style="width:10%">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cate of listInventory; let i = index">
          <!-- <td scope="col" class="txtCenter">{{i+1}}</td> -->
          <td scope="col" title="{{cate.productName}}" class="NotShowDepcripton">{{cate.productName}}</td>
          <td scope="col" title="{{cate.sku}}" class="NotShowDepcripton txtCenter">{{cate.sku}}</td>
          <td scope="col" title="{{cate.inventoryArea}}" class="NotShowDepcripton">{{cate.inventoryArea}}</td>
          <td scope="col" title="{{cate.stock}}">{{cate.stock}}</td>
          <td scope="col" title="{{cate.currentStock}}" class="NotShowDepcripton">{{cate.currentStock}}</td>
          <!-- <td scope="col" title="{{viewDate(cate.createdAt)}}">{{viewDate(cate.createdAt)}}</td> -->
          <td scope="col" title="{{viewDate(cate.updatedAt)}}">{{viewDate(cate.updatedAt)}}</td>
          <td scope="col">
            <p class="txtCenter">
              <i title="Chi tiết Xuất nhập kho" class="fa fa-info-circle cursorPointer text-info"
                style="font-size: 20px" (click)="showDetail(cate.id,cate)" aria-hidden="true"></i>
              <i title="Tạo phiếu nhập kho" class="fa fa-plus-circle cursorPointer text-primary" aria-hidden="true"
                style="font-size: 20px" (click)="createInventoryDetail(cate,'add')"></i>
              <i title="Tạo phiếu xuất kho" class="fa fa-minus-circle cursorPointer text-danger" aria-hidden="true"
                style="font-size: 20px" (click)="createInventoryDetail(cate,'')"></i>
              <i class="fa fa-trash cursorPointer" title="Xóa sản phẩm khỏi kho" style="font-size: 20px"
                (click)="deleteCheck(cate)"></i>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!listInventory || listInventory.length===0 " class="borderrow "><label>Không tìm thấy kết quả</label>
  </div>
  <div class="row pl-3 pr-3" [ngClass]="{'displayDiv': !listInventory || listInventory.length===0  }">
    <div class="input-group mb-3">
      <div class="input-group-prepend left-total">
        <span class="" id="inputGroup-sizing-default">Tổng: {{totalPage}}</span>
      </div>
      <div class="right-total">
        <p-paginator [rows]="10" [totalRecords]="this.totalPage"
          [ngClass]="{'displayDiv': !listInventory || listInventory.length===0  }"
          [rowsPerPageOptions]="[10,20,30,50,100]" (onPageChange)="paginate($event)"></p-paginator>
      </div>
    </div>
  </div>
</div>
<!-- Comfirn Delete -->
<div id="confirmDialodDel" bsModal #confirmDialodDel="bs-modal" [config]="{backdrop: 'static'}" class="modal fade"
  role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thông báo</h4>
        <button type="button" class="close" aria-label="Close" (click)="this.confirmDialodDel.hide()" id="close-x"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>{{title}}</p>
      </div>
      <div class="text-center">
        <button class="btn btn-primary stypessMax" (click)="deleteInventory()" id="okButton">
          <!-- <span class="fa fa-check-circle" ></span> -->
          Có</button>
        <button class="btn btn-primary stypessMax" (click)="this.confirmDialodDel.hide()" id="cancelButton">
          <!-- <span class="ion-android-cancel" ></span> -->
          Không</button>
      </div>
    </div>
  </div>
</div>
<!-- Nhập xuất Kho -->
<div id="createInventory" bsModal #createInventory="bs-modal" [config]="{backdrop: 'static'}" class="modal fade"
  role="dialog">
  <div class="modal-dialog-attributes modal-md ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{titleAdd}}</h4>
        <!-- <h4 class="modal-title" *ngIf="selectAttributes && selectAttributes.id && selectAttributes.id > 0">Cập nhật
          Thuộc tính</h4> -->
        <button type="button" class="close" aria-label="Close" id="close-x" (click)="this.createInventory.hide();"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <!-- Content -->
        <div class="form-group row">
          <div class="col-sm-6 col-12">
            <label class="col-12 pl-0">Tên sản phẩm </label>
            <label class="col-12 pl-0">{{selectInventoryOrder.productName}} </label>
          </div>
          <div class="col-sm-6  col-12">
            <label class="col-12 pl-0">Mã sản phẩm </label>
            <label class="col-12 pl-0">{{selectInventoryOrder.sku}} </label>
          </div>

        </div>
        <div class="form-group">
          <label class="col-12 pl-0">Số lượng còn lại trong kho</label>
          <label class="col-12 pl-0">{{selectInventory.currentStock}} </label>
        </div>
        <div class="form-group row">
          <div class="col-sm-6 col-12">
            <label class="col-12 pl-0">Số lượng <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
            <input class="form-control col-12" type="text" (blur)="validateDetail('quatity')" name="blQuantity"
              maxlength="6" [(ngModel)]="selectInventoryOrder.quantity" min="0" (keypress)="keyPress($event,'number')"
              [ngClass]="{'mandatoryInput': ((!selectInventoryOrder || selectInventoryOrder.blQuantity) || (!selectInventoryOrder.blQuantity && selectInventoryOrder.maxQuatity))}" />
          </div>
          <div class="col-sm-6 col-12">
            <label class="col-12 pl-0">Giá <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
            <input class="form-control col-12" type="text" name="blUnitPrice" (blur)="validateDetail('price')"
              maxlength="11" [(ngModel)]="selectInventoryOrder.unitPrice" currencyMask
              [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 0}"
              [ngClass]="{'mandatoryInput': (!selectInventoryOrder || selectInventoryOrder.blUnitPrice)}" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-12 pl-0">Tổng tiền:</label>
          <label class="col-12 pl-0">{{viewPrice(selectInventoryOrder.totalPrice)}}</label>
        </div>
        <div class="form-group">
          <label class="col-12 pl-0">Số seri</label>
          <input [(ngModel)]="selectInventoryOrder.serialNumbers" maxlength="255" class="form-control col-12"
            name="serialNumbers" />
        </div>
        <div class="form-group">
          <label class="col-12 pl-0">Ghi Chú</label>
          <textarea [(ngModel)]="selectInventoryOrder.comment" maxlength="255" class="form-control col-12"
            name="comment"></textarea>
        </div>
        <!-- End Content -->
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-3 mb-2" id="okButton" (click)="submitInventory()"> Lưu</button>
        <button class="btn btn-primary mr-3 mb-2" id="cancelButton" (click)="this.createInventory.hide();"> Hủy
          Bỏ</button>
      </div>
    </div>
  </div>
</div>

<!-- dialog tao thuoc tinh chi tiet -->
<div id="viewdetail" bsModal #viewdetail="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" role="dialog">
  <div class="modal-dialog-attributes modal-md ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Lịch sử xuất nhập</h4>
        <button type="button" class="close" aria-label="Close" id="close-x" (click)="this.viewdetail.hide();"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row form-group pl-3">
          <label class="col-sm-6 col- pl-0">Tên sản phẩm </label>
          <label class="col-sm-6 col-12 pl-0">{{selectInventoryOrder.productName}} </label>
        </div>
        <div class="row  form-group pl-3">
          <label class="col-sm-6 col-12 pl-0">Mã sản phẩm </label>
          <label class="col-sm-6 col-12 pl-0">{{selectInventoryOrder.sku}} </label>
        </div>
        <table class="table table-bordered tableAttributes ">
          <thead>
            <tr>
              <th scope="col" width="20%">Số lượng</th>
              <th scope="col" width="20%" class="NotShowDepcripton">Giá</th>
              <th scope="col" width="20%">Tổng tiền</th>
              <th scope="col" width="20%">Số Seri</th>
              <th scope="col" width="20%">Ghi chú</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cate of listDetailInventoryOrder; let i = index">
              <td scope="col" title="{{cate.quantity}}">{{cate.quantity}}</td>
              <td scope="col" title="{{cate.unitPrice}}" class="NotShowDepcripton">{{cate.unitPrice}}</td>
              <td scope="col" title="{{cate.totalPrice}}" class="txtCenter">{{cate.totalPrice}}</td>
              <td scope="col" title="{{cate.serialNumbers}}" class="txtCenter">{{cate.serialNumbers}}</td>
              <td scope="col" title="{{cate.comment}}" class="txtLeft NotShowDepcripton">{{cate.comment}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!listDetailInventoryOrder || listDetailInventoryOrder.length===0 " class="borderrow pl-4"><label>Không
          tìm thấy kết quả</label></div>
      <div class="row pl-3 pr-3"
        [ngClass]="{'displayDiv': !listDetailInventoryOrder || listDetailInventoryOrder.length===0 }">
        <div class="input-group mb-3">
          <div class="input-group-prepend left-total">
            <span class="" id="inputGroup-sizing-default">Tổng số: {{totalPageDetail}}</span>
          </div>
          <div class="right-total">
            <p-paginator [rows]="10" [totalRecords]="this.totalPageDetail"
              [ngClass]="{'displayDiv': !listDetailInventoryOrder || listDetailInventoryOrder.length===0 }"
              [rowsPerPageOptions]="[10,20,30,50,100]" (onPageChange)="paginateDetail($event)"></p-paginator>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-3 mb-2" id="cancelButton" (click)="this.viewdetail.hide();"> Đóng</button>
      </div>
      <!-- End Content -->
    </div>

  </div>
</div>
<!-- Thêm sản phẩm vào kho -->
<div id="createInventoryMaster" bsModal #createInventoryMaster="bs-modal" [config]="{backdrop: 'static'}"
  class="modal fade" role="dialog">
  <div class="modal-dialog-attributes modal-md ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{titleAdd}}</h4>
        <!-- <h4 class="modal-title" *ngIf="selectAttributes && selectAttributes.id && selectAttributes.id > 0">Cập nhật
            Thuộc tính</h4> -->
        <button type="button" class="close" aria-label="Close" id="close-x"
          (click)="this.createInventoryMaster.hide();"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <!-- Content -->
        <div class="form-group row">
          <div class="col-sm-6 col-12">
            <label class="col-12 pl-0">Tên sản phẩm </label>
            <label class="col-12 pl-0">{{selectInventoryOrder.productName}} </label>
          </div>
          <div class="col-sm-6  col-12">
            <label class="col-12 pl-0">Mã sản phẩm </label>
            <label class="col-12 pl-0">{{selectInventoryOrder.sku}} </label>
          </div>

        </div>
        <div class="form-group">
          <label class="col-12 pl-0">Số lượng còn lại trong kho</label>
          <label class="col-12 pl-0">{{selectInventory.currentStock}} </label>
        </div>
        <div class="form-group row">
          <div class="col-sm-6 col-12">
            <label class="col-12 pl-0">Số lượng <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
            <input class="form-control col-12" type="text" (blur)="validateDetail('quatity')" name="blQuantity"
              maxlength="6" [(ngModel)]="selectInventoryOrder.quantity" min="0" (keypress)="keyPress($event,'number')"
              [ngClass]="{'mandatoryInput': ((!selectInventoryOrder || selectInventoryOrder.blQuantity) || (!selectInventoryOrder.blQuantity && selectInventoryOrder.maxQuatity))}" />
          </div>
          <div class="col-sm-6 col-12">
            <label class="col-12 pl-0">Giá <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
            <input class="form-control col-12" type="text" name="blUnitPrice" (blur)="validateDetail('price')"
              maxlength="11" [(ngModel)]="selectInventoryOrder.unitPrice" currencyMask
              [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 0}"
              [ngClass]="{'mandatoryInput': (!selectInventoryOrder || selectInventoryOrder.blUnitPrice)}" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-12 pl-0">Tổng tiền:</label>
          <label class="col-12 pl-0">{{viewPrice(selectInventoryOrder.totalPrice)}}</label>
        </div>
        <div class="form-group">
          <label class="col-12 pl-0">Số seri</label>
          <input [(ngModel)]="selectInventoryOrder.serialNumbers" maxlength="255" class="form-control col-12"
            name="serialNumbers" />
        </div>
        <div class="form-group">
          <label class="col-12 pl-0">Ghi Chú</label>
          <textarea [(ngModel)]="selectInventoryOrder.comment" maxlength="255" class="form-control col-12"
            name="comment"></textarea>
        </div>
        <!-- End Content -->
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-3 mb-2" id="okButton" (click)="submitInventory()"> Lưu</button>
        <button class="btn btn-primary mr-3 mb-2" id="cancelButton" (click)="this.createInventoryMaster.hide();"> Hủy
          Bỏ</button>
      </div>
    </div>
  </div>
</div>