.btnWidth {
  border: 1px solid darkgray;
  font-size: 14px;
  height: 35px;
  font-size: 14px;
}
.borderBottom{
  border-bottom: 3px solid #cba34d;
  button {
    color:#005aaa;
    font-weight: bold;
    background: #ffffff;
    border: 1px solid #959595;
    border-bottom: none;
    border-radius: 15px 15px 0 0;
  }
  button:focus {
    outline: none;
  }
  button:hover {
    cursor: pointer;
  }
  button.btlSelected{
    background: #d0a835;
    color: #ffffff;
    border-color: #cba34d;
  }  
}