<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="borderBottom row no-gutters">
        <button class="col btnWidth" (click)="onclickTab('btnInformation')" [ngClass]="focusSelected=='btnInformation'? 'btlSelected' : 'notbtlSelected'"
          translate>{{'leftMenu.documentGara.btnInformation'}}</button>
        <button class="col btnWidth" (click)="onclickTab('btnDocument')" [ngClass]="focusSelected=='btnDocument'? 'btlSelected' : 'notbtlSelected'"
          *ngIf="!isRejectedQuote" translate>{{'leftMenu.documentGara.btnDocument'}}</button>
        <button class="col btnWidth" (click)="onclickTab('btnRepair')" [ngClass]="focusSelected=='btnRepair'? 'btlSelected' : 'notbtlSelected'"
          translate>{{'leftMenu.documentGara.btnRepair'}}</button>
        <button class="col btnWidth" (click)="onclickTab('btnGuarantee')" [ngClass]="focusSelected=='btnGuarantee'? 'btlSelected' : 'notbtlSelected'"
          *ngIf="!isRejectedQuote" translate>{{'leftMenu.documentGara.btnGuarantee'}}</button>

      </div>
    </div>
  </div>
  <!--tab tổn thất-->
  <div *ngIf="focusSelected=='btnInformation'">
    <informationlost></informationlost>
  </div>
  <!--tab tai lieu-->
  <div (focusTabInfoLost)="focusSelected = $event" *ngIf="focusSelected=='btnDocument'">
    <document [claimId]="claimId" [claimCustomer]="claimCustomer" *ngIf="isGetList"></document>
  </div>
  <!--tab sua chua-->
  <div *ngIf="focusSelected=='btnRepair'">
    <repair [claimId]="claimId" [claimCustomer]="claimCustomer" (onInit)="isRejectedQuote = $event"></repair>
  </div>

  <!--tab thông tin bảo lãnh-->
  <div *ngIf="focusSelected=='btnGuarantee'">
    <guarantee></guarantee>
  </div>
</div>