<div class="bgc-white bd bdrs-3 p-20 mB-20">
    <div class="row">
        <h4 class="c-grey-900 mB-20 col-sm-9 col-12">Danh sách Tài khoản</h4>
        <div class=" col-sm-3 col-12 txtRight pr-0">
            <button class="btn btn-primary mr-3 mb-2 " (click)="viewDialog('');">
                <i class="fa fa-plus pr-2"></i>Thêm</button>
        </div>
    </div>
    <div class="row pl-3 pr-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Tìm kiếm</span>
            </div>
            <input aria-label="Default" class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="txtSearch"
                name="txtSearch" placeholder="Tên tài khoản/ Email/ Họ tên/ Số điện thoại" type="text"
                (keyup.enter)="loadAccount()" (blur)="loadAccount()">
        </div>
    </div>
    <div class="scrollTable">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <!-- <th scope="col" style="width: 5%;">#</th> -->
                    <th scope="col" style="width: 10%;">Tài khoản</th>
                    <th scope="col" style="width: 15%;">Họ</th>
                    <th scope="col" style="width: 15%;">Tên</th>
                    <th scope="col" style="width: 10%;">Số điện thoại</th>
                    <th scope="col" style="width: 15%;">Email</th>
                    <th scope="col" style="width: 10%;">Thời gian tạo</th>
                    <th scope="col" style="width: 10%;">Trạng thái</th>
                    <th scope="col" style="width: 10%;">Thao tác</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listAccount; let i = index">
                    <!-- <td scope="col" class="txtCenter">{{i+1}}</td> -->
                    <td scope="col" title="{{item.username}}">{{item.username}}</td>
                    <td scope="col" title="{{item.firstName}}">{{item.firstName}}</td>
                    <td scope="col" title="{{item.lastName}}">{{item.lastName}}</td>
                    <td scope="col" title="{{item.phone}}">{{item.phone}}</td>
                    <td scope="col" title="{{item.email}}">{{item.email}}</td>
                    <td scope="col" class="txtCenter">{{viewDate(item.createdOn)}}</td>
                    <td scope="col" class="txtCenter">{{item.active===1?'Hoạt động':'Không Hoạt động'}}</td>
                    <td scope="col">
                        <p class="txtCenter">
                            <i class="ace-icon fa fa-pencil bigger-120 cursorPointer pr-3" title="Sửa"
                                style="font-size: 20px" (click)="viewDialog(item)"></i>
                            <i class="fa fa-trash cursorPointer" style="font-size: 20px" title="Xóa"
                                (click)="deleteCheck(item)"></i>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!listAccount || listAccount.length===0 " class="borderrow "><label>Không tìm thấy kết quả</label></div>

    <div class="row pl-3 pr-3" [ngClass]="{'displayDiv': !listAccount || listAccount.length===0 }">
        <div class="input-group mb-3">
            <div class="input-group-prepend left-total">
                <span class="" id="inputGroup-sizing-default">Tổng: {{totalPage}}</span>
            </div>
            <div class="right-total">
                <p-paginator [rows]="10" [totalRecords]="this.totalPage"
                    [ngClass]="{'displayDiv': !listAccount || listAccount.length===0 }"
                    [rowsPerPageOptions]="[10,20,30,50,100]" (onPageChange)="paginate($event)"></p-paginator>
            </div>
        </div>
    </div>
</div>

<!-- dialog tao thuoc tinh -->
<div id="addAccount" bsModal #addAccount="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" role="dialog">
    <div class="modal-dialog-attributes modal-md ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="selectAccount && !selectAccount.id">Thêm mới Tài khoản</h4>
                <h4 class="modal-title" *ngIf="selectAccount && selectAccount.id && selectAccount.id > 0">Cập nhật tài
                    khoản</h4>
                <button type="button" class="close" aria-label="Close" id="close-x"
                    (click)="this.addAccount.hide();"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <!-- Content -->
                <div class="form-group">
                    <label class="col-12 pl-0">Tài khoản <i class="fa fa-asterisk requisIcon"
                            aria-hidden="true"></i></label>
                    <input class="form-control col-12" type="text" name="namestu" (blur)="validate('name')"
                        maxlength="100" [(ngModel)]="selectAccount.username"
                        [ngClass]="{'mandatoryInput': blUsername || (!blUsername && blUsernameFormat)}" />
                    <label style="color: red !important;" *ngIf="blUsername">Trường bắt buộc nhập</label>
                    <label style="color: red !important;" *ngIf="!blUsername && blUsernameFormat">Tài khoản không đúng
                        định dạng</label>
                </div>
                <div class="form-group">
                    <label class="col-12 pl-0">Email <i class="fa fa-asterisk requisIcon"
                            aria-hidden="true"></i></label>
                    <input [(ngModel)]="selectAccount.email" class="form-control col-12" name="email" maxlength="254"
                        (blur)="validate('email')"
                        [ngClass]="{'mandatoryInput': blEmail || (!blEmail && blEmailFormat)}" />
                    <label style="color: red !important;" *ngIf="blEmail">Trường
                        bắt buộc nhập</label>
                    <label style="color: red !important;" *ngIf="!blEmail && blEmailFormat">Email không đúng định
                        dạng</label>
                </div>
                <div class="form-group">
                    <label class="col-12 pl-0">Mật khẩu <i class="fa fa-asterisk requisIcon"
                            aria-hidden="true"></i></label>
                    <input type="password" [(ngModel)]="selectAccount.password" class="form-control col-12"
                        name="password" (blur)="validate('blPass')" [ngClass]="{'mandatoryInput': blPass}"
                        maxlength="100" />
                    <label style="color: red !important;" *ngIf="blPass">Trường bắt buộc nhập</label>
                </div>
                <div class="form-group">
                    <label class="col-12 pl-0">Họ <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
                    <input [(ngModel)]="selectAccount.firstName" class="form-control col-12" name="firstName"
                        maxlength="50" (blur)="validate('blFirstName')" [ngClass]="{'mandatoryInput': blFirstName}" />
                    <label style="color: red !important;" *ngIf="blFirstName">Trường bắt buộc nhập</label>
                </div>
                <div class="form-group">
                    <label class="col-12 pl-0">Tên <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
                    <input [(ngModel)]="selectAccount.lastName" class="form-control col-12" name="lastName"
                        maxlength="50" (blur)="validate('blLastName')" [ngClass]="{'mandatoryInput': blLastName}" />
                    <label style="color: red !important;" *ngIf="blLastName">Trường bắt buộc nhập</label>
                </div>
                <div class="form-group">
                    <label class="col-12 pl-0">Số điện thoại</label>
                    <input [(ngModel)]="selectAccount.phone" (keypress)="keyPress($event,'number')"
                        class="form-control col-12" name="phone" maxlength="20" />
                </div>
                <div class="form-group">
                    <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                        <input type="checkbox" id="inputCall2" name="inputCheckboxesCall"
                            [(ngModel)]="selectAccount.blAction" class="peer">
                        <label for="inputCall2" class="peers peer-greed js-sb ai-c"><span class="peer peer-greed">Hoạt
                                động</span></label></div>
                </div>
                <div class="form-group">
                    <label class="col-12 pl-0">Role</label>
                    <!-- <input [(ngModel)]="selectAccount.lastName" class="form-control col-12" name="Role" maxlength="50" /> -->
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-3 mb-2" id="okButton" (click)="submitOk()"> Đồng ý</button>
                <button class="btn btn-primary mr-3 mb-2" id="cancelButton" (click)="this.addAccount.hide();"> Huy
                    Bỏ</button>
            </div>
        </div>
    </div>
</div>
<!-- end dialog tao thuoc tinh -->

<!-- Confirm delete -->
<div id="confirmDialodDel" bsModal #confirmDialodDel="bs-modal" [config]="{backdrop: 'static'}" class="modal fade"
    role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông báo</h4>
                <button type="button" class="close" aria-label="Close" (click)="this.confirmDialodDel.hide()"
                    id="close-x"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>{{title}}</p>
            </div>
            <div class="text-center">
                <button class="btn btn-primary stypessMax" (click)="deleteAccount()" id="okButton">
                    <!-- <span class="fa fa-check-circle" ></span> -->
                    Có</button>
                <button class="btn btn-primary stypessMax" (click)="this.confirmDialodDel.hide()" id="cancelButton">
                    <!-- <span class="ion-android-cancel" ></span> -->
                    Không</button>
            </div>
        </div>
    </div>
</div>