<div class="bgc-white bd bdrs-3 p-20 mB-20">
  <div class="row">
    <h4 class="c-grey-900 mB-20 col-sm-9 col-12">Quản lý cấu hình</h4>
    <div class=" col-sm-3 col-12 txtRight pr-0">
      <button class="btn btn-primary mr-3 mb-2 " (click)="createSetting();">
        <i class="fa fa-plus pr-2"></i>Thêm</button>
    </div>
  </div>
  <div class="row pl-3 pr-3">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Tìm kiếm</span>
      </div>
      <input aria-label="Default" class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="txtSearch"
        name="txtSearch" placeholder="key/ thể loại/ nội dung/ tiêu đề" type="text" (keyup.enter)="loadCategories()"
        (blur)="loadCategories()">
    </div>
  </div>
  <div class="scrollTable">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" style="width: 5%;">#</th>
          <th scope="col">Key</th>
          <th scope="col">Value</th>
          <!-- <th scope="col">url</th> -->
          <th scope="col">Type</th>
          <!-- <th scope="col">Tiêu đề</th> -->
          <th scope="col">Create Date</th>
          <th scope="col">Update Date</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cate of listSetting; let i = index">
          <td scope="col" class="txtCenter">{{i+1}}</td>
          <td scope="col" title="{{cate.key}}">{{cate.key}}</td>
          <td scope="col">
            <p class="txtCenter " *ngIf="cate.type == 'image'">
              <img style="width:75px;" src="{{cate.value}}" onerror="imageError(this)" />
            </p>
            <span *ngIf="cate.type !== 'image'" scope="col" title="{{cate.value}}"
              class="NotShowDepcripton">{{cate.value}}</span>
          </td>
          <!-- <td scope="col" title="{{cate.url}}" >{{cate.url}}</td> -->
          <td scope="col" title="{{cate.type}}" class="NotShowDepcripton txtCenter">{{cate.type}}</td>

          <!-- <td scope="col"  title="{{cate.title}}" >{{cate.title}}</td> -->
          <td scope="col" title="{{viewDate(cate.createAt)}}" class="txtCenter">{{viewDate(cate.createAt)}}</td>
          <td scope="col" title="{{viewDate(cate.updateAt)}}" class="txtCenter">{{viewDate(cate.updateAt)}}</td>
          <td scope="col">
            <p class="txtCenter">
              <i class="ace-icon fa fa-pencil bigger-120 cursorPointer pr-3" title="Sửa" style="font-size: 20px"
                (click)="updateSetting(cate.id)"></i>
              <i class="fa fa-trash cursorPointer" style="font-size: 20px" title="Xóa"
                (click)="deleteByID(cate.id)"></i>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!listSetting || listSetting.length===0 " class="borderrow "><label>Không tìm thấy kết quả</label></div>
  <p-paginator [rows]="10" [totalRecords]="this.totalPage"
    [ngClass]="{'displayDiv': !listSetting || listSetting.length===0 }" [rowsPerPageOptions]="[10,20,30,50,100]"
    (onPageChange)="paginate($event)"></p-paginator>
</div>
<div id="confirmDialodDel" bsModal #confirmDialodDel="bs-modal" [config]="{backdrop: 'static'}" class="modal fade"
  role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thông báo</h4>
        <button type="button" class="close" aria-label="Close" (click)="this.confirmDialodDel.hide()" id="close-x"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>{{title}}</p>
      </div>
      <div class="text-center">
        <button class="btn btn-primary stypessMax" id="okButton">
          <!-- <span class="fa fa-check-circle" ></span> -->
          Có</button>
        <button class="btn btn-primary stypessMax" (click)="this.confirmDialodDel.hide()" id="cancelButton">
          <!-- <span class="ion-android-cancel" ></span> -->
          Không</button>
      </div>
    </div>
  </div>
</div>