<div class="header navbar">
  <div class="header-container">
    <ul class="nav-left">
      <li><a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);" (click)="toggleMenu()"><i class="ti-menu"></i></a></li>
      <li class="search-box" [ngClass]="{'active': toggleSearch}" ><a class="search-toggle no-pdd-right" href="javascript:void(0);" (click)="toggleSearch = !toggleSearch" ><i class="search-icon ti-search pdd-right-10"></i>
          <i class="search-icon-close ti-close pdd-right-10"></i></a></li>
      <li class="search-input"  [ngClass]="{'active': toggleSearch}"><input class="form-control" type="text" placeholder="Search..."></li>
    </ul>
    <ul class="nav-right">
      <li class="dropdown" [ngClass]="{'show': toggleAccount}">
        <a href="javascript:void(0);" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown" (click)="toggleAccount = !toggleAccount">
          <div class="peer mR-10"><img class="w-2r bdrs-50p" src="https://randomuser.me/api/portraits/men/10.jpg" alt=""></div>
          <div class="peer"><span class="fsz-sm c-grey-900">{{fullName}}</span></div>
        </a>
        <ul class="dropdown-menu fsz-sm" [ngClass]="{'show': toggleAccount}">
          <li><a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="ti-settings mR-10"></i> <span>Setting</span></a></li>
          <li><a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="ti-user mR-10"></i> <span>Profile</span></a></li>
          <li><a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="ti-email mR-10"></i> <span>Messages</span></a></li>
          <li role="separator" class="divider"></li>
          <li><a (click)="logout()" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="ti-power-off mR-10"></i> <span>Logout</span></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>