.gara-create {

	ng-select, select, input {
		width: 100%;
	}

	label {
		padding-top: 8px;
		color: #72777a !important;
	}

	.icon-close-popup {
		float: right !important;
		padding-right: 5px !important;
		cursor: pointer;
	}

	.text-align-right {
		text-align: right;
	}

	.invalid-required {
	    width: 100%;
	    margin-top: 0.25rem;
	    font-size: 80%;
	    color: #dc3545;
	}
}