<ng-template #addressSearchTemplate let-r="result">
	<span> {{viewAddress(r.commune,r.district,r.city)}} </span>
</ng-template>

<p-confirmDialog header="Thông báo" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
<p-messages [(value)]="msgs"></p-messages>
<div class="gara-create">
	<h2 *ngIf="!isUpdateGara" class="eclaim-title eclaim-title-custom">
		<i class="fa fa-plus-square" aria-hidden="true"></i> Tạo mới gara
		<i (click)="closePopupCreate()" class="fa fa-times icon-close-popup" aria-hidden="true"></i>
	</h2>
	<h2 *ngIf="isUpdateGara" class="eclaim-title eclaim-title-custom">
		<i class="fa fa-plus-square" aria-hidden="true"></i> Cập nhật gara
		<i (click)="closePopupCreate()" class="fa fa-times icon-close-popup" aria-hidden="true"></i>
	</h2>
	<div class="form-group row">
		<label class="col-3">Mã số thuế (*)</label>
		<div class="col-9">
			<input [(ngModel)]="dmContact.taxCode" id="taxCodeID" class="form-control" (keypress)="keyPress($event,'price')" placeholder="Mã số thuế"
			 (blur)="onCheckTaxCode()" type="text" #eri="ngModel" [ngClass]="{'mandatoryInput': (!blTaxCode) || (!blTaxCode && !dmContact.taxCode) ||
			 (dmContact.taxCode && dmContact.taxCode.length>20) || (!blFormatTaxCode && blTaxCode &&  dmContact.taxCode.length<=20)}"
			 maxlength="20" [readonly]="isUpdateGara" (change)="onCheckValidaterequired('', 'isRequiredTaxCode','')">
			<div *ngIf="!blTaxCode && !dmContact.taxCode">
				<label style="color:#dc3545 ">{{'bao-viet.claim.validate.required' | translate }}</label>
			</div>
			<div *ngIf="(dmContact.taxCode && dmContact.taxCode.length>20)">
				<label style="color:#dc3545"> {{'bao-viet.claim.validate.max' | translate:{value: 20} }}</label>
			</div>
			<div *ngIf="(!blFormatTaxCode && blTaxCode &&  dmContact.taxCode.length<=20)">
				<label style="color:#dc3545">Yêu cầu nhập dữ liệu kiểu số</label>
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-3">Tên gara/Xưởng sửa chữa (*)</label>
		<div class="col-9">
			<input [(ngModel)]="dmContact.nameVN" class="form-control" (blur)=" this.blNameVN = false;" placeholder="Tên gara/xưởng sửa chữa"
			 type="text" #nameVN="ngModel" maxlength="254" (change)="onCheckValidaterequired('', 'isRequiredName','')" [ngClass]="{'mandatoryInput':  (!blNameVN  && !dmContact.nameVN) || (dmContact.nameVN && dmContact.nameVN.length>254)}">
			<div *ngIf="(!blNameVN && !dmContact.nameVN)">
				<label style="color:#dc3545 ">{{'bao-viet.claim.validate.required' | translate }}</label>
			</div>
			<div *ngIf="(dmContact.nameVN && dmContact.nameVN.length>254)">
				<label style="color:#dc3545"> {{'bao-viet.claim.validate.max' | translate:{value: 254} }}</label>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-3">Tên thường gọi</label>
		<div class="col-9">
			<input [(ngModel)]="dmContact.commonName" type="text" #commonName="ngModel" [ngClass]="{'mandatoryInput': dmContact.commonName && dmContact.commonName.length > 200}"
			 maxlength="200" class="form-control" placeholder="Tên thường gọi">
			<div *ngIf="(dmContact.commonName && dmContact.commonName.length > 200)">
				<label style="color:#dc3545"> {{'bao-viet.claim.validate.max' | translate:{value: 200} }}</label>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-3">Số điện thoại</label>
		<div class="col-3">
			<input [(ngModel)]="dmContact.phoneNumber" class="form-control" placeholder="Số điện thoại" type="text" #phoneNumber="ngModel"
			 maxlength="20" [ngClass]="{'mandatoryInput': (dmContact.phoneNumber && dmContact.phoneNumber.length > 20) || (!blFormatPhoneNumber && dmContact.phoneNumber.length <= 20)}"
			 (keypress)="keyPress($event,'price')" (change)="onCheckValidaterequired('', 'blFormatPhoneNumber','')">
			<div *ngIf="(dmContact.phoneNumber && dmContact.phoneNumber.length > 20)">
				<label style="color:#dc3545"> {{'bao-viet.claim.validate.max' | translate:{value: 20} }}</label>
			</div>
			<div *ngIf="(!blFormatPhoneNumber && dmContact.phoneNumber.length <= 20)">
				<label style="color:#dc3545"> Yêu cầu nhập dữ liệu kiểu số</label>
			</div>
		</div>
		<label class="col-1">Email (*)</label>
		<div class="col-5">
			<input [(ngModel)]="dmContact.email" (blur)="this.blTEmail = false;" type="text" class="form-control" placeholder="Email"
			 type="text" #email="ngModel"  maxlength="254" (change)="onCheckValidaterequired('', 'isRequiredEmail','')"
			 [ngClass]="{'mandatoryInput': (!blTEmail && !dmContact.email) || 
			 (dmContact.email && dmContact.email.length>254) || (!blFormatEmail)}">
			<div *ngIf="(!blTEmail && !dmContact.email)">
				<label style="color:#dc3545 ">{{'bao-viet.claim.validate.required' | translate }}</label>
			</div>
			<div *ngIf="(dmContact.email && dmContact.email.length>254)">
				<label style="color:#dc3545"> {{'bao-viet.claim.validate.max' | translate:{value: 254} }}</label>
			</div>
			<div *ngIf="(!blFormatEmail)">
				<label style="color:#dc3545">Địa chỉ email không hợp lệ</label>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-3">Địa chỉ (*)</label>
		<div class="col-3">
			<input [(ngModel)]="dmContact.address" class="form-control" (blur)=" this.blAddress = false;" type="text" #address="ngModel"
			 maxlength="254" (change)="onCheckValidaterequired('', 'isRequiredblAddress','')" [ngClass]="{'mandatoryInput': (!blAddress  && !dmContact.address) || (dmContact.address && dmContact.address.length>254)}">
			<div *ngIf="!blAddress && !dmContact.address">
				<label style="color:#dc3545 ">{{'bao-viet.claim.validate.required' | translate }}</label>
			</div>
			<div *ngIf="(dmContact.address && dmContact.address.length>254)">
				<label style="color:#dc3545"> {{'bao-viet.claim.validate.max' | translate:{value: 254} }}</label>
			</div>
		</div>
		<div class="col-6">
				<!-- *ngIf="!firstLoadAddress"  -->
			<input class="form-control" [ngClass]="{'NotdisplayBler': !firstLoadAddress}" *ngIf="firstLoadAddress" id="addressAutoIDtest" (keypress)="blurAddressAuto3($event)" (blur)="onCheckValidaterequired($event, 'addressAuto','')" placeholder="Phường/Xã/Quận/Huyện/Tỉnh thành">
			<input class="form-control" style="display: none;" [ngClass]="{'displayBler': !firstLoadAddress,'mandatoryInput': !blAddressAuto}"  id="addressAutoID"  placement="bottom-right"  (change)="onCheckValidaterequired($event, 'addressAuto','')"
			 placeholder="Phường/Xã/Quận/Huyện/Tỉnh thành" [(ngModel)]="accidentPlace" #ad="ngModel" maxlength="254" [ngbTypeahead]="searchAddress"
			 [resultTemplate]="addressSearchTemplate"  (selectItem)="onAccidentChange($event)"
			 [inputFormatter]="searchAddressFormatter" [editable]="false">
			<div *ngIf="!blAddressAuto">
				<label style="color:#dc3545 ">{{mesigeAddressAuto}}</label>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-3">Số tài khoản</label>
		<div class="col-9">
			<input [(ngModel)]="dmContact.accountNumber" class="form-control" placeholder="Số tài khoản" type="text" #accountNumber="ngModel"
			 maxlength="50" (change)="onCheckValidaterequired('', 'accountNumber','')" (keypress)="keyPress($event,'price')" [ngClass]="{'mandatoryInput': (dmContact.accountNumber && dmContact.accountNumber.length > 50) || (!blFormatAccountNumber && dmContact.accountNumber.length <= 50)}">

			<div *ngIf="(dmContact.accountNumber && dmContact.accountNumber.length > 50)">
				<label style="color:#dc3545"> {{'bao-viet.claim.validate.max' | translate:{value: 50} }}</label>
			</div>
			<div *ngIf="(!blFormatAccountNumber && dmContact.accountNumber.length <= 50)">
				<label style="color:#dc3545">Yêu cầu nhập dữ liệu kiểu số</label>
			</div>

		</div>
	</div>
	<div class="form-group row">
		<label *ngIf="!isRequiredAccountNumber" class="col-3">Ngân hàng</label>
		<label *ngIf="isRequiredAccountNumber" class="col-3">Ngân hàng (*)</label>
		<div class="col-4 ">
			<ng-select class="custom form-control" (blur)="blueBank()" maxlength="500" [ngClass]="{'mandatoryInput': ((this.searchBankModel == null || !this.searchBankModel.nameVN)  && !blBank && dmContact.accountNumber)}"
			 [items]="banks" bindLabel="nameVN" [loading]="bankSearchLoading" [searchFn]="customSearchFn" [(ngModel)]="searchBankModel"
			 (change)="onCheckValidaterequired('', 'isBankNameRequired','')" (ngModelChange)="onChangeBank()" notFoundText="{{'bv-gara.search.notFoundText' | translate}}">
				<ng-template ng-option-tmp let-item="item">
					{{item.nameVN}}
				</ng-template>
			</ng-select>
			<div *ngIf="((this.searchBankModel == null || !this.searchBankModel.nameVN)  && !blBank && dmContact.accountNumber)">
				<label style="color:#dc3545">{{'bao-viet.claim.validate.required' | translate }}</label>
			</div>
		</div>
		<div class="col-5 ">
			<!-- TODO -->
			<ng-select class="custom form-control" (blur)="blueBranch()" maxlength="500" [ngClass]="{'mandatoryInput': ((this.searchBankBanchModel == null || !this.searchBankBanchModel.nameVN)  && !blBranch && dmContact.accountNumber)}"
			 [items]="bankBanchs" bindLabel="nameVN" [loading]="bankSearchLoading" [searchFn]="customSearchBankBranchFn" [(ngModel)]="searchBankBanchModel"
			 (change)="onCheckValidaterequired('', 'isBranchNameRequired','')" placeholder="Chi nhánh &nbsp;" notFoundText="{{'bv-gara.search.notFoundText' | translate}}">
				<ng-template ng-option-tmp let-item="item">
					{{item.nameVN}}
				</ng-template>
			</ng-select> 
				<!-- <ng-select class="custom form-control" (blur)="blueBranch()" maxlength="500" [ngClass]="{'mandatoryInput': ((this.searchBankBanchModel == null || !this.searchBankBanchModel.branchName)  && !blBranch && dmContact.accountNumber)}"
			 [items]="bankBanchs" bindLabel="branchName" [loading]="bankSearchLoading" [searchFn]="customSearchBankBranchFn" [(ngModel)]="searchBankBanchModel"
			 (change)="onCheckValidaterequired('isBranchNameRequired','')" placeholder="Chi nhánh" notFoundText="{{'bv-gara.search.notFoundText' | translate}}">
				<ng-template ng-option-tmp let-item="item">
					{{item.branchName}}
				</ng-template>
			</ng-select> -->
				<!-- <div *ngIf="((this.searchBankBanchModel == null || !this.searchBankBanchModel.branchName)  && !blBranch && dmContact.accountNumber)">
				<label style="color:#dc3545">{{'bao-viet.claim.validate.required' | translate }}</label>
			</div> -->
				<!-- TODO -->
				<div *ngIf="((this.searchBankBanchModel == null || !this.searchBankBanchModel.nameVN)  && !blBranch && dmContact.accountNumber)">
					<label style="color:#dc3545">{{'bao-viet.claim.validate.required' | translate }}</label>
				</div>
		</div>
	</div>

	<div *ngIf="!isUpdateGara" class="form-group row">
		<div class="col-7"></div>
		<div class="col-5 text-align-right">
			<button class="btn btn-eclaim mr-3" type="button" (click)="save()">Lưu</button>
			<button class="btn btn-eclaim mr-3" type="button" (click)="saveAndClose()">Lưu và đóng</button>
			<button class="btn btn-eclaim mr-3" type="button" (click)="reset()">Nhập lại</button>
		</div>
	</div>

	<div *ngIf="isUpdateGara" class="form-group row">
		<div class="col-10"></div>
		<div class="col-2 text-align-right">
			<button class="btn btn-eclaim mr-3" type="button" (click)="save()">Lưu</button>
		</div>
	</div>

</div>