<div class="bgc-white bd bdrs-3 p-20 mB-20">
    <div class="row">
        <h4 class="c-grey-900 mB-20 col-sm-9 col-12">Sắp xếp thể loại</h4>
        <div class=" col-sm-3 col-12 txtRight pr-0">
            <!-- <button class="btn btn-primary mr-3 mb-2 " (click)="createCategori();">
                <i class="fa fa-plus pr-2"></i>Thêm</button> -->
            <button class="btn btn-success mr-3 mb-2 " (click)="bankList()">
                <!-- <i class="fa fa-plus pr-2"></i> -->
                Quay lại</button>
        </div>
    </div>
    <p-orderList [value]="listCategory" filter="filter" filterBy="name" filterPlaceholder="Filter by name" dragdrop="true">
        <ng-template let-car pTemplate="item">
            <div class="ui-helper-clearfix">
                <img src="{{car.bannerImage?car.bannerImage:car.bannerLink}}" style="display:inline-block;margin:2px 0 2px 2px; float: left;"
                    onerror="imageError(this)" width="48">
                <!-- <div style="width:30px;font-size:14px;float:left;margin:15px 5px 0 0">{{car.order}}</div> -->
                <div style="font-size:14px;float:left;margin:5px 5px 0 10px">{{car.id}} - {{car.name}}</div>
            </div>
        </ng-template>
    </p-orderList>
    <div class="row">
        <div class=" col-sm-3 col-12 txtCenter pr-0 pt-3 pl-0">
            <!-- <button class="btn btn-primary mr-3 mb-2 " (click)="createCategori();">
                <i class="fa fa-plus pr-2"></i>Thêm</button> -->
            <button class="btn btn-success mr-3 mb-2 " (click)="updateOrder()">
                <!-- <i class="fa fa-plus pr-2"></i> -->
                Lưu </button>
        </div>
    </div>
</div>
<!-- <div id="confirmDialodDel" bsModal #confirmDialodDel="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Thông báo</h4>
          <button type="button" class="close" aria-label="Close"  (click)="this.confirmDialodDel.hide()"  id="close-x"><span aria-hidden="true">&times;</span></button>
        </div>
         <div class="modal-body">
          <p>{{title}}</p>
        </div>
        <div class="text-center">
          <button class="btn btn-primary stypessMax" (click)="deleteCategori()" id="okButton">
           Có</button>
          <button class="btn btn-primary stypessMax" (click)="this.confirmDialodDel.hide()" id="cancelButton">
           Không</button>
        </div>
      </div>
    </div>
  </div> -->