.inputInbox {
    height: 242px !important;
    max-height: 242px !important;
  }
  .stypeChatBot {  
    border: 1px solid #959595;
    .titleInbox {
      border-bottom: 1px solid #959595;
    }
    .contentInbox{
      height: 200px;
      overflow-y: scroll;
    }  
  }
  .message-row {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    .message{
      padding: 3px;
      width: 70%;
      border-radius: 5px;
    }
    small {
      float: right;
    }
  }
  .bv-message{
    .icon {
      width: 45px;
      height: 45px;
      background: url(/assets/images/voucher-detail/chat-icon-bv.png) top left no-repeat;
      float: right;
    }
    .message{
      float: right;
      background: #d4ebff;
      margin-right: 10px;
      word-break: break-word;
    }  
  }
  .gara-message{
    .icon {
      width: 45px;
      height: 45px;
      background: url(/assets/images/voucher-detail/chat-icon-gara.png) top left no-repeat;
      float: left;
    }
    .message {
      float: left;
      background: #ebebeb;
      margin-left: 10px;
    }  
  }
  .textcenterDialog {
    text-align: center !important;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  div#dialogHistory {
    top: 9%;
  }
  .modal-content-history {
    min-width: 700px;
}


.slideshow{
  position: relative;
  width: 70px;
  img {
    width: 42px;
    padding: 0 2px;
  }
}
.viewfile-arrow {
  font-size: 12px;
  color: #000000;
  padding-top: 23%; 
  opacity: 0.8;
  cursor: pointer;
}
.viewfile-arrow:hover {
  opacity: 1;
}
.viewfile-left {
  left: 1.2rem;
}
.viewfile-right{
  right: 1.2rem;
}
.inputNegotiate {
  width: auto !important;
  margin: 0px 120px 0px 10px !important;
}
.txtColorRed {
  color: red;
}
.classSubmit{
  float: right;
  margin-bottom: 20px !important;
}
.btlNext {
  background: none !important;
  width: auto !important;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
}
.btn-eclaim{
  height: 26px;
}
tr.bg-yellow-light.ng-star-inserted{
  background: #fffb828c !important;
}
/deep/ .hasCommentRow{
  width: 88%;
    float: right;
}

