<div class="row">
  <div class="bgc-white bd bdrs-3 p-20 mB-20 col-sm-6 col-12">
    <div class="row">
      <h4 class="c-grey-900 mB-20 col-sm-9 col-12">Danh sách Thuộc tính</h4>
      <div class=" col-sm-3 col-12 txtRight pr-0">
        <button class="btn btn-primary mr-3 mb-2 " (click)="createAttributes('');">
          <i class="fa fa-plus pr-2"></i>Thêm</button>
      </div>
    </div>
    <div class="row pl-3 pr-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Tìm kiếm</span>
        </div>
        <input aria-label="Default" class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="txtSearch" name="txtSearch"
          placeholder="Tên thuộc tính/ Tên tiếng anh" type="text" (keyup.enter)="loadAttributes()" (blur)="loadAttributes()">
      </div>
    </div>
    <div class="scrollTable">
      <table class="table table-bordered tableAttributes ">
        <thead>
          <tr>
            <!-- <th scope="col" style="width: 10%;">#</th> -->
            <th scope="col" style="width: 30%;">Tên</th>
            <th scope="col" class="NotShowDepcripton" style="width: 50%;">Thể loại</th>
            <th scope="col" style="width: 10%;">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cate of listAttributes; let i = index" (click)="selectRowAttribute(i)" [ngClass]="{'bgBlue': cate && cate.blSelectedRow }">
            <!-- <td scope="col" class="txtCenter">{{i+1}}</td> -->
            <td scope="col" title="{{cate.name}}">{{cate.name}}</td>
            <td scope="col" title="{{cate.listCategoryName}}" class="NotShowDepcripton">{{cate.listCategoryName}}</td>
            <td scope="col">
              <p class="txtCenter">
                <i class="ace-icon fa fa-pencil bigger-120 cursorPointer pr-3" style="font-size: 20px" (click)="createAttributes(cate);$event.stopPropagation();"></i>
                <i class="fa fa-trash cursorPointer" style="font-size: 20px" (click)="deleteCheck(cate)"></i>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="!listAttributes || listAttributes.length===0 " class="borderrow "><label>Không tìm thấy kết quả</label></div>
    <div class="row pl-3 pr-3" [ngClass]="{'displayDiv':!listAttributes || listAttributes.length===0  }">
      <div class="input-group mb-3">
        <div class="input-group-prepend left-total">
          <span class="" id="inputGroup-sizing-default">Tổng số: {{totalPage}}</span>
        </div>
        <div class="right-total">
          <p-paginator [rows]="10" [totalRecords]="this.totalPage" [ngClass]="{'displayDiv': !listAttributes || listAttributes.length===0 }"
            [rowsPerPageOptions]="[10,20,30,50,100]" (onPageChange)="paginate($event)"></p-paginator>
        </div>
      </div>
    </div>
  </div>
  <!-- Danh sach thuoc tinh con -->
  <!-- *ngIf="selectAttributes && selectAttributes.id > 0" -->
  <div class="bgc-white bd bdrs-3 p-20 mB-20  col-sm-6 col-12">
    <h4 class="c-grey-900 mB-20">Danh sách chi tiết</h4>
    <button class="btn btn-primary mr-3 mb-2" (click)="createAttributeValues('');">
      <i class="fa fa-plus pr-2"></i>Thêm</button>
    <div class="scrollTable">
      <table class="table table-bordered">
        <thead>
          <tr>
            <!-- <th scope="col" style="width: 10%;">#</th> -->
            <th scope="col" class="NotShowDepcripton" style="width: 70%;">Giá trị</th>
            <th scope="col" style="width: 10%;">Thao tác</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listAttributeValues; let i = index">
            <!-- <td scope="col" class="txtCenter">{{i+1}}</td> -->
            <td scope="col" class="NotShowDepcripton" title="{{item.value}}">{{item.value}}</td>
            <td scope="col">
              <p class="txtCenter">
                <i class="ace-icon fa fa-pencil bigger-120 cursorPointer pr-3" style="font-size: 20px" (click)="createAttributeValues(item);$event.stopPropagation();"></i>
                <i class="fa fa-trash cursorPointer" style="font-size: 20px" (click)="deleteAttributeValues(item.id)"></i>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!listAttributeValues || listAttributeValues.length===0 " class="borderrow "><label>Không tìm thấy kết
        quả</label></div>
    <p-paginator [rows]="10" [totalRecords]="this.totalPageValuse" [ngClass]="{'displayDiv': !listAttributeValues || listAttributeValues.length===0 }"
      [rowsPerPageOptions]="[10,20,30,50,100]" (onPageChange)="paginateValues($event)"></p-paginator>
  </div>
</div>
<!--end  Danh sach thuoc tinh con -->
<!-- dialog tao thuoc tinh -->
<div id="addAttribute" bsModal #addAttribute="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" role="dialog">
  <div class="modal-dialog-attributes modal-md ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="selectAttributes && !selectAttributes.id">Thêm mới Thuộc tính</h4>
        <h4 class="modal-title" *ngIf="selectAttributes && selectAttributes.id && selectAttributes.id > 0">Cập nhật
          Thuộc tính</h4>
        <button type="button" class="close" aria-label="Close" id="close-x" (click)="this.addAttribute.hide();"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <!-- Content -->
        <div class="form-group">
          <label class="col-12 pl-0">Tên thuộc tính <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
          <input class="form-control col-12" type="text" name="namestu" (blur)="this.blName = true;" maxlength="64"
            [(ngModel)]="selectAttributes.name" [ngClass]="{'mandatoryInput': (!selectAttributes || !selectAttributes.name) && blName}" />
          <label style="color: red !important;" *ngIf="(!selectAttributes || !selectAttributes.name) && blName">Trường
            bắt buộc nhập</label>
        </div>
        <div class="form-group">
          <label class="col-12 pl-0">Tên tiếng anh <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
          <input class="form-control col-12" type="text" [disabled]="selectAttributes.type && selectAttributes.type === 1"
            name="namestuEn" (blur)="this.blNameEn = true;" maxlength="64" [(ngModel)]="selectAttributes.nameEn"
            [ngClass]="{'mandatoryInput': (!selectAttributes || !selectAttributes.nameEn) && blNameEn}" />
          <label style="color: red !important;" *ngIf="(!selectAttributes || !selectAttributes.nameEn) && blNameEn">Trường
            bắt buộc nhập</label>
        </div>
        <div class="form-group">
          <label class="col-12 pl-0">Thể loại</label>
          <ng-select [items]="listItemCategory" [multiple]="true" class=" form-control listAttributesClass" name="ljldfjlskjflasdf"
            bindLabel="name" bindValue="id" [(ngModel)]="selectAttributes.selectListCategory">
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{index}}" type="checkbox" name="checkboxCategor{{index}}" [ngModel]="selectAttributes.selectListCategory.indexOf(item.id) !== -1" />
              {{item.name}}
            </ng-template>
          </ng-select>
        </div>
        <div class="form-group">
          <label class="col-12 pl-0">Ghi Chú</label>
          <!-- <ckeditor [(ngModel)]="selectAttributes.description" name="description" #myckeditor>
          </ckeditor> -->
          <textarea [(ngModel)]="selectAttributes.description" class="form-control col-12" name="description"></textarea>
        </div>
        <!-- End Content -->
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-3 mb-2" id="okButton" (click)="submitOk()"> Đồng ý</button>
        <button class="btn btn-primary mr-3 mb-2" id="cancelButton" (click)="this.addAttribute.hide();"> Hủy Bỏ</button>
      </div>
    </div>
  </div>
</div>
<!-- end dialog tao thuoc tinh -->
<!-- dialog tao thuoc tinh chi tiet -->
<div id="addAttributeValues" bsModal #addAttributeValues="bs-modal" [config]="{backdrop: 'static'}" class="modal fade"
  role="dialog">
  <div class="modal-dialog-attributes modal-md ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="selectAttributeValues && !selectAttributeValues.id">Thêm mới Thuộc tính chi tiết</h4>
        <h4 class="modal-title" *ngIf="selectAttributeValues && selectAttributeValues.id && selectAttributeValues.id > 0">Cập
          nhật
          Thuộc tính Chi tiết</h4>
        <button type="button" class="close" aria-label="Close" id="close-x" (click)="this.addAttributeValues.hide();"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="col-12 pl-0">Giá trị <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>

          <!-- <ckeditor [(ngModel)]="selectAttributeValues.value"  [ngClass]="{'mandatoryInput': (!selectAttributeValues || !selectAttributeValues.value) && blNameValues}" 
            name="descriptionValues" #myckeditor>
            </ckeditor> -->
          <input [(ngModel)]="selectAttributeValues.value" class="form-control col-12" [ngClass]="{'mandatoryInput': (!selectAttributeValues || !selectAttributeValues.value) && blNameValues}"
            name="descriptionValues" #myckeditor />
          <label style="color: red !important;" *ngIf="(!selectAttributeValues || !selectAttributeValues.value) && blNameValues">Trường
            bắt buộc nhập</label>
        </div>
        <!-- End Content -->
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-3 mb-2" id="okButton" (click)="submitOkValues()"> Đồng ý</button>
        <button class="btn btn-primary mr-3 mb-2" id="cancelButton" (click)="this.addAttributeValues.hide();"> Hủy Bỏ</button>
      </div>
    </div>
  </div>
</div>
<!-- end dialog tao thuoc tinh chi tiet-->
<!-- dialog xoa -->
<div id="confirmDialodDel" bsModal #confirmDialodDel="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thông báo</h4>
        <button type="button" class="close" aria-label="Close"  (click)="this.confirmDialodDel.hide()"  id="close-x"><span aria-hidden="true">&times;</span></button>
      </div>
       <div class="modal-body">
        <p>{{title}}</p>
      </div>
      <div class="text-center">
        <button class="btn btn-primary stypessMax" (click)="deleteAttribues()" id="okButton">
          <!-- <span class="fa fa-check-circle" ></span> -->
         Có</button>
        <button class="btn btn-primary stypessMax" (click)="this.confirmDialodDel.hide()" id="cancelButton">
          <!-- <span class="ion-android-cancel" ></span> -->
         Không</button>
      </div>
    </div>
  </div>
</div>