<div class="bgc-white bd bdrs-3 p-20 mB-20">
  <div class="row">
    <h4 class="c-grey-900 mB-20 col-sm-9 col-12">Danh sách Bom</h4>
    <div class=" col-sm-3 col-12 txtRight pr-0">
      <button class="btn btn-primary mr-3 mb-2 ">
        <i class="fa fa-plus pr-2"></i>Thêm</button>
    </div>
  </div>
  <div class="row pl-3 pr-3">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Tìm kiếm</span>
      </div>
      <input aria-label="Default" class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="txtSearch"
        name="txtSearch" placeholder="Tên/ người tạo " type="text" (keyup.enter)="loadAdminBom()"
        (blur)="loadAdminBom()">
    </div>
  </div>
  <div class="scrollTable">
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- <th scope="col" style="width:5%">#</th> -->
          <th scope="col" style="width:10%">id</th>
          <th scope="col" style="width:30%">Tên</th>
          <th scope="col" style="width:25%">Người tạo</th>
          <th scope="col" style="width:20%">Ngày tạo</th>
          <th scope="col" style="width:15%">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cate of listAdminBom; let i = index">
          <td scope="col" title="{{cate.id}}" class="NotShowDepcripton">{{cate.id}}</td>
          <td scope="col" title="{{cate.name}}" class="NotShowDepcripton">{{cate.name}}</td>
          <td scope="col" title="{{cate.userName}}" class="NotShowDepcripton">{{cate.userName}}</td>
          <td scope="col" title="{{viewDate(cate.createdTime)}}" class="NotShowDepcripton">
            {{viewDate(cate.createdTime)}}</td>
          <td scope="col">
            <p class="txtCenter">
              <i class="ace-icon fa fa-pencil bigger-120 cursorPointer pr-3" style="font-size: 20px"></i>
              <i class="fa fa-trash cursorPointer" style="font-size: 20px" (click)="deleteCheck(cate)"></i>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!listAdminBom || listAdminBom.length===0 " class="borderrow "><label>Không tìm thấy kết quả</label></div>

  <div class="row pl-3 pr-3" [ngClass]="{'displayDiv': !listAdminBom || listAdminBom.length===0  }">
    <div class="input-group mb-3">
      <div class="input-group-prepend left-total">
        <span class="" id="inputGroup-sizing-default">Tổng: {{totalPage}}</span>
      </div>
      <div class="right-total">
        <p-paginator [rows]="10" [totalRecords]="this.totalPage" [rowsPerPageOptions]="[10,20,30,50,100]"
          (onPageChange)="paginate($event)"></p-paginator>
      </div>
    </div>
  </div>
</div>
<div id="confirmDialodDel" bsModal #confirmDialodDel="bs-modal" [config]="{backdrop: 'static'}" class="modal fade"
  role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thông báo</h4>
        <button type="button" class="close" aria-label="Close" (click)="this.confirmDialodDel.hide()" id="close-x"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>{{title}}</p>
      </div>
      <div class="text-center">
        <button class="btn btn-primary stypessMax" (click)="deleteAdminBom()" id="okButton">
          <!-- <span class="fa fa-check-circle" ></span> -->
          Có</button>
        <button class="btn btn-primary stypessMax" (click)="this.confirmDialodDel.hide()" id="cancelButton">
          <!-- <span class="ion-android-cancel" ></span> -->
          Không</button>
      </div>
    </div>
  </div>
</div>