<div class="bgc-white bd bdrs-3 p-20 mB-20">
  <div class="row">
    <h4 class="c-grey-900 mB-20 col-sm-9 col-12">Danh sách thể loại</h4>
    <div class=" col-sm-3 col-12 txtRight pr-0">
      <button class="btn btn-primary mr-3 mb-2 " (click)="createCategori();">
        <i class="fa fa-plus pr-2"></i>Thêm</button>
      <button class="btn btn-success mr-3 mb-2 " (click)="orderCategory();">
        <!-- <i class="fa fa-plus pr-2"></i> -->
        Order</button>
    </div>
  </div>
  <!-- <div class="row pl-3 pr-3">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Tìm kiếm</span>
      </div>
      <input aria-label="Default" class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="txtSearch" name="txtSearch"
        placeholder="Tên/ Slug/ Mô tả" type="text" (keyup.enter)="loadCategories()" (blur)="loadCategories()">
    </div>
  </div> -->
  <!-- <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" style="width: 5%;">#</th>
        <th scope="col">Tên thể loại</th>
        <th scope="col">Slug</th>
        <th scope="col">Mô tả</th>
        <th scope="col">Banner Image</th>
        <th scope="col">Banner Link</th>
        <th scope="col">Icon URL</th>
        <th scope="col">Ưu tiên</th>
        <th scope="col">Thao tác</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cate of listCategories; let i = index">
        <td scope="col" class="txtCenter">{{i+1}}</td>
        <td scope="col" title="{{cate.name}}">{{cate.name}}</td>
        <td scope="col" title="{{cate.slug}}" >{{cate.slug}}</td>
        <td scope="col" title="{{cate.description}}" class="NotShowDepcripton">{{cate.description}}</td>
        <td scope="col">
          <p class="txtCenter ">
            <img style="width:75px;" src="{{cate.bannerImage}}" onerror="imageError(this)" />
          </p>
        </td>
        <td scope="col"  title="{{cate.bannerLink}}" >{{cate.bannerLink}}</td>
        <td scope="col" title="{{cate.iconUrl}}" >{{cate.iconUrl}}</td>
        <td scope="col" title="{{cate.order}}" class="txtCenter">{{cate.order}}</td>
        <td scope="col">
          <p class="txtCenter">
            <i class="ace-icon fa fa-pencil bigger-120 cursorPointer pr-3" title="Sửa" style="font-size: 20px" (click)="routingUpdate(cate.id)"></i>
            <i class="fa fa-trash cursorPointer" style="font-size: 20px" title="Xóa" (click)="deleteCategori(cate.id)"></i>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!listCategories || listCategories.length===0 " class="borderrow "><label>Không tìm thấy kết quả</label></div>
  <p-paginator [rows]="10" [totalRecords]="this.totalPage"  [ngClass]="{'displayDiv': !listCategories || listCategories.length===0 }"
    [rowsPerPageOptions]="[10,20,30,50,100]" (onPageChange)="paginate($event)"></p-paginator> -->
  <!-- Tree table -->
  <!-- <p-treeTable [value]="listTreeCategory" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Tên Thể loại</th>
        <th>Tên tiếng anh</th>
        <th>Số lượng sản phẩm</th>
        <th>Thao tác</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr>
        <td>
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          {{rowData.id}}
        </td>
        <td  title="{{rowData.name}}">{{rowData.name}}</td>
        <td  title="{{rowData.nameEn}}">{{rowData.nameEn}}</td>
        <td  title="{{rowData.size}}">{{rowData.size}}</td>
        <td>
          <p class="txtCenter">
            <i class="ace-icon fa fa-pencil bigger-120 cursorPointer pr-3" title="Sửa" style="font-size: 20px" (click)="routingUpdate(rowData.id)"></i>
            <i class="fa fa-trash cursorPointer" style="font-size: 20px" title="Xóa" (click)="deleteCheck(rowData)"></i>
          </p>
        </td>
      </tr>
    </ng-template>
  </p-treeTable> -->
  <!-- End Tree table -->
  <div class="scrollTable">
    <p-treeTable [value]="listTreeCategory" [paginator]="true" [rows]="10" [lazy]="true"
      (onLazyLoad)="loadNodes($event)" [totalRecords]="totalPage" [loading]="loading"
      (onNodeExpand)="onNodeExpand($event)">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Tên Thể loại</th>
          <th>Tên tiếng anh</th>
          <th>Số lượng sản phẩm</th>
          <th>Thao tác</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
          <td>
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            {{rowData.id}}
          </td>
          <td title="{{rowData.name}}">{{rowData.name}}</td>
          <td title="{{rowData.nameEn}}">{{rowData.nameEn}}</td>
          <td title="{{rowData.size}}">{{rowData.size}}</td>
          <td>
            <p class="txtCenter">
              <i class="ace-icon fa fa-pencil bigger-120 cursorPointer pr-3" title="Sửa" style="font-size: 20px"
                (click)="routingUpdate(rowData.id)"></i>
              <i class="fa fa-trash cursorPointer" style="font-size: 20px" title="Xóa"
                (click)="deleteCheck(rowData)"></i>
              <button class="btn btn-success mr-3 mb-2 " (click)="orderCategoryAttribute(rowData)">
                <!-- <i class="fa fa-plus pr-2"></i> -->
                Thuộc tính</button>
            </p>
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>
<div id="confirmDialodDel" bsModal #confirmDialodDel="bs-modal" [config]="{backdrop: 'static'}" class="modal fade"
  role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thông báo</h4>
        <button type="button" class="close" aria-label="Close" (click)="this.confirmDialodDel.hide()" id="close-x"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>{{title}}</p>
      </div>
      <div class="text-center">
        <button class="btn btn-primary stypessMax" (click)="deleteCategori()" id="okButton">
          <!-- <span class="fa fa-check-circle" ></span> -->
          Có</button>
        <button class="btn btn-primary stypessMax" (click)="this.confirmDialodDel.hide()" id="cancelButton">
          <!-- <span class="ion-android-cancel" ></span> -->
          Không</button>
      </div>
    </div>
  </div>
</div>