<div class="bgc-white bd bdrs-3 p-20 mB-20">
  <div class="row">
    <h4 class="c-grey-900 mB-20 col-sm-9 col-12">Danh sách sản phẩm</h4>
    <div class=" col-sm-3 col-12 txtRight pr-0">
      <button class="btn btn-primary mr-3 mb-2 " (click)="createProduct();">
        <i class="fa fa-plus pr-2"></i>Thêm</button>
    </div>
  </div>
  <div class="row pl-3 pr-3">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Tìm kiếm</span>
      </div>
      <input aria-label="Default" class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="txtSearch" name="txtSearch"
        placeholder="Tên sản phẩm/ Thể loại/ Mã sản phẩm/ Mã nhầ sản xuất" type="text" (keyup.enter)="loadProductMore()"
        (blur)="loadProductMore()">
    </div>
  </div>
  <div class="row pl-3 pr-3">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <a style="color:#007bff" class="cursorPointer" (click)="this.blshowTitle = !this.blshowTitle">{{blshowTitle?'Ẩn tìm kiếm':'Hiện Tìm kiếm nâng cao'}}</a>
      </div>
    </div>
  </div>
  <div class="form-group row" *ngIf="blshowTitle">
    <div class="col-sm-6 col-12">
      <div class="form-group row">
        <div class="col-sm-6 col-12">
          <label class="col-12 pl-0">Mức giá từ</label>
          <input class="form-control col-12" type="text" name="salePrice" maxlength="11" currencyMask (blur)="validatePriceSearch()"
            [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 0}" [(ngModel)]="priceStart" [ngClass]="{'mandatoryInput': blSalePrice}" />
        </div>
        <div class="col-sm-6 col-12">
          <label class="col-12 pl-0">Đến</label>
          <input class="form-control col-12" type="text" name="salePrice" maxlength="11" currencyMask (blur)="validatePriceSearch()"
            [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 0}" [(ngModel)]="priceEnd" [ngClass]="{'mandatoryInput': blSalePrice}" />
        </div>
      </div>
      <label style="color: red !important;" *ngIf="blSalePrice">Giá bắt đầu không được lớn hơn giá Kết thúc</label>

    </div>
    <div class="col-sm-6 col-12">
      <label class="col-12 pl-0">Thể loại</label>
      <ng-select [items]="listItemCategory" [multiple]="true" class=" form-control listAttributesClass inputPadding" [ngClass]="{'mandatoryInput': blCategory}"
        name="categorys" bindLabel="name" bindValue="id" [(ngModel)]="selectListCategory">
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{index}}" type="checkbox" name="checkboxCategor{{index}}" [ngModel]="selectListCategory.indexOf(item.id) !== -1" />
          {{item.name}}
        </ng-template>
      </ng-select>
    </div>

  </div>
  <div class="form-group row"  *ngIf="blshowTitle">
    <div class="col-sm-12 col-12">
      <div class="form-group row">
        <div class="col-sm-3 col-12">
          <div class="checkbox checkbox-circle checkbox-info peers ai-c">
            <input type="checkbox" id="blActived" name="blActived" [(ngModel)]="blSaleSearch" class="peer">
            <label for="blActived" class="peers peer-greed js-sb ai-c"><span class="peer peer-greed">Giảm giá</span></label>
          </div>
        </div>
        <div class="col-sm-6 col-12">
          <div class="checkbox checkbox-circle checkbox-info peers ai-c">
            <input type="checkbox" id="blActived2" name="blActived2" [(ngModel)]="blInsufficient" class="peer">
            <label for="blActived2" class="peers peer-greed js-sb ai-c"><span class="peer peer-greed">Thiếu thông tin (Tên /Ảnh /Giá /Mã sản phẩm)</span></label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 txtRight pr-0">
        <button class="btn btn-primary mr-3 mb-2 " (click)="loadProductMore();">
          <i class="fa fa-search pr-2"></i>Tìm kiếm</button>
      </div>
  </div>
  <div class="scrollTable">
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- <th scope="col" style="width: 5%;">#</th> -->
          <!-- <th scope="col" style="width: 15%;">{{'product.name' | translate}}</th> -->
          <th scope="col" style="width: 15%;">{{'product.thumbnailImage' | translate}}</th>
          <th scope="col" style="width: 25%;">Tên sản phẩm</th>
          <th scope="col" style="width: 15%;">Mã nhà sản xuất</th>
          <!-- <th scope="col" style="width: 10%;">Tên thể loại</th> -->
          <th scope="col" style="width: 15%;">{{'product.normalPrice' | translate}}</th>
          <!-- <th scope="col" style="width: 10%;">{{'product.saleStart' | translate}}</th>
          <th scope="col" style="width: 10%;">{{'product.saleEnd' | translate}}</th> -->
          <th scope="col" style="width: 15%;">{{'product.salePrice' | translate}}</th>
          <th scope="col" style="width: 15%;">Thao tác
            <a *ngIf="hiddenDeleteAll" style="color:white;background: tomato" class="cursorPointer pl-2 pr-2 ml-2" title="Xóa" (click)="deleteListId()">Xóa</a>
            <input type="checkbox" name="blCheckAllDelete" class="ml-2"  [(ngModel)]="blCheckAllDelete" (change)="checkAll()" inputId="blCheckAllDelete" />
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cate of listProduct; let i = index">
          <!-- <td scope="col" class="txtCenter">{{i+1}}</td>
          <td scope="col">{{cate.name}}</td> -->
          <td scope="col">
            <p class="txtCenter ">
              <img style="width:75px;" src="{{cate.thumbnailImage}}" onerror="imageError(this)" />
            </p>
          </td>
          <td scope="col" title="{{cate.sku}}">
            {{cate.name}}
            <strong><br> {{cate.sku}}</strong>
          </td>
          <td scope="col" title="{{cate.orginSku}}">
            {{cate.orginSku}}
          </td>

          <!-- <td scope="col">
            {{cate.categoriesName}}
          </td> -->
          <td scope="col" class="txtRight" title="{{ultilities.numberPrice(cate.normalPrice)}}">{{ultilities.numberPrice(cate.normalPrice)}}</td>

          <!-- <td scope="col" class="txtCenter">{{viewDate(cate.saleStart)}}</td>
          <td scope="col" class="txtCenter">{{viewDate(cate.saleEnd)}}</td> -->
          <td scope="col" class="txtRight" title="{{ultilities.numberPrice(cate.salePrice)}}   {{viewPriceSale(cate)}}">
            {{ultilities.numberPrice(cate.salePrice)}}<br>
            <span><i>{{viewPriceSale(cate)}}</i></span>
          </td>
          <td scope="col">
            <p class="txtCenter">
              <i class="fa fa-usd cursorPointer pr-3" title="Chi tiết danh sách giá sản phẩm" style="font-size: 20px"
                (click)="viewPrice(cate.id,cate)"></i>
                <i class="fa fa-newspaper-o cursorPointer pr-3" style="font-size: 20px" (click)="newArticles(cate)"></i>
              <i class="ace-icon fa fa-pencil bigger-120 cursorPointer pr-3" style="font-size: 20px" (click)="routingUpdate(cate.id)"></i>
              <i class="fa fa-trash cursorPointer pr-3" style="font-size: 20px" (click)="deleteTest(cate)"></i>
              <!-- (click)="deleteProduct(cate.id)" -->
              <!-- <input type="checkbox"/> -->
              <p-checkbox name="group2{{i}}" value="true" [(ngModel)]="cate.blCheckDel" (onChange)="checkShowBtnDeleteAll()" inputId="entertainment{{i}}"></p-checkbox>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!listProduct || listProduct.length===0 " class="borderrow "><label>Không tìm thấy kết quả</label></div>
  <div class="row pl-3 pr-3" [ngClass]="{'displayDiv':!listProduct || listProduct.length===0  }">
    <div class="input-group mb-3">
      <div class="input-group-prepend left-total">
        <span class="" id="inputGroup-sizing-default">Tổng: {{totalPage}}</span>
      </div>
      <div class="right-total">
        <p-paginator [rows]="10" [totalRecords]="this.totalPage" [ngClass]="{'displayDiv':!listProduct || listProduct.length===0  }"
          [rowsPerPageOptions]="[10,20,30,50,100]" (onPageChange)="paginateMove($event)"></p-paginator>
      </div>
    </div>
  </div>
</div>
<div id="productPriceDetail" bsModal #productPriceDetail="bs-modal" [config]="{backdrop: 'static'}" class="modal fade"
  role="dialog">
  <div class="modal-dialog-attributes modal-md ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Danh sách giá theo sản phẩm</h4>
        <button aria-label="Close" (click)="this.productPriceDetail.hide()" class="close" id="close-x" type="button"><span
            aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div class="form-group tbodyProductPrice">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col" width="10%">#</th>
                <th scope="col" width="20%">Mua tối thiểu</th>
                <th scope="col" width="25%">Giá bán</th>
                <th scope="col" width="25%">Giá khuyến mãi</th>
                <th scope="col" style="width: 20%;">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <!---->
              <tr class="ng-star-inserted" *ngFor="let pro of listProductPrice; let i = index">
                <td class="txtCenter" scope="col">{{i+1}}</td>
                <td class="txtCenter" scope="col">
                  <input class="form-control col-12" type="text" name="blminQuantity{{i}}" (blur)="changeNumber('blminQuantity',i);validateForm('blminQuantity',i)"
                    maxlength="9" min="0" (keypress)="keyPress($event,'number')" [(ngModel)]="pro.minQuantity"
                    [ngClass]="{'mandatoryInput': pro.blminQuantity}" />
                  <!-- <label style="color: red !important;" *ngIf="blminQuantity">Trường
                    bắt buộc nhập</label> -->
                </td>
                <td class="txtRight" scope="col" title="{{pro.price}}">
                  <input class="form-control col-12" type="text" name="normalPrice{{i}}" maxlength="11" currencyMask
                    [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 0}" [(ngModel)]="pro.price"
                    (blur)="validateForm('blprice')" [ngClass]="{'mandatoryInput': pro.blprice}" />
                  <!-- <label style="color: red !important;" *ngIf="blprice">Trường
                    bắt buộc nhập</label> -->
                </td>
                <td class="txtRight" scope="col" title="{{pro.salePrice}}">
                  <input class="form-control col-12" type="text" name="normalsalePrice{{i}}" maxlength="11"
                    currencyMask [options]="{ prefix: '', thousands: ',', decimal: '.', precision: 0}" [(ngModel)]="pro.salePrice"
                    (blur)="validateForm('blsalePrice')" [ngClass]="{'mandatoryInput': pro.blsalePrice}" />
                </td>
                <td scope="col">
                  <p class="txtCenter">
                    <i class="fa fa-trash cursorPointer" (click)="deleteRowPrice(i)" style="font-size: 20px"></i>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="txtRight">
            <i aria-hidden="true" class="fa fa-plus-circle  cursorPointer text-primary" (click)="addRowPrice()" style="font-size: 20px"></i>
          </div>
        </div>

      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-3 mb-2" id="okButton" (click)="submitSavePrice()"> Lưu</button>
        <button class="btn btn-primary mr-3 mb-2" (click)="this.productPriceDetail.hide()" id="cancelButton"> Hủy Bỏ</button>
      </div>
    </div>
  </div>
</div>
<div id="confirmDialodDel" bsModal #confirmDialodDel="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thông báo</h4>
        <button type="button" class="close" aria-label="Close" (click)="this.confirmDialodDel.hide()" id="close-x"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>{{title}}</p>
      </div>
      <div class="text-center">
        <button class="btn btn-primary stypessMax" (click)="deleteProduct()" id="okButton">
          <!-- <span class="fa fa-check-circle" ></span> -->
          Có</button>
        <button class="btn btn-primary stypessMax" (click)="this.confirmDialodDel.hide()" id="cancelButton">
          <!-- <span class="ion-android-cancel" ></span> -->
          Không</button>
      </div>
    </div>
  </div>
</div>