.borderBox{
    box-shadow: 10px 0px 15px 0px #00000029;
    padding: 10px 20px;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
img {
    border-radius: 4px;
    width: 25px;
}
.contentImage {
    text-align: right;
    margin-right: 30px;
    margin-bottom: -10px;
}
.wrapTimkiem {
    position: relative;
    padding-right: 11px;
    .eclaim-title {        
        float: left;
        padding: 6px 6px 7px 10px;
        line-height: 13px;
        margin: 0;
        color: #005AA8;
        background: url('/assets/images/breadcrumb-gray.png') top left repeat-x;
        background-size: 100% 100%;
    }
    .Breadcrumb-bg-right {
        background: url('/assets/images/breadcrumb-gray-right.png') top left no-repeat;
        background-size: 100% 100%;
        height: 26px;
        width: 15px;
        float: left;
    }    
}
.Breadcrumb-box {
    margin-left: -26px;
    .bg-left-yellow{
        background: url(/assets/images/breadcrumb-yellow-left.png) top left repeat-x;
        background-size: 100% 100%;
        height: 26px;
        width: 15px;
        float: left;
        top: 0;
        left: 0;
    }
    .eclaim-title{
        padding-left: 4px;
        background: url('/assets/images/breadcrumb-yellow.png') top left repeat-x;
        background-size: 100% 100%;
        height: 26px;
        color: #fff;
    }
    .Breadcrumb-bg-right {
        background: url('/assets/images/breadcrumb-yellow-right.png') top left no-repeat;
        background-size: 100% 100%;
    }    
}
.wrapTimkiem.cursorPointer:hover {
    .eclaim-title {        
        text-decoration: underline;
    }
}