.ngx-date-time{
    position: relative;
}

.hiddenCalendar {
    position: absolute;
    right: 16px;
    top: -17px;
    height: 35px !important;
}
.wrap-input{
    box-sizing: border-box;
    padding-right: 30px;
}