<div class="sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
                <div class="peer peer-greed">
                    <a class="sidebar-link td-n" routerLink="/tranzi-admin" class="td-n">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer">
                                <div class="logo pt-1 ml-3"><img src="/assets/images/logotranzi.png" alt=""
                                        style="max-width: 170px !important;"></div>
                            </div>
                            <div class="peer peer-greed">
                                <!-- <h5 class="lh-1 mB-0 logo-text">Adminator</h5> -->
                            </div>
                        </div>
                    </a>
                </div>
                <div class="peer">
                    <div class="mobile-toggle sidebar-toggle"><a href="" class="td-n"><i
                                class="ti-arrow-circle-left"></i></a></div>
                </div>
            </div>
        </div>
        <ul class="sidebar-menu scrollable pos-r">
            <li class="nav-item mT-30 active"><a class="sidebar-link" routerLink="/tranzi-admin/dashboard" default><span
                        class="icon-holder"><i class="c-blue-500 ti-home"></i> </span><span
                        class="title">Dashboard</span></a></li>
            <li class="nav-item"><a class="sidebar-link" routerLink="/tranzi-admin/terms"><span class="icon-holder"><i
                            class="fa fa-user-circle"></i>
                    </span><span class="title">Quản lý Thể loại bài viết</span></a></li>
            <li class="nav-item"><a class="sidebar-link" routerLink="/tranzi-admin/articles"><span
                        class="icon-holder"><i class="fa fa-user-circle"></i>
                    </span><span class="title">Quản lý bài viết</span></a></li>
            <li class="nav-item"><a class="sidebar-link" routerLink="/tranzi-admin/categories"><span
                        class="icon-holder"><i class="fa fa-cubes"></i>
                    </span><span class="title">Quản lý Thể loại Sản phẩm</span></a></li>
            <li class="nav-item"><a class="sidebar-link" routerLink="/tranzi-admin/product"><span class="icon-holder"><i
                            class="c-blue-500 ti-share"></i>
                    </span><span class="title">Quản lý Sản phẩm</span></a></li>
            <li class="nav-item"><a class="sidebar-link" routerLink="/tranzi-admin/manufactures"><span
                        class="icon-holder"><i class="fa fa-universal-access"></i>
                    </span><span class="title">Quản lý Nhà sản xuất</span></a></li>

            <li class="nav-item"><a class="sidebar-link" routerLink="/tranzi-admin/attribute"><span
                        class="icon-holder"><i class="fa fa-microchip"></i>
                    </span><span class="title">Quản lý thuộc tính</span></a></li>
            <li class="nav-item"><a class="sidebar-link" routerLink="/tranzi-admin/customer"><span
                        class="icon-holder"><i class="fa fa-address-book"></i>
                    </span><span class="title">Quản khách hàng</span></a></li>
            <li class="nav-item"><a class="sidebar-link" routerLink="/tranzi-admin/customer-order"><span
                        class="icon-holder"><i class="fa fa-shopping-bag"></i>
                    </span><span class="title">Quản lý đơn hàng</span></a></li>
            <li class="nav-item"><a class="sidebar-link" routerLink="/tranzi-admin/inventory-area"><span
                        class="icon-holder"><i class="fa fa-balance-scale"></i>
                    </span><span class="title">Quản lý khu vực kho</span></a></li>
            <li class="nav-item"><a class="sidebar-link" routerLink="/tranzi-admin/inventory-management"><span
                        class="icon-holder"><i class="fa fa-balance-scale"></i>
                    </span><span class="title">Quản lý kho</span></a></li>
            <li class="nav-item"><a class="sidebar-link" routerLink="/tranzi-admin/bom-management"><span
                        class="icon-holder"><i class="fa fa-object-group"></i>
                    </span><span class="title">Bom</span></a></li>
            <li class="nav-item"><a class="sidebar-link" routerLink="/tranzi-admin/account"><span class="icon-holder"><i
                            class="fa fa-user-circle"></i>
                    </span><span class="title">Quản lý tài khoản</span></a></li>

            <li class="nav-item"><a class="sidebar-link" routerLink="/tranzi-admin/setting"><span class="icon-holder"><i
                            class="fa fa-cog"></i>
                    </span><span class="title">Setting</span></a></li>


            <li class="nav-item dropdown"><a class="sidebar-link" routerLink="/tranzi-admin/import"><span
                        class="icon-holder"><i class="c-pink-500 ti-palette"></i>
                    </span><span class="title">Import Data</span></a></li>
            <!-- <li class="nav-item dropdown" [ngClass]="{'open': toggleMenu1}">
                <a class="dropdown-toggle" (click)="toggleMenu1 = !toggleMenu1"><span class="icon-holder"><i class="c-orange-500 ti-layout-list-thumb"></i>
                    </span><span class="title">Tables</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
                <ul class="dropdown-menu">
                    <li><a class="sidebar-link" href="basic-table.html">Basic Table</a></li>
                    <li><a class="sidebar-link" href="datatable.html">Data Table</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-purple-500 ti-map"></i>
                    </span><span class="title">Maps</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
                <ul class="dropdown-menu">
                    <li><a href="google-maps.html">Google Map</a></li>
                    <li><a href="vector-maps.html">Vector Map</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-red-500 ti-files"></i>
                    </span><span class="title">Pages</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
                <ul class="dropdown-menu">
                    <li><a class="sidebar-link" href="404.html">404</a></li>
                    <li><a class="sidebar-link" href="500.html">500</a></li>
                    <li><a class="sidebar-link" href="signin.html">Sign In</a></li>
                    <li><a class="sidebar-link" href="signup.html">Sign Up</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-teal-500 ti-view-list-alt"></i>
                    </span><span class="title">Multiple Levels</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
                <ul class="dropdown-menu">
                    <li class="nav-item dropdown"><a href="javascript:void(0);"><span>Menu Item</span></a></li>
                    <li class="nav-item dropdown">
                        <a href="javascript:void(0);"><span>Menu Item</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);">Menu Item</a></li>
                            <li><a href="javascript:void(0);">Menu Item</a></li>
                        </ul>
                    </li>
                </ul>
            </li> -->
        </ul>
    </div>
</div>