<bv-header></bv-header>
<div class="page-container">
  <bv-side-bar></bv-side-bar>
  <main class="main-content bgc-grey-100">
    <div id="mainContent">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<p-growl   class="classGrowl"></p-growl>
<app-loader></app-loader>
<!-- <ngx-app-confirm [confirmDialog]="checkDialog"></ngx-app-confirm> -->