<div class="row gap-20 masonry pos-r">
    <div class="masonry-item col-md-8">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">Thể loại</h6>
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <label class="col-12 pl-0">Tên thể loại <i class="fa fa-asterisk requisIcon"
                                aria-hidden="true"></i></label>
                        <input class="form-control col-12" (blur)="this.blName = true; changeSlugByname();" type="text"
                            name="namestu" maxlength="64" [(ngModel)]="selectTerms.name"
                            [ngClass]="{'mandatoryInput': (!selectTerms || !selectTerms.name) && blName}" />
                        <label style="color: red !important;"
                            *ngIf="(!selectTerms || !selectTerms.name) && blName">Trường
                            bắt buộc nhập</label>
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Slug</label>
                        <input class="form-control col-12" type="text" maxlength="64" (blur)="setSlugOnchange()"
                            name="slug" [(ngModel)]="selectTerms.slug" />
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Mô tả</label>
                        <!-- <input class="form-control col-12" type="text" maxlength="5000" name="description" [(ngModel)]="selectTerms.description" /> -->
                        <ckeditor [(ngModel)]="selectTerms.description" name="description" #myckeditor>
                        </ckeditor>
                    </div>

                </form>
            </div>
        </div>
        <div class="bgc-white p-20 bd mt-4">
            <h6 class="c-grey-900">SEO</h6>
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <label class="col-12 pl-0">Seo Title</label>
                        <input class="form-control col-12" type="text" name="seotitle" maxlength="128"
                            [(ngModel)]="selectTerms.seoTitle" />
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Seo Keywords</label>
                        <input class="form-control col-12" type="text" name="seokeywords" maxlength="128"
                            [(ngModel)]="selectTerms.seoKeywords" />
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Seo Description</label>
                        <input class="form-control col-12" type="text" maxlength="5000" name="seodescription"
                            [(ngModel)]="selectTerms.seoDescription" />
                    </div>
                    <div class="form-group">
                        <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                            <input type="checkbox" id="inputCall2" name="inputCheckboxesCall"
                                [(ngModel)]="selectTerms.blSeoIndex" class="peer">
                            <label for="inputCall2" class="peers peer-greed js-sb ai-c"><span
                                    class="peer peer-greed">Seo
                                    Index</span></label></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="masonry-item col-md-4">
        <div class="bgc-white p-20 bd pt-0">
            <div class="mT-20">
                <h6 class="c-grey-900">Thể loại cha </h6>
                <form>
                    <select class="form-control col-12" name="optionTerm"  [(ngModel)]="selectTerms.parentId" >
                        <option [value]="item.id" *ngFor="let item of listItemCategory">{{item.name}}</option>
                    </select>
                </form>

            </div>
        </div>
        <div class="bgc-white p-20 bd mt-4">
            <h6 class="c-grey-900">Banner</h6>
            <div class="mT-30">
                <form>
                    <label class="col-12 pl-0">Banner Image</label>
                    <input class="form-control col-12" type="text" maxlength="5000" name="bannerImage"
                        [(ngModel)]="selectTerms.bannerImage" />
                    <label class="actionLinkSearch col-12 pl-0 cursorPointer" (click)="btnUploadClick(fileUpload)">
                        Upload</label>
                    <div class="col-sm-6 col-12 pt-2 pb-2" *ngIf="selectTerms.bannerImage">
                        <img src="{{selectTerms.bannerImage}}" class="img-fluid col-12 pt-2 pb-2"
                            onerror="imageError(this)" />
                    </div>
                    <label class="col-12 pl-0">Banner URL</label>
                    <input class="form-control col-12" type="text" maxlength="5000" name="nameBannerLink"
                        [(ngModel)]="selectTerms.bannerUrl" />
                    <div class="col-sm-6 col-12 pt-2 pb-2" *ngIf="selectTerms.bannerUrl">
                        <img src="{{selectTerms.bannerUrl}}" class="img-fluid col-12 pt-2 pb-2"
                            onerror="imageError(this)" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="masonry-item col-md-12">
        <div class="col-12 txtCenter">
            <button class="btn btn-primary mr-3" title="Save" (click)="createTerms()">Lưu</button>
            <button class="btn btn-primary mr-3" title="Bank" (click)="bankmanager()">Quay lại</button>
        </div>
    </div>
    <p-fileUpload name="files" class="displayDiv" [url]="urlupload" #fileUpload (onSelect)="onSelectedFiles(fileUpload)"
        (onUpload)="onUploadSuccess($event)" (onBeforeSend)="onBeforUpload($event, fileUpload)"
        (onError)="onUploadError($event)" accept="image/*" maxFileSize="10000000">
    </p-fileUpload>
</div>