<div class="row">
  <div class="bgc-white bd bdrs-3 p-20 mB-20  col-12">
    <!-- <h4 class="c-grey-900 mB-20">Danh sách Khách hàng</h4>
    <button class="btn btn-primary mr-3 mb-2" (click)="createCustomers('');">
      <i class="fa fa-plus pr-2"></i>Thêm</button> -->
    <div class="row">
      <h4 class="c-grey-900 mB-20 col-sm-9 col-12">Danh sách Khách hàng</h4>
      <div class=" col-sm-3 col-12 txtRight pr-0">
        <button class="btn btn-primary mr-3 mb-2 " (click)="createCustomers('');">
          <i class="fa fa-plus pr-2"></i>Thêm</button>
      </div>
    </div>
    <div class="row pl-3 pr-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Tìm kiếm</span>
        </div>
        <input aria-label="Default" class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="txtSearch" name="txtSearch"
          placeholder="Tên khách hàng/ Email" type="text" (keyup.enter)="loadCustomer()" (blur)="loadCustomer()">
      </div>
    </div>
    <div class="scrollTable">
      <table class="table table-bordered tableAttributes ">
        <thead>
          <tr>
            <!-- <th scope="col" width="5%">#</th> -->
            <th scope="col" width="20%">Email</th>
            <th scope="col" width="20%" class="NotShowDepcripton">Tên đầy đủ</th>
            <th scope="col" width="13%">Ngày tạo</th>
            <th scope="col" width="13%">Ngày cập nhật</th>
            <th scope="col" width="10%">Xác Minh</th>
            <th scope="col" width="9%">Trạng thái</th>
            <th scope="col" width="10%">Thao tác</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cate of listCustomers; let i = index" (click)="selectRowCustomers(i)" [ngClass]="{'bgBlue': cate && cate.blSelectedRow }">
            <!-- <td scope="col" class="txtCenter">{{i+1}}</td> -->
            <td scope="col" title="{{cate.email}}">{{cate.email}}</td>
            <td scope="col" title="{{cate.fullName}}" class="NotShowDepcripton">{{cate.fullName}}</td>
            <td scope="col" title="{{viewDate(cate.createdAt)}}" class="txtCenter">{{viewDate(cate.createdAt)}}</td>
            <td scope="col" title="{{viewDate(cate.updatedAt)}}" class="txtCenter">{{viewDate(cate.updatedAt)}}</td>
            <td scope="col" title="{{cate.isEmailVerified === 1?'Xác minh':'Chưa xác minh'}}" class="txtCenter">{{cate.isEmailVerified
              === 1?'Xác minh':'Chưa xác minh'}}</td>
            <td scope="col" title="{{cate.status===1?'Hoạt động':'Tạm dừng'}}" class="NotShowDepcripton txtCenter">{{cate.status===1?'Hoạt
              động':'Tạm dừng'}}</td>
            <td scope="col">
              <p class="txtCenter">
                <i class="ace-icon fa fa-pencil bigger-120 cursorPointer pr-3" style="font-size: 20px" (click)="createCustomers(cate); $event.stopPropagation();"></i>
                <i class="fa fa-trash cursorPointer" style="font-size: 20px" (click)="deleteCheck(cate)"></i>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!listCustomers || listCustomers.length===0 " class="borderrow "><label>Không tìm thấy kết quả</label></div>
    <div class="row pl-3 pr-3" [ngClass]="{'displayDiv': !listCustomers || listCustomers.length===0 }">
      <div class="input-group mb-3">
        <div class="input-group-prepend left-total">
          <span class="" id="inputGroup-sizing-default">Tổng: {{totalPage}}</span>
        </div>
        <div class="right-total">
          <p-paginator [rows]="10" [totalRecords]="this.totalPage" [ngClass]="{'displayDiv': !listCustomers || listCustomers.length===0 }"
            [rowsPerPageOptions]="[10,20,30,50,100]" (onPageChange)="paginate($event)"></p-paginator>
        </div>
      </div>
    </div>

  </div>
  <!-- dialog Tạo mới khách hàng -->
  <div id="addAttribute" bsModal #addAttribute="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" role="dialog">
    <div class="modal-dialog-attributes modal-md ">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" *ngIf="selectCustomer && !selectCustomer.id">Thêm mới khách hàng</h4>
          <h4 class="modal-title" *ngIf="selectCustomer && selectCustomer.id && selectCustomer.id > 0">Cập nhật
            khách hàng</h4>
          <button type="button" class="close" aria-label="Close" id="close-x" (click)="this.addAttribute.hide();"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <!-- Content -->
          <div class="form-group">
            <label class="col-12 pl-0">Tên đầy đủ <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
            <input class="form-control col-12" type="text" name="fullName" (blur)="validateCustomer('name')" maxlength="255"
              [(ngModel)]="selectCustomer.fullName" [ngClass]="{'mandatoryInput': blName}" />
            <label style="color: red !important;" *ngIf="blName">Trường
              bắt buộc nhập</label>
          </div>
          <div class="form-group">
            <label class="col-12 pl-0">Email <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
            <input class="form-control col-12" type="text" name="email" (blur)="validateCustomer('email')" maxlength="255"
              [(ngModel)]="selectCustomer.email" [ngClass]="{'mandatoryInput': blEmail || blEmailFomat}" />
            <label style="color: red !important;" *ngIf="blEmail">Trường
              bắt buộc nhập</label>
            <label style="color: red !important;" *ngIf="blEmailFomat">Email không đúng định dạng</label>
          </div>
          <div class="form-group">
            <label class="col-12 pl-0">Mật khẩu <i class="fa fa-asterisk requisIcon" aria-hidden="true"></i></label>
            <input class="form-control col-12" type="password" name="password" (blur)="validateCustomer('pass')"
              maxlength="50" [(ngModel)]="selectCustomer.password" [ngClass]="{'mandatoryInput': blPassFomat || blPass}" />
            <label style="color: red !important;" *ngIf="blPass">Trường
              bắt buộc nhập</label>
            <label style="color: red !important;" *ngIf="blPassFomat">Mật khẩu không hợp lệ</label>
          </div>
          <div class="form-group">
            <div class="checkbox checkbox-circle checkbox-info peers ai-c">
              <input type="checkbox" id="inputCall2" name="inputCheckboxesCall" [(ngModel)]="blActive" class="peer">
              <label for="inputCall2" class="peers peer-greed js-sb ai-c"><span class="peer peer-greed">Trạng thái</span></label></div>
          </div>
          <!-- End Content -->
        </div>
        <div class="text-center">
          <button class="btn btn-primary mr-3 mb-2" id="okButton" (click)="submitOk()"> Đồng ý</button>
          <button class="btn btn-primary mr-3 mb-2" id="cancelButton" (click)="this.addAttribute.hide();"> Hủy Bỏ</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end dialog tao thuoc tinh -->
  <div id="confirmDialodDel" bsModal #confirmDialodDel="bs-modal" [config]="{backdrop: 'static'}" class="modal fade"
    role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Thông báo</h4>
          <button type="button" class="close" aria-label="Close" (click)="this.confirmDialodDel.hide()" id="close-x"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <p>{{title}}</p>
        </div>
        <div class="text-center">
          <button class="btn btn-primary stypessMax" (click)="deleteCustomers()" id="okButton">
            <!-- <span class="fa fa-check-circle" ></span> -->
            Có</button>
          <button class="btn btn-primary stypessMax" (click)="this.confirmDialodDel.hide()" id="cancelButton">
            <!-- <span class="ion-android-cancel" ></span> -->
            Không</button>
        </div>
      </div>
    </div>
  </div>