<div class="row gap-20 masonry pos-r">
    <div class="masonry-item col-md-8">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">Thể loại</h6>
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <label class="col-12 pl-0">Tên thể loại <i class="fa fa-asterisk requisIcon"
                                aria-hidden="true"></i></label>
                        <input class="form-control col-12" (blur)="this.blName = true; changeSlugByname();" type="text"
                            name="namestu" maxlength="64" [(ngModel)]="selectCategories.name"
                            [ngClass]="{'mandatoryInput': (!selectCategories || !selectCategories.name) && blName}" />
                        <label style="color: red !important;"
                            *ngIf="(!selectCategories || !selectCategories.name) && blName">Trường
                            bắt buộc nhập</label>
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Tên tiếng anh <i class="fa fa-asterisk requisIcon"
                                aria-hidden="true"></i></label>
                        <input class="form-control col-12" (blur)="this.blNameEn = true;" type="text" name="namestu"
                            maxlength="64" [(ngModel)]="selectCategories.nameEn"
                            [ngClass]="{'mandatoryInput': (!selectCategories || !selectCategories.nameEn) && blNameEn}" />
                        <label style="color: red !important;"
                            *ngIf="(!selectCategories || !selectCategories.nameEn) && blNameEn">Trường
                            bắt buộc nhập</label>
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Slug</label>
                        <input class="form-control col-12" type="text" maxlength="64" (blur)="setSlugOnchange()"
                            name="slug" [(ngModel)]="selectCategories.slug" />
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Độ ưu tiên <i class="fa fa-asterisk requisIcon"
                                aria-hidden="true"></i></label>
                        <input class="form-control col-12" type="text" (keypress)="keyPress($event,'number')"
                            maxlength="11" [(ngModel)]="selectCategories.order" name="index "
                            (blur)="checkorderFormat()"
                            [ngClass]="{'mandatoryInput': (!selectCategories || selectCategories.order === undefined || selectCategories.order === null) && blOrder}" />
                        <label style="color: red !important;"
                            *ngIf="(!selectCategories || selectCategories.order === undefined || selectCategories.order === null) && blOrder">Trường
                            bắt buộc nhập</label>
                    </div>
                    <div class="form-group row">
                        <!-- <label class="col-12 pl-0">Icon Url </label> -->
                        <!-- <input class="form-control col-12" type="text" maxlength="500"
                            [(ngModel)]="selectCategories.iconUrl" name="iconUrl "  /> -->

                        <label class="actionLinkSearch col-5 cursorPointer"
                            (click)="btnUploadClickIcon(fileUploadIcon)">
                            Upload Icon</label>
                        <div class="col-7 pt-2 pb-2" *ngIf="selectCategories.iconUrl">
                            <img src="{{selectCategories.iconUrl}}" class="img-fluid col-12 pt-2 pb-2"
                                onerror="imageError(this)" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-12 pl-0">Mô tả</label>
                        <!-- <input class="form-control col-12" type="text" maxlength="5000" name="description" [(ngModel)]="selectCategories.description" /> -->
                        <ckeditor [(ngModel)]="selectCategories.description" name="description" #myckeditor>
                        </ckeditor>
                    </div>

                </form>
            </div>
        </div>
        <div class="bgc-white p-20 bd mt-4">
            <h6 class="c-grey-900">SEO</h6>
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <label class="col-12 pl-0">Seo Title</label>
                        <input class="form-control col-12" type="text" name="seotitle" maxlength="128"
                            [(ngModel)]="selectCategories.seoTitle" />
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Seo Keywords</label>
                        <input class="form-control col-12" type="text" name="seokeywords" maxlength="128"
                            [(ngModel)]="selectCategories.seoKeywords" />
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Seo Description</label>
                        <input class="form-control col-12" type="text" maxlength="5000" name="seodescription"
                            [(ngModel)]="selectCategories.seoDescription" />
                    </div>
                    <div class="form-group">
                        <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                            <input type="checkbox" id="inputCall2" name="inputCheckboxesCall"
                                [(ngModel)]="selectCategories.blSeoIndex" class="peer">
                            <label for="inputCall2" class="peers peer-greed js-sb ai-c"><span
                                    class="peer peer-greed">Seo
                                    Index</span></label></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="masonry-item col-md-4">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">Danh mục cha</h6>
            <div class="mT-30">
                <form>
                    <div [ngClass]="{'displayDiv': displayOne}" class="treeContent">
                        <p-tree [value]="filesTree2" styleClass="treeNode" selectionMode="single"
                            [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)"
                            (onNodeUnselect)="nodeUnselect($event)"></p-tree>
                    </div>
                </form>
            </div>
        </div>
        <div class="bgc-white p-20 bd mt-4">
            <h6 class="c-grey-900">Banner</h6>
            <div class="mT-30">
                <form>
                    <label class="col-12 pl-0">Banner Image</label>
                    <input class="form-control col-12" type="text" maxlength="5000" name="bannerImage"
                        [(ngModel)]="selectCategories.bannerImage" />
                    <label class="actionLinkSearch col-12 pl-0 cursorPointer" (click)="btnUploadClick(fileUpload)">
                        Upload</label>
                    <div class="col-sm-6 col-12 pt-2 pb-2" *ngIf="selectCategories.bannerImage">
                        <img src="{{selectCategories.bannerImage}}" class="img-fluid col-12 pt-2 pb-2"
                            onerror="imageError(this)" />
                    </div>
                    <label class="col-12 pl-0">Banner Link</label>
                    <input class="form-control col-12" type="text" maxlength="5000" name="nameBannerLink"
                        [(ngModel)]="selectCategories.bannerLink" />
                    <div class="col-sm-6 col-12 pt-2 pb-2" *ngIf="selectCategories.bannerLink">
                        <img src="{{selectCategories.bannerLink}}" class="img-fluid col-12 pt-2 pb-2"
                            onerror="imageError(this)" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="masonry-item col-md-12">
        <div class="col-12 txtCenter">
            <button class="btn btn-primary mr-3" title="Save" (click)="createCategori()">Lưu</button>
            <button class="btn btn-primary mr-3" title="Bank" (click)="bankmanageCategory()">Quay lại</button>
        </div>
    </div>
    <div bsModal #lgModal="bs-modal" class="modal fade pdfModal" tabindex="-1" role="dialog"
        aria-labelledby="dialog-sizes-name1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="dialog-sizes-name1" class="modal-title pull-left">{{'bv-voucher-details.suitedocument.addNew'
                        |
                        translate}}</h4>
                    <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p-progressBar [value]="progressBarPercent" *ngIf="progressBarPercent < 100"></p-progressBar>
                    <ul *ngIf="uploadedFilesSuccess && progressBarPercent >= 100">
                        <li *ngFor="let file of uploadedFilesSuccess">{{file.name}} - {{file.size}} bytes
                            <br />
                            <span
                                class="text-success">{{'bv-voucher-details.suitedocument.successfully' | translate}}</span>
                        </li>
                    </ul>
                    <ul *ngIf="uploadedFilesError && progressBarPercent >= 100">
                        <li *ngFor="let file of uploadedFilesError">
                            <div *ngIf="file.size === 0">
                                {{file.name}} - {{file.size}} bytes
                                <br />
                                <span class="text-danger">{{'bv-voucher-details.suitedocument.failUnAllowUploadFileZeroKb'
                                    | translate}}</span>
                            </div>
                            <div *ngIf="file.size > 10000000">
                                {{file.name}} - {{file.size}} bytes
                                <br />
                                <span class="text-danger">{{'bv-voucher-details.suitedocument.failUnAllowUploadFileGreatThan10Mb'
                                    | translate}}</span>
                            </div>
                        </li>
                    </ul>
                    <ul *ngIf="uploadedFilesErrorInvalid && progressBarPercent >= 100">
                        <li *ngFor="let file of uploadedFilesErrorInvalid">
                            <div>
                                {{file.value}}
                                <br />
                                <span class="text-danger">{{'bv-voucher-details.suitedocument.failWithWrongFormat' |
                                    translate}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p-fileUpload name="files" class="displayDiv" [url]="urlupload" #fileUpload
        (onSelect)="onSelectedFiles(lgModal, fileUpload)" (onUpload)="onUploadSuccess($event, lgModal)"
        (onBeforeSend)="onBeforUpload($event, fileUpload)" (onError)="onUploadError($event, lgModal)" accept="image/*"
        maxFileSize="10000000">
    </p-fileUpload>
    <p-fileUpload name="files" class="displayDiv" [url]="urluploadIcon" #fileUploadIcon
        (onSelect)="onSelectedFilesIcon(lgModal, fileUploadIcon)" (onUpload)="onUploadSuccessIcon($event, lgModal)"
        (onBeforeSend)="onBeforUploadIcon($event, fileUploadIcon)" (onError)="onUploadErrorIcon($event, lgModal)"
        accept="image/*" maxFileSize="10000000">
    </p-fileUpload>
</div>