<li *ngIf="!menuItem.hidden"  [title]="menuItem.title | translate" [ngClass]="{'al-sidebar-list-item': !child, 'ba-sidebar-sublist-item': child, 'selected': menuItem.selected && !menuItem.expanded, 'with-sub-menu': menuItem.children, 'ba-sidebar-item-expanded': menuItem.expanded , 'longText': (menuItem.title | translate) && (menuItem.title | translate).length > 20 , 'border-bottom-none': isLastItem ,
        'displayDiv': ( (roleId === 6 || roleId === 9 ) && (menuItem.title === 'general.menu.approval') ) || (roleId!==10 && menuItem.title === 'general.menu.account')}"
        >
    <a *ngIf="!menuItem.children && !menuItem.url && menuItem.isSubMenu" [routerLink]="menuItem.route.path"  (mouseenter)="onHoverItem($event)"
        class="al-sidebar-list-link sub-menu">
        <i *ngIf="menuItem.icon" class="{{ menuItem.icon }} subicon"></i>
        <span class="spanLeftMenu" translate>{{ menuItem.title }}</span>
        <i *ngIf="menuItem.icon"></i>
    </a>

    <a *ngIf="!menuItem.children && !menuItem.url && !menuItem.isSubMenu" [routerLink]="menuItem.route.path"  (mouseenter)="onHoverItem($event)"
        class="al-sidebar-list-link">
        <i *ngIf="menuItem.icon" class="{{ menuItem.icon }} "></i>
        <span class="spanLeftMenu" translate>{{ menuItem.title }}</span>
        <i *ngIf="menuItem.icon"></i>
    </a>

    <a *ngIf="!menuItem.children && menuItem.url" (mouseenter)="onHoverItem($event)" [routerLink]="menuItem.route.path" [target]="menuItem.target"
        class="al-sidebar-list-link">
        <i *ngIf="menuItem.icon" class="{{ menuItem.icon }}"></i>
        <span class="spanLeftMenu" translate>{{ menuItem.title }}</span>
        <i *ngIf="menuItem.icon"></i>
    </a>
    <a *ngIf="!menuItem.children && menuItem.url" (mouseenter)="onHoverItem($event)" [routerLink]="menuItem.route.path" [target]="menuItem.target"
        class="al-sidebar-list-link">
        <i *ngIf="menuItem.icon" class="{{ menuItem.icon }}"></i>
        <span class="spanLeftMenu" translate>/bao-viet/account</span>
        <i *ngIf="menuItem.icon"></i>
    </a>
    <a *ngIf="menuItem.children" (mouseenter)="onHoverItem($event)" href (click)="onToggleSubMenu($event, menuItem)" class="al-sidebar-list-link">
        <i *ngIf="menuItem.icon" class="{{ menuItem.icon }}"></i>
        <span class="spanLeftMenu" translate>{{ menuItem.title }}</span>
        <b class="fa fa-angle-down" [ngClass]="{'fa-angle-up': menuItem.expanded}"></b>
    </a>

    <ul   *ngIf="menuItem.children" class="al-sidebar-sublist" [ngClass]="{'slide-right': menuItem.slideRight}">
        <bv-menu-item [menuItem]="subItem" [child]="true" (itemHover)="onHoverItem($event)" (toggleSubMenu)="onToggleSubMenu($event, subItem)"
            *ngFor="let subItem of menuItem.children"></bv-menu-item>
    </ul>
</li>