<ng-container ngForm="dateMaskForm" #dateMaskForm="ngForm">
  <div class="row">
    <div class="col-12 ngx-date-time">
      <div class="wrap-input">
        <input #dateTime="ngModel" (blur)="this.firstLoad = false;" type="text" class="form-control" [required]="isRequired" mask="00/00/0000"
          placeholder="dd/mm/yyyy" (change)="changeDate()"  [name]="nameInputDate" [(ngModel)]="strDate" maxlength="15" [class.is-invalid]="dateTime.invalid && (dateTime.dirty || dateTime.touched) || strDate && !checkFormatDate || isInValid"
        />
      </div>
      <p-calendar class="hiddenCalendar" [(ngModel)]="datetime" (onSelect)="setdateText()" [maxDate]="maxDateCheck" name="dateOfLoss"
        [minDate]="minDateCheck" [showIcon]="true"></p-calendar>
    </div>
  </div>
  <div *ngIf="dateTime.errors?.required" class="col-12 invalid-feedback pl-0 " [class.d-block]="dateTime.invalid && (dateTime.dirty || dateTime.touched)">
    {{'bao-viet.claim.validate.required' | translate}}
  </div>
  <div *ngIf="strDate && !checkFormatDate" class="col-12 invalid-feedback pl-0 " [class.d-block]="strDate && !checkFormatDate">
    <label> Dữ liệu không hợp lệ</label>
  </div>
  <div *ngIf="(isInValid && inValidMes && strDate) || (isInValid && inValidMes==='Trường bắt buộc nhập' && firstLoad)" class="col-12 invalid-feedback pl-0 "
    [class.d-block]="(isInValid && inValidMes && strDate) || (isInValid && inValidMes==='Trường bắt buộc nhập' && firstLoad)">
    <label> {{inValidMes}}</label>
  </div>
</ng-container>