h3.head-home-title{
  margin: 15px 0 0 0;
  background: #007BC5;
  color: white;
  padding: 5px;
  height: 60px;
  text-align: center;
  border-radius: 15px 15px 2px 2px;
  font-size: 1.5rem;
}
.fontsize-header{
  margin: 15px 0 0 0;
  background: #007BC5;
  color: white;
  padding: 5px;
  height: 60px;
  text-align: center;
  border-radius: 15px 15px 2px 2px;
  font-size: 1.5rem;
  padding-top: 20px;
}
h1.head-home-content{
  margin: 0px 0 0 0;
  background: #ffffff;
  color: #BE8E0B;
  padding: 5px;
  height: 200px;
  text-align: center;
  padding-top: 80px;
  border-radius: 2px 2px 15px 15px;
  border-right: 4px solid #BE8E0B;
  border-left: 4px solid #BE8E0B;
  border-bottom: 4px solid #BE8E0B;
}
h2 {
  width: 50%;
  font-size: 50px;
  height: 100%;
  float: left;
}
.icon-home{
  width: 50px;
  // height: 50px;
  margin-bottom: 6px;
}
.setfontsize-dashboard{
  font-size: 50px !important;
}
@media all and (min-width: 768px) and (max-width: 1366px) {
  .dashboard-box{
    width:90%;
  }

  h1.head-home-content{
    height: 140px;
    padding-top: 35px;
  }
}
.dashboard-box{
  width:95%;
}
a.mouses:hover, a.mouses:active {
  // font-family: sans-serif;
  cursor: pointer;
  text-decoration: underline;
}
