<h3 class="fontsize-header">{{title}}</h3>
<h1 class="head-home-content" >
  <h2 class="setfontsize-dashboard" >
    <img class="icon-home" [src]="img" />
  </h2>
  <p *ngIf= "content1"><a class="setfontsize-dashboard mouses" (click) = "routerGaraDetail1(content1)">{{content1}}</a></p>
  <p *ngIf= "content2"><a class="setfontsize-dashboard mouses" (click) = "routerGaraDetail2(content2)">{{content2}}</a></p>
  <p *ngIf= "content3"><a class="setfontsize-dashboard mouses" (click) = "routerGaraDetail3(content3)">{{content3}}</a></p>
  <p *ngIf= "content4"><a class="setfontsize-dashboard mouses" (click) = "routerGaraDetail4(content4)">{{content4}}</a></p>
  <p *ngIf= "content5"><a class="setfontsize-dashboard mouses" (click) = "routerGaraDetail5(content5)">{{content5}}</a></p>
  <p *ngIf= "content6"><a class="setfontsize-dashboard mouses" (click) = "routerGaraDetail6(content6)">{{content6}}</a></p>
</h1>

