<div class="bgc-white bd bdrs-3 p-20 mB-20">
    <div class="row">
        <h4 class="c-grey-900 mB-20 col-sm-9 col-12">Sắp xếp thuộc tính thể loại</h4>
        <div class=" col-sm-3 col-12 txtRight pr-0">
            <!-- <button class="btn btn-primary mr-3 mb-2 " (click)="createCategori();">
                <i class="fa fa-plus pr-2"></i>Thêm</button> -->
            <button class="btn btn-success mr-3 mb-2 " (click)="bankList()">
                <!-- <i class="fa fa-plus pr-2"></i> -->
                Quay lại</button>
        </div>
    </div>
    <p-orderList [value]="listAttribute" filter="filter" filterBy="name" filterPlaceholder="Filter by name" dragdrop="true">
        <ng-template let-car pTemplate="item">
            <div class="ui-helper-clearfix">
                <div style="font-size:14px;float:left;margin:5px 5px 0 10px">{{car.id}} - {{car.name}}</div>
            </div>
        </ng-template>
    </p-orderList>
    <div class="row">
        <div class="col-12 txtCenter pr-0 pt-3 pl-0">
            <!-- <button class="btn btn-primary mr-3 mb-2 " (click)="createCategori();">
                <i class="fa fa-plus pr-2"></i>Thêm</button> -->
            <button class="btn btn-success mr-3 mb-2 " (click)="updateOrder()">
                <!-- <i class="fa fa-plus pr-2"></i> -->
                Lưu </button>
        </div>
    </div>
</div>