<!--<ng-container ngForm="workBasketZone" #workBasketZone="ngForm">-->
<div class="borderBox pl-2 pr-2 pb-2">
  <div class="form-group row">
    <label class="col-xl-1 col-lg-4 col-md-8 col-sm-12">Từ ngày</label>
    <div class="col-xl-3 col-lg-6 col-md-8 col-sm-12">
      <ngx-date [datetime]="fromDate" [minDate]="fromDateNgbDate" (outDate)="fromDate = $event " [isRequired]="false" [isInValid]="blfromDate"
        (formatDate)="formatfromDateNgbDate = $event" (onChangeDate)="isInvalidDate('fromDate',$event)" [inValidMes]="strfromDate"></ngx-date>
    </div>
    <label class="col-xl-1 col-lg-4 col-md-8 col-sm-12">Đến ngày</label>
    <div class="col-xl-3 col-lg-6 col-md-8 col-sm-12">
      <ngx-date [datetime]="fromDate" [minDate]="toDateNgbDate" (outDate)="toDate = $event " [isRequired]="false" [isInValid]="bltoDate"
        (formatDate)="formattoDateNgbDate = $event" (onChangeDate)="isInvalidDate('toDate',$event)" [inValidMes]="strtoDate"></ngx-date>
    </div>
    <label class="col-xl-1 col-lg-4 col-md-8 col-sm-12">Biển số xe</label>
    <div class="col-xl-3 col-lg-6 col-md-8 col-sm-12">
      <input type="text" class="form-control" placeholder="29B9-99999" [(ngModel)]="plateNumber" name="plateNumber" (change)="validatePlateNumber()"
        [ngClass]="{'chkValidateText': !checkPlateNumber}" maxlength="20">
      <div [hidden]="checkPlateNumber" [ngClass]="{'chkValidateText': !checkPlateNumber}">
        Không được nhập quá 20 ký tự
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-xl-1 col-lg-4 col-md-8 col-sm-12">Loại</label>
    <div class="col-xl-3 col-lg-6 col-md-8 col-sm-12">
      <select class="form-control" [(ngModel)]="type">
        <!-- <option value="">Tất cả</option>
        <option value="1">Phân công</option>
        <option value="2">Phê duyệt</option>
        <option value="3">Bảo lãnh</option> -->
        <option value="1">Giám định hiện trường</option>
        <option value="2">Giám định tại xưởng</option>
        <option value="3">Online</option>
        <!-- <option value="5">Chờ thông qua</option> -->
        <option value="4">Khác</option>
      </select>
    </div>
    <label class="col-xl-1 col-lg-4 col-md-8 col-sm-12">Số HSBT</label>
    <div class="col-xl-3 col-lg-6 col-md-8 col-sm-12">
      <input type="text" class="form-control" placeholder="" [(ngModel)]="claimNumbers" name="claimNumbers" (keypress)="keyPress($event,'price')"
        (change)="validatePlateNumber()" [ngClass]="{'chkValidateText': !checkPlateNumber}" maxlength="20">
      <div [hidden]="checkPlateNumber" [ngClass]="{'chkValidateText': !checkPlateNumber}">
        Không được nhập quá 20 ký tự
      </div>
    </div>
    <div class="input-group-append ml-3">
      <button class="btn btn-eclaim mr-3" type="button" (click)="searchZone()">Tìm kiếm</button>
    </div>
    <div class="input-group-append">
      <button [disabled]="!isButtonDisabledPC" (click)="workPc()" class="btn btn-eclaim" type="button">Phân công</button>
    </div>
  </div>
</div>
<div class="form-group row mt-2">
  <div class="col-xl-12 col-lg-6 col-md-10 col-sm-12">
    <div class="borderBox">
      <div class="wrapTitle">
        <h2 class="eclaim-title icon-folder icon">
          {{'bv-work-basket-personal.zone.unsupported' | translate}}
        </h2>
        <span class="total-number">{{listDataServices.length}}</span>
      </div>
      <p-dataTable [value]="listDataServices" emptyMessage="Không có kết quả tìm thấy" [scrollable]="true" (onRowSelect)="getRowId($event)"
        scrollHeight="126px" selectionMode="single">
        <p-column [style]="{'width':'5%'}" field="" header="{{'bv-work-basket-personal.zone.table.stt' | translate}}">
          <ng-template let-col let-obj="rowData" let-i="rowIndex" pTemplate="body">
            <p class="txtCenter">{{i+1}}</p>
          </ng-template>
        </p-column>
        <p-column field="" [style]="{'width':'5%'}" header="{{'bv-work-basket-personal.zone.table.priority' | translate}}">
          <ng-template let-col let-obj="rowData" pTemplate="body">
            <div [ngStyle]="{'background-color': changeColor(obj['taskType'])}">
              <span *ngIf="obj.taskType === 1" class="hiddenColorBlue">{{obj.taskType}}</span>
              <span *ngIf="obj.taskType === 2" class="hiddenColorYellor">{{obj.taskType}}</span>
            </div>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'35%'}" field="" header="{{'bv-work-basket-personal.zone.table.work' | translate}}">
          <ng-template let-col let-obj="rowData" pTemplate="body">
            <a [routerLink]="['/bao-viet/voucher-detail/', (obj.claimId ? obj.claimId : '')]" class="text-primary">
              <p class="txtLeft">Hồ sơ số: {{obj.claimNumber}} - Khách hàng: {{obj.insuredName}}</p>
            </a>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'12%'}" field="" header="{{'bv-work-basket-personal.zone.table.numberdriver' | translate}}">
          <ng-template let-col let-obj="rowData" pTemplate="body">
            <p class="txtLeft">{{obj.policyInforPlateNumber}}</p>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'25%'}" field="" header="{{'bv-work-basket-personal.zone.table.place' | translate}}">
          <ng-template let-col let-obj="rowData" pTemplate="body">
            <p class="txtLeft">{{obj.inspectionPlace}}</p>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'15%'}" field="" header="{{'bv-work-basket-personal.zone.table.update' | translate}}">
          <ng-template let-col let-obj="rowData" pTemplate="body">
            <!-- <p class="txtCenter">{{obj.updatedDate}}</p> -->
            <p class="txtCenter">{{viewDateAMPM(obj.updatedDate) | date:'dd/MM/yyyy HH:mm a'}}</p>
          </ng-template>
        </p-column>
      </p-dataTable>
      <div *ngIf="!listDataServices || listDataServices.length ===0" class="borderrow"><label>Không tìm thấy kết quả</label></div>
    </div>
  </div>
</div>
<div class="form-group row mt-2">
  <div class="col-xl-12 col-lg-6 col-md-10 col-sm-12">
    <div class="borderBox">
      <div class="wrapTitle">
        <h2 class="eclaim-title icon-folder icon">
          {{'bv-work-basket-personal.zone.approvedwork' | translate}}
        </h2>
        <span class="total-number">{{listDataWorks.length}}</span>
      </div>
      <p-dataTable [value]="listDataWorks" emptyMessage="Không có kết quả tìm thấy" [scrollable]="true" scrollHeight="126px" selectionMode="single">
        <p-column [style]="{'width':'5%'}" field="" header="{{'bv-work-basket-personal.zone.table.stt' | translate}}">
          <ng-template let-col let-obj="rowData" let-i="rowIndex" pTemplate="body">
            <div *ngIf="obj.taskType == 5 && obj.taskStatus == 4">
              <p class="txtCenter text-danger">{{i+1}}</p>
            </div>
            <div *ngIf="obj.taskType == 7 && obj.taskStatus == 7">
              <p class="txtCenter">{{i+1}}</p>
            </div>
            <div *ngIf="obj.taskType == 5 && obj.taskStatus == 5">
              <p class="txtCenter">{{i+1}}</p>
            </div>
            <div *ngIf="obj.taskType == 5 && obj.taskStatus == 11">
              <p class="txtCenter">{{i+1}}</p>
            </div>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'5%'}" field="" header="{{'bv-work-basket-personal.zone.table.priority' | translate}}">
          <ng-template let-col let-obj="rowData" pTemplate="body">
            <div *ngIf="obj.flag == 0">
              <p class="txtCenter text-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></p>
            </div>
            <div *ngIf="obj.flag == 1">
              <p class="txtCenter text-danger"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></p>
            </div>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'73%'}" field="" header="{{'bv-work-basket-personal.zone.table.work' | translate}}">
          <ng-template let-col let-obj="rowData" pTemplate="body">
            <div *ngIf="obj.taskType == 5 && obj.taskStatus == 4">
              <a [routerLink]="['/bao-viet/voucher-detail', (obj.claimId ? obj.claimId : '0'), (obj.taskType ? obj.taskType : '0')]" class="text-primary">
                <p class="txtLeft text-danger">{{obj.summary}}</p>
              </a></div>
            <div *ngIf="obj.taskType == 7 && obj.taskStatus == 7">
              <a [routerLink]="['/bao-viet/voucher-detail',  (obj.claimId ? obj.claimId : '0'), (obj.taskType ? obj.taskType : '0')]" class="text-primary">
                <p class="txtLeft">{{obj.summary}}</p>
              </a></div>
            <div *ngIf="obj.taskType == 5 && obj.taskStatus == 5">
              <a [routerLink]="['/bao-viet/voucher-detail', (obj.claimId ? obj.claimId : '0'), (obj.taskType ? obj.taskType : '0')]" class="text-primary">
                <p class="txtLeft text-primary">{{obj.summary}}</p>
              </a>
            </div>
            <div *ngIf="obj.taskType == 5 && obj.taskStatus == 11">
              <a [routerLink]="['/bao-viet/voucher-detail', (obj.claimId ? obj.claimId : '0'), (obj.taskType ? obj.taskType : '0')]" class="text-primary">
                <p class="txtLeft text-primary">{{obj.summary}}</p>
              </a>
            </div>
          </ng-template>
        </p-column>
        <p-column [style]="{'width':'15%'}" field="" header="{{'bv-work-basket-personal.zone.table.update' | translate}}">
          <ng-template let-col let-obj="rowData" pTemplate="body">
            <div *ngIf="obj.taskType == 5 && obj.taskStatus == 4">
              <p class="txtCenter text-danger">{{viewDateAMPM(obj.updatedDate) | date: 'dd/MM/yyyy HH:mm a'}}</p>
            </div>
            <div *ngIf="obj.taskType == 7 && obj.taskStatus == 7">
              <p class="txtCenter">{{viewDateAMPM(obj.updatedDate) | date: 'dd/MM/yyyy HH:mm a'}}</p>
            </div>
            <div *ngIf="obj.taskType == 5 && obj.taskStatus == 5">
              <p class="txtCenter">{{viewDateAMPM(obj.updatedDate) | date: 'dd/MM/yyyy HH:mm a'}}</p>
            </div>
            <div *ngIf="obj.taskType == 5 && obj.taskStatus == 11">
              <p class="txtCenter">{{viewDateAMPM(obj.updatedDate) | date: 'dd/MM/yyyy HH:mm a'}}</p>
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>
      <div *ngIf="!listDataWorks || listDataWorks.length ===0" class="borderrow"><label>Không tìm thấy kết quả</label></div>
    </div>
  </div>
</div>
<!--</ng-container>-->