.wrapTitle{  
  .icon-folder{
    background-image: url(/assets/images/basket/icon-folder.png);
  }
}
.wrapTimkiem {  
  .timkiembg-right {
    background: url(/assets/images/timkiembg-right.png) top left no-repeat;
    height: 50px;
    width: 19px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.form-inline{
  border-top: 1px solid #bdbdbd24;
}
.borderBox{
  box-shadow: 0px 8px 7px 0px #00000029;
}
.pd-20{
  padding: 20px;
}
.error {
  background-color: red !important;
    padding-bottom: 47%;
    padding-top: 100%;
    padding-left: 37%;
    padding-right: 100%;
}

.warning{
    background-color:yellow !important;
    padding-bottom: 47%;
    padding-top: 100%;
    padding-left: 37%;
    padding-right: 100%;
}
.hiddenColorBlue {
  color: #007BC5;
}
.hiddenColorYellor {
  color: #CBA34D;
}
.hiddenColorRed {
  color: red;
}
.hiddenColorBrown {
  color: rgb(75, 71, 74);
}