.wrapTitle{    
    .icon1{
        background-image: url(/assets/images/basket/icon1.png)
    }
    .icon2{
        background-image: url(/assets/images/basket/icon2.png)
    }
    .icon3{
        background-image: url(/assets/images/basket/icon3.png)
    }
    .icon4{
        background-image: url(/assets/images/basket/icon4.png)
    } 
}
.form-inline{
    border-top: 1px solid #bdbdbd24;
}
.borderBox{    
    box-shadow: 0px 8px 7px 0px #00000029;
}
.pd-20{
    padding: 20px;
}

table tr th:first-child {
    width: 109px;
}