<ul id="al-sidebar-list" style="height:auto  !important" class="al-sidebar-list"
    (mouseleave)="hoverElemTop=outOfArea">
  <bv-menu-item
    [menuItem]="item"
    (itemHover)="hoverItem($event)"
    (toggleSubMenu)="toggleSubMenu($event)"
    *ngFor="let item of menuItems; let i = index" [isLastItem]="i === getLastIndexNotHiddenOfMenus()"></bv-menu-item>
</ul>
<div class="sidebar-hover-elem" [ngStyle]="{top: '0px', height: hoverElemHeight + 'px'}"
     [ngClass]="{'show-hover-elem': showHoverElem }">
</div>
<div class="sidebar-hover-elem" [ngStyle]="{top: hoverElemTop + 'px', height: hoverElemHeight + 'px'}"
     [ngClass]="{'show-hover-elem': showHoverElem }">
</div>
