@media all and (min-width: 768px) and (max-width: 1366px) {
  .container-fluid-body {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top:-36px;
  }
  .mainGara {
    padding-top: 70px;
    padding-left: 150px;
    padding-right: 150px;
  }
  .mainContent {
    padding: 40px;
    margin-top: -20px;
  }
}
.container-fluid-body {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 30px;
  margin-top:-36px;
}

.mainGara {
  padding-top: 70px;
  padding-left: 150px;
  padding-right: 150px;
}

.mainContent {
  padding: 40px;
  margin-top: -20px;
}