<!-- <div class="container-fluid-body">
  <div class="row mainGara">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mainContent" >
          <gara-dashboard-item
            [title]="'home.quotation' | translate"
            [img]="'assets/images/home/icon 21.8-01.jpg'"
            [content1]="selectCountTable.claimRequestQuotation ? selectCountTable.claimRequestQuotation : '0'"
          ></gara-dashboard-item>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mainContent" >
          <gara-dashboard-item
            [title]="'home.price_list' | translate"
            [img]="'assets/images/home/icon 21.8-02.jpg'"
            [content2]="selectCountTable.claimWaitingApprovalQuotation ? selectCountTable.claimWaitingApprovalQuotation : '0'"
          ></gara-dashboard-item>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mainContent" >
          <gara-dashboard-item
            [title]="'home.guarantee' | translate"
            [img]="'assets/images/home/icon 21.8-03.jpg'"
            [content3]="selectCountTable.claimWaitingGuarantee ? selectCountTable.claimWaitingGuarantee : '0'"
          ></gara-dashboard-item>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mainContent" >
          <gara-dashboard-item
            [title]="'home.invoice' | translate"
            [img]="'assets/images/home/icon 21.8-04.jpg'" name='content4'
            [content4]="selectCountTable.claimNotExportInvoice ? selectCountTable.claimNotExportInvoice : '0'"
          ></gara-dashboard-item>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mainContent" >
          <gara-dashboard-item
            [title]="'home.pending_pay' | translate"
            [img]="'assets/images/home/icon 21.8-05.jpg'"
            [content5]="selectCountTable.claimWaitingPayment ? selectCountTable.claimWaitingPayment : '0'"
          ></gara-dashboard-item>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mainContent" >
          <gara-dashboard-item
            [title]="'home.complete_pay' | translate"
            [img]="'assets/images/home/icon 21.8-06.jpg'"
            [content6]="selectCountTable.claimPaid ? selectCountTable.claimPaid : '0'"
          ></gara-dashboard-item>
        </div>
      </div>
    </div>
  </div>
</div> -->
