<gara-header></gara-header>
<gara-side-bar *ngIf="isShowSideBar | async"></gara-side-bar>
<!-- <div class="al-main" [class.hide-side-bar]="!(isShowSideBar | async)"> -->
<div class="al-main hide-side-bar">
  <div class="al-content">
    <router-outlet></router-outlet>
  </div>
</div>
<p-growl class="classGrowl" life="5000"></p-growl>
<app-loader></app-loader>