<div class="row gap-20 masonry pos-r">
    <div class="masonry-item col-md-8">
        <div class="bgc-white p-20 bd">
            <h6 class="c-grey-900">Cập nhật thông tin chi tiết</h6>
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <label class="col-12 pl-0">Tên <i class="fa fa-asterisk requisIcon"
                                aria-hidden="true"></i></label>
                        <input class="form-control col-12" (blur)="this.blName = true; changeSlugByname();" type="text"
                            name="namestu" maxlength="64" [(ngModel)]="selectArticles.name"
                            [ngClass]="{'mandatoryInput': (!selectArticles || !selectArticles.name) && blName}" />
                        <label style="color: red !important;"
                            *ngIf="(!selectArticles || !selectArticles.name) && blName">Trường
                            bắt buộc nhập</label>
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Slug</label>
                        <input class="form-control col-12" type="text" maxlength="64" (blur)="setSlugOnchange()"
                            name="slug" [(ngModel)]="selectArticles.slug" />
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Mô tả</label>
                        <input class="form-control col-12" type="text" maxlength="254" 
                            name="description" [(ngModel)]="selectArticles.description" />
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Nội dung</label>
                        <!-- <input class="form-control col-12" type="text" maxlength="5000" name="description" [(ngModel)]="selectArticles.description" /> -->
                        <ckeditor [(ngModel)]="selectArticles.content" name="content" #myckeditor>
                        </ckeditor>
                    </div>
                    <div class="form-group">
                        <label class="actionLinkSearch col-12 pl-0 cursorPointer" (click)="btnUploadClickRIP(fileUploadRIP)">
                            Upload files</label>
                        <hr>
                        <button class="btn btn-primary mr-3" title="Chọn File" (click)="showListFileUpload()">Chọn
                            File</button>
                        <div *ngFor="let item of listMediaRIP" >
                            <label class="col-12 pl-0">{{item}}</label>
                        </div>                        
                    </div>

                </form>
            </div>
        </div>
        <div class="bgc-white p-20 bd mt-4">
            <h6 class="c-grey-900">SEO</h6>
            <div class="mT-30">
                <form>
                    <div class="form-group">
                        <label class="col-12 pl-0">Seo Title</label>
                        <input class="form-control col-12" type="text" name="seotitle" maxlength="128"
                            [(ngModel)]="selectArticles.seoTitle" />
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Seo Keywords</label>
                        <input class="form-control col-12" type="text" name="seokeywords" maxlength="128"
                            [(ngModel)]="selectArticles.seoKeywords" />
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Seo Description</label>
                        <input class="form-control col-12" type="text" maxlength="5000" name="seodescription"
                            [(ngModel)]="selectArticles.seoDescription" />
                    </div>
                    <div class="form-group">
                        <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                            <input type="checkbox" id="inputCall2" name="inputCheckboxesCall"
                                [(ngModel)]="selectArticles.blSeoIndex" class="peer">
                            <label for="inputCall2" class="peers peer-greed js-sb ai-c"><span
                                    class="peer peer-greed">Seo
                                    Index</span></label></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="masonry-item col-md-4">
        <div class="bgc-white p-20 bd pt-0">
            <div class="mT-20">
                <h6 class="c-grey-900">Thể loại</h6>
                <form>
                    <div class="form-group">
                        <select class="form-control col-12" name="optionTerm"  [(ngModel)]="idTermSelect" >
                            <option [value]="item.id" *ngFor="let item of listItemTerms">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-12 pl-0">Loại bài viết</label>
                        <!-- <input class="form-control col-12" type="text" maxlength="5000" name="seodescription"
                            [(ngModel)]="selectArticles.seoDescription" /> -->
                            <select class=" form-control listAttributesClass" name="type" [(ngModel)]="selectArticles.type">
                                <option [value]= '1' >Video</option>
                                <option [value]= '0' >Bài viết</option>
                                <option [value]= '2' >Tin hằng ngày</option>
                              </select>
                    </div>
                </form>

            </div>
        </div>
        <div class="bgc-white p-20 bd mt-4">
            <h6 class="c-grey-900">{{selectArticles.type === 0?'Bài viết':'Video'}}</h6>
            <div class="mT-30">
                <form>
                    <!-- <label class="col-12 pl-0">Banner Image</label> -->
                    <!-- <input class="form-control col-12" type="text" maxlength="5000" name="bannerImage"
                        [(ngModel)]="selectArticles.bannerImage" /> -->
                    <label class="actionLinkSearch col-12 pl-0 cursorPointer" (click)="btnUploadClick(fileUpload)">
                        Upload</label>
                    <div class="col-sm-6 col-12 pt-2 pb-2" *ngIf="selectArticles.url && selectArticles.type === 0">
                        <img src="{{selectArticles.url}}" class="img-fluid col-12 pt-2 pb-2"
                            onerror="imageError(this)" />
                    </div>
                    <label class="col-12 pl-0">URL</label>
                    <input class="form-control col-12" type="text" maxlength="5000" name="nameBannerLink"
                        [(ngModel)]="selectArticles.url" />
                </form>
                <form>
                    <label>Danh sách link đã upload</label>
                    <div class="row" style="border-bottom:1px solid #ddd;"  *ngFor="let item of listURLUpload">
                        <label class="col-8 pl-0">{{item}}</label>
                        <div class="col-4 pt-2 pb-2" *ngIf="item">
                            <img src="{{item}}" class="img-fluid col-12 pt-2 pb-2"
                                onerror="imageError(this)" />
                        </div>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
    <div class="masonry-item col-md-12">
        <div class="col-12 txtCenter">
            <button class="btn btn-primary mr-3" title="Save" (click)="createTerms()">Lưu</button>
            <button class="btn btn-primary mr-3" title="Bank" (click)="bankmanager()">Quay lại</button>
        </div>
    </div>
    <p-fileUpload name="files" class="displayDiv" [url]="urlupload" #fileUpload (onSelect)="onSelectedFiles(fileUpload)"
        (onUpload)="onUploadSuccess($event)" (onBeforeSend)="onBeforUpload($event, fileUpload)"
        (onError)="onUploadError($event)"  multiple="multiple" accept="image/*,video/mp4,video/x-m4v,video/*,video/3gp,video/3gpp" maxFileSize="10000000">
    </p-fileUpload>
    <p-fileUpload name="filesRIP" class="displayDiv" [url]="urluploadRIP" #fileUploadRIP (onSelect)="onSelectedFilesRIP(fileUploadRIP)"
        (onUpload)="onUploadSuccessRIP($event)" (onBeforeSend)="onBeforUploadRIP($event, fileUploadRIP)"
        (onError)="onUploadErrorRIP($event)" multiple="multiple"  maxFileSize="10000000000">
    </p-fileUpload>
</div>
<div id="addlinkUpload" bsModal #addlinkUpload="bs-modal" [config]="{backdrop: 'static'}" class="modal fade"
    role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Danh sách file Upload</h4>
                <button type="button" class="close" aria-label="Close" (click)="this.addlinkUpload.hide()"
                    id="close-x"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <input class="form-control col-6" type="text" maxlength="100" name="nameSearch"
                        [(ngModel)]="selectLinkFile.name" placeholder="Tên bài viết, sản phẩm/Mã LK" />
                    <input class="form-control col-6" type="number" maxlength="10" name="idSearch"
                        [(ngModel)]="selectLinkFile.idArticle" placeholder="ID bài viết/ ID sản phẩm" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary mr-3" title="Chọn File" (click)="selectFile()">Chọn File</button>
                </div>

                <div *ngIf="listUploadFileBySelected" class="contenFile row">
                    <div class="col-3" style="border-bottom:1px solid #ddd;"
                        *ngFor="let item of listUploadFileBySelected"  style="text-align: center;">
                        <div class="col-12 pt-2 pb-2" *ngIf="item.value">
                            <img src="{{item.value}}" class="img-fluid col-12 pt-2 pb-2"
                                (click)="this.linkSeleced =  item.value" onerror="imageErrorUpload(this)" />
                            <label class="detailImage">{{item.value}}</label>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <label class="col-12 pl-0">Link File: {{linkSeleced}}</label>
                    <button class="btn btn-primary stypessMax" (click)="this.addlinkUpload.hide()" id="cancelButton">
                        <!-- <span class="ion-android-cancel" ></span> -->
                        Đóng</button>
                </div>
            </div>
        </div>
    </div>