.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}
.actionLinkSearch {
  color: #007bff !important;
  text-decoration: underline !important;
}
img.img-fluid {
  width: 100px;
}
img.img-fluid {
  width: 100px;
  border: 1px solid #ddd;
}
.modal-dialog {
  max-width: 75% !important;
  margin: 7% auto;
  height: 500px !important;
}
.contenFile {
  max-height: 200px;
  overflow: overlay;
}
label.detailImage {
  word-break: break-word;
}
.img-fluid {
  cursor: pointer !important
}
