<div class="row gap-20 masonry pos-r">
  <div class="masonry-item col-md-8">
    <div class="bgc-white p-20 bd">
      <h6 class="c-grey-900">Chi tiết đơn hàng</h6>

      <div class="mT-30">
        <form *ngIf="selectCustomerOrder">
          <div class="form-group row hrBorder">
            <div class="col-sm-6 col-12">
              <h6 class="col-12 pl-0">Tên khách hàng </h6>
              <label style="color: black !important;">{{selectCustomerOrder.shippingName}}</label>
            </div>
            <div class="col-sm-6 col-12">
              <h6 class="col-12 pl-0">Mã đơn hàng </h6>
              <label style="color: black !important;">{{selectCustomerOrder.orderCode}}</label>
            </div>
          </div>
          <div class="form-group row hrBorder">
            <div class="col-sm-6 col-12">
              <h6 class="col-12 pl-0">Số điện thoại </h6>
              <label style="color: black !important;">{{selectCustomerOrder.shippingMobile}}</label>
            </div>
            <div class="col-sm-6 col-12">
              <h6 class="col-12 pl-0">Email </h6>
              <label style="color: black !important;">{{selectCustomerOrder.shippingEmail}}</label>
            </div>
          </div>
          <div class="form-group row hrBorder">
            <div class="col-sm-6 col-12">
              <h6 class="col-12 pl-0">Địa chỉ </h6>
              <label style="color: black !important;">{{selectCustomerOrder.shippingAddress}}</label>
            </div>
            <div class="col-sm-6 col-12">
              <h6 class="col-12 pl-0">Quận/Huyện </h6>
              <ng-select style="color: black !important;" class="custom form-control coboNsx seleceDisabled pl-0"
                disabled name="shippingDistrict" [items]="listDistrict"
                [(ngModel)]="selectCustomerOrder.shippingDistrict" bindLabel="path_with_type" bindValue="code"
                notFoundText="{{'bv-gara.search.notFoundText' | translate}}">
                <ng-template style="margin-left: -13px !important;" ng-option-tmp let-item="item">
                  {{item.path_with_type}}
                </ng-template>
              </ng-select>
            </div>

          </div>
          <div class="form-group row hrBorder">
            <div class="col-sm-6 col-12">
              <h6 class="col-12 pl-0">Tỉnh/ Thành phố </h6>
              <ng-select style="color: black !important;" class="custom form-control coboNsx seleceDisabled pl-0"
                disabled name="shippingCity" [items]="listCity" [(ngModel)]="selectCustomerOrder.shippingCity"
                bindLabel="name_with_type" bindValue="code"
                notFoundText="{{'bv-gara.search.notFoundText' | translate}}">
                <ng-template style="margin-left: -13px !important;" ng-option-tmp let-item="item">
                  {{item.name_with_type}}
                </ng-template>
              </ng-select>
            </div>
            <div class="col-sm-6 col-12">
              <h6 class="col-12 pl-0">Phí vận chuyển </h6>
              <label
                style="color: black !important;">{{ultilities.numberPrice(selectCustomerOrder.shippingFee)}}</label>
            </div>

          </div>
          <div class="form-group row hrBorder">
            <div class="col-sm-6 col-12">
              <h6 class="col-12 pl-0">Tổng đơn hàng </h6>
              <label style="color: black !important;"> {{ultilities.numberPrice(selectCustomerOrder.subTotal)}}</label>
            </div>
            <div class="col-sm-6 col-12">
              <h6 class="col-12 pl-0">Tổng tiền phải thanh toán </h6>
              <label style="color: black !important;"> {{ultilities.numberPrice(selectCustomerOrder.total)}}</label>
            </div>
          </div>
          <div class="form-group row hrBorder">
            <div class="col-sm-6 col-12">
              <h6 class="col-12 pl-0">Phương thức thanh toán</h6>
              <label style="color: black !important;" *ngIf="selectCustomerOrder.paymentMethod === 0"> COD</label>
              <label style="color: black !important;" *ngIf="selectCustomerOrder.paymentMethod === 1"> BANK</label>
              <label style="color: black !important;" *ngIf="selectCustomerOrder.paymentMethod === 2"> DEBIT
                CARD</label>
              <label style="color: black !important;" *ngIf="selectCustomerOrder.paymentMethod === 3"> CREDIT
                CARD</label>
            </div>
            <div class="col-sm-6 col-12">
              <h6 class="col-12 pl-0">Trạng thái thanh toán</h6>
              <label style="color: black !important;" *ngIf="selectCustomerOrder.paymentStatus === 0"> Chưa thanh
                toán</label>
              <label style="color: black !important;" *ngIf="selectCustomerOrder.paymentStatus === 1"> Đã thanh
                toán</label>
              <label style="color: black !important;" *ngIf="selectCustomerOrder.paymentStatus === 2"> Hoàn tất thanh
                toán</label>
            </div>

          </div>
          <div class="form-group row hrBorder">
            <div class="col-sm-6 col-12">
              <h6 class="col-12 pl-0">Trạng thái vận chuyển hàng</h6>
              <label style="color: black !important;" *ngIf="selectCustomerOrder.shipmentStatus === 0"> Đang vận
                chuyển</label>
              <label style="color: black !important;" *ngIf="selectCustomerOrder.shipmentStatus === 1"> Đã giao
                hàng</label>
              <label style="color: black !important;" *ngIf="selectCustomerOrder.shipmentStatus === 2"> Hoàn tất giao
                hàng</label>
            </div>
            <div class="col-sm-6 col-12">
              <h6 class="col-12 pl-0">Trạng thái</h6>
              <label style="color: black !important;" *ngIf="selectCustomerOrder.status === 0"> Mới</label>
              <label style="color: black !important;" *ngIf="selectCustomerOrder.status === 1"> Đang xử lý</label>
              <label style="color: black !important;" *ngIf="selectCustomerOrder.status === 2"> Đã xử lý</label>
              <label style="color: black !important;" *ngIf="selectCustomerOrder.status === 3"> Hủy bỏ</label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <h6 class="col-12 pl-0">Ghi chú </h6>
              <label style="color: black !important;"> {{selectCustomerOrder.note}}</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="bgc-white p-20 bd mt-4">
      <h6 class="c-grey-900">Chi tiết đơn hàng</h6>
      <button class="btn btn-primary mr-3" title="export" (click)="exportFile()">Create File export</button>
      <div class="mT-30">
        <form>
          <table class="table table-bordered tableAttributes tableOrder ">
            <thead>
              <tr>
                <th scope="col" width="27%">Sản phẩm</th>
                <th scope="col" width="14%">Mã Sản phẩm</th>
                <th scope="col" width="14%">Mã NSX</th>
                <th scope="col" width="10%">Số lượng</th>
                <th scope="col" width="14%">Giá</th>
                <th scope="col" width="14%">Thành tiền</th>
                <th scope="col" width="7%">export</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cate of listCustomerOrderProduct; let i = index">
                <td scope="col" title="{{cate.productName}}">
                 {{cate.productName}}
                  <!-- <ng-select style="color: black !important;" class="custom form-control coboNsx seleceDisabled pl-0"
                    disabled name="productId{{i}}" [items]="listProduct" [(ngModel)]="cate.productId" bindLabel="name"
                    bindValue="id" notFoundText="{{'bv-gara.search.notFoundText' | translate}}">
                    <ng-template style="margin-left: -13px !important;" ng-option-tmp let-item="item">
                      {{item.name}}
                    </ng-template>
                  </ng-select> -->
                </td>
                <td scope="col" title="{{cate.sku}}" class="txtCenter">
                  {{cate.sku}}
                </td>
                <td scope="col" title="{{cate.orginSku}}" class="txtCenter">
                  {{cate.orginSku}}
                </td>
                <td scope="col" title="{{cate.quantity}}" class="txtCenter">
                  {{cate.quantity}}
                </td>
                <td scope="col" title="{{ultilities.numberPrice(cate.unitPrice)}}" class="txtRight">
                  {{ultilities.numberPrice(cate.unitPrice)}}
                </td>
                <td scope="col" title="{{ultilities.numberPrice(cate.total)}}" class="txtRight">
                  {{ultilities.numberPrice(cate.total)}}
                </td>
                <td scope="col" title="{{ultilities.numberPrice(cate.total)}}" class="txtCenter">
                  <a *ngIf="cate.pathBarCode" class="btn-primary" title="export" [href]="cate.pathBarCode" download >
                      <i class="fa fa-download" style="font-size:13px"></i></a>
                </td>
              </tr>
              <tr *ngIf="listCustomerOrderProduct && listCustomerOrderProduct.length>100000 ">
                <td scope="col">
                  <label>Tổng</label>
                </td>
                <td scope="col" class="txtCenter">
                <td scope="col" class="txtRight">
                </td>
                <td scope="col" class="txtRight">
                  <label>{{ultilities.numberPrice(totalTable)}}</label>
                </td>
                <td scope="col">
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="!listCustomerOrderProduct || listCustomerOrderProduct.length===0 " class="borderrow "><label>Không
              có bản ghi</label></div>
        </form>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-4">
    <div class="bgc-white p-20 bd">
      <h6 class="c-grey-900">Thông tin tài khoản</h6>
      <div class="mT-30">
        <form>
          <div class="form-group row">
            <h6 class="col-sm-4 col-12 ">Tên đầy đủ: </h6>
            <label class="col-sm-8 col-12 pl-0">{{customersUser?customersUser.fullName:'email'}}</label>
          </div>
          <div class="form-group row">
            <h6 class="col-sm-4 col-12 ">Email: </h6>
            <label class="col-sm-8 col-12 pl-0">{{customersUser?customersUser.email:'email'}}</label>
          </div>
        </form>
      </div>
    </div>
    
  </div>
  <div class="masonry-item col-md-12">
    <div class="col-12 txtCenter">
      <!-- <button class="btn btn-primary mr-3" title="Save" (click)="submitOk()">
        Cập nhật</button> -->
      <button class="btn btn-primary mr-3" title="Bank" (click)="backManagement()">Quay lại</button>
      <a *ngIf="urlDownloadOrder" class="btn btn-primary mr-3" title="export" [href]="urlDownloadOrder" download >Download File</a>
    </div>
  </div>
</div>