.textBold {
  font-weight: bold !important;
}
.eclaim-title-custom {
  width: 30% !important;
  margin-left: 15px;
}
.eclaim-title {
  color: white;
  background: #cba34e;
  font-size: 1.2rem;
  padding: 9px 0px 9px 9px;
  text-transform: uppercase;
}
.xlModal > .modal-dialog {
  max-width: 1490px !important;
  width: 100% !important;
}

.modal-lg {
  max-width: 1000px !important;
}
.modal-title {
  text-transform: uppercase;
}

.searchbv-list {

  select, input {
    width: 100%;
  }

  label {
    padding-top: 10px;
  }

  .container {
    padding: 0px !important;
    width: 100% !important;
  }
}
.searchbv-table {
  thead {
    background-color: #93c9ef;
  }
  tr:hover {
    cursor: pointer;
  }
}

.eclaim-title searchbv{
  margin-left: 15px;
  height: 50px;

}
.chkValidate{
  border:1px solid #dc3545;
}

.chkValidateText{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
  display:block!important;
}

.actionLinkSearch {
  color: #007bff;
  text-decoration: underline !important;
}

.wrapTitle{
  height: 40px;
  padding-top: 6px;
  position: relative;

  .eclaim-title {
    height: 47px;
    line-height: 47px;
    color: white;
    padding: 0 0 0 55px;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}
.wrapTimkiem {
  position: relative;
  padding-right: 18px;
  margin-left: 30px;
  height: 50px;
  .eclaim-title{
    width: 250px;
    float: left;
    padding: 6px 6px 6px 9px;
    line-height: 13px;
    margin: 0;
  }
  .timkiembg-right {
    background: url('/assets/images/timkiembg-right.png') top left no-repeat;
    height: 53px;
    width: 19px;
    position: absolute;
    top: 0;
    right: 0;
    background-size: 52%;
  }
}
.form-inline{
  border-top: 1px solid #bdbdbd24;
}
.borderBox{
  box-shadow: 0px 7px 10px 2px #00000029;
}
.pd-20{
  padding: 20px;
  margin-top: -30px;
}
.timkiembg {
  background: url('/assets/images/timkiembg-right.png') top left no-repeat;
  height: 50px;
  width: 19px;
  position: absolute;
  top: 0;
  right: 0;
}
.borderrow {
  border-color: inherit;
  box-sizing: border-box;
  padding: -0.75em .5em;
  border-width: 1px;
  border-style: solid;
  margin-left: 5px;
  border: none !important;
}
.NotShowDepcripton {
  max-width: 100px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
div#addAttribute {
  width: auto !important;
  margin-top: 3% !important;
}
@media (min-width: 576px) {
  .modal-dialog-attributes {
      max-width: 562px;
      margin: 1.75rem auto;
  }
}
@media (min-width: 900px){
  .modal-dialog-attributes {
      max-width: 850px;
      margin: 1.75rem auto;
  }
}
.tableAttributes tr:hover {
  background: #ecebeb !important;
}
.bgBlue{
  background: #87b0dc  !important;
}

ng-dropdown-panel {
background: white !important;
border: 1px solid #ddd !important;
padding-left: 10px !important;
}
.seleceDisabled {
  border: none !important;
}
.hrBorder {
  border-bottom: 1px solid #ddd !important;
  padding-bottom: 5px !important;
}
td {
  overflow-wrap: break-word;
  max-width: 100px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}