  :host{    
    box-sizing: border-box;
    display: none;   
    position: fixed; 
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
  }
  :host.is-open {
    display: block;
  }
  #box-loader {    
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    background: #fff;
    opacity: 0.5;
    z-index: 1;
  }
  #loader{
    width: 64px;
    height: 64px;
    margin: 20% auto;
  }
  #loader img{
    position: absolute;
    opacity: 0.9;
    z-index: 2;
  }