th {
    overflow-wrap: break-word !important;
    text-align: center;
    background: #e8e8e8;
}
label {
  overflow-wrap: break-word !important;
}
p{
  overflow-wrap: break-word !important;
}
span{
  overflow-wrap: break-word !important;
}
.txtRed{
    color: red !important;
  }
  .txtBlue{
    color: blue !important;
  }
  .txtBlack input{
    color: black !important;
  }
  .txtRed input{
    color: red !important;
  }
  .txtBlue input{
    color: blue !important;
  }
  td {
    overflow-wrap: break-word;
    max-width: 100px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
.table td, .table th {
  padding: 3px !important;
  /* padding: .75rem; */
  vertical-align: inherit !important;
  border-top: 1px solid #e9ecef;
}
tr {
  font-size: .9em !important;
}

th {
  font-size: .9em !important;
}
p {
  margin-top: auto;
  margin-bottom: auto;
}
  .txtBlack{
    color: black !important;
  }
  .txtLeft{
    text-align: left !important;
  }
  .txtRight{
    text-align: right !important;
  }
  .txtCenter{
    text-align: center !important;
  }
  .cursorPointer {
    cursor: pointer !important;
  }
  .textBold {
    font-weight: bold !important;
  }
  .displayDiv {
    display: none !important;
  }
  .main-content {
    padding: 20px 20px 20px !important;
}
.mandatoryInput{
    border: 1px solid red !important;;
  }
  .requisIcon{
    color: red;
    font-size: 11px;
    position: relative;
    top: -6px;
    left: 3px;

  }
.header.navbar {
    width: 100% !important;
}
.header-container {
  width: 100% !important;
}
.fa-pencil {
  color: #c7a148 !important;
}
.fa-trash {
  color: red !important;
}
.NotShowDepcripton {
  max-width: 100px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.coboNsx ng-dropdown-panel {
  // margin-left: -13px !important;
}
span.tags-input__tag {
  background: #ddd;
  margin-right: 11px !important;
  padding: 3px !important;
}
ngb-typeahead-window#ngb-typeahead-5 {
  left: 3% !important;
}
ng-dropdown-panel {
  left: 0% !important;
  width: 100% !important;
}
.ng-option.ng-star-inserted:hover {
  padding: 0px 5px 0px 5px !important;
  background: #ddd !important;
}
.tableAttribute td {
  overflow-wrap: break-word;
  max-width: 100px !important;
  overflow: inherit !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}
input.ng-star-inserted {
  padding-left: 10px !important;
}
.listAttributesClass div.ng-value.ng-star-inserted {
  color: #fff;
  background-color: #969696;
  margin: 3px 2px !important;
  padding: 4px 13px;
  height: fit-content;
  border-radius: 5px;
}
span.tags-input__tag {
  color: #fff;
  background-color: #969696;
  margin: 3px 2px !important;
  padding: 4px 13px;
  height: fit-content;
  border-radius: 5px;
}
// calender
p-calendar input{
  width: 80% !important;
}
// end calender
.listAttributesClass div input.ng-star-inserted {
  padding: 0px !important;
  margin: 0px !important;
}
tr.ng-star-inserted.tdRequire {
  background: #ddd !important;
  border: 2px solid red !important;
}
// @import "~@ng-select/ng-select/themes/default.theme.css";
.titleGroup {
  background: #f4f4f4 !important;
}
.titleGroup:hover {
  background: #c8c8c8 !important;
}
.ui-multiselect {
  width: 100% !important;
  min-height: 30px !important;
}
// Start product media
.styleImageProduct {
  border: 1px solid #ddd !important;
  margin-bottom: 5px !important;
  text-align: center;
  min-height: 114px;
}

.styleImageProduct.selectImageClass {
  border: 2px solid #2399e5 !important;
}
.styleImageProduct {
  position: relative;
  .opacity-image, .like-image {
    display: none;
  }
  .delete-image {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 110;
    color: red;
  }
}
.styleImageProduct:hover {
  i {
    color: red !important;
  }
  .opacity-image {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #a79c9c; 
    opacity: 0.5;
    z-index: 100;
  }  
  .like-image{
    display: block;
    position: absolute;   
    top: 50%;
    left: 50%;
    z-index: 110;
    color: #2399e5  !important;
  }
}



.imageFile {
  height: 143px !important;
}
.styleImageProduct.imageFile i {
  position: absolute;
  bottom: 9%;
  left: 50%;
}
// End product media
:host {
  display: block;
}

.modal-dialog-viewImage {
  position: relative;
  width: 70%;
  margin: auto;
  margin-top: 4%;
}
@media (min-width: 900px){
  .modal-dialog-attributes {
      max-width: 850px;
      margin: 1.75rem auto;
  }
}
@media (min-width: 576px){
  .modal-dialog-attributes {
        max-width: 562px;
        margin: 1.75rem auto;
      
      
      .tbodyProductPrice {
        max-height: 350px!important;
        overflow-y: scroll!important;
    }
  }
}
@media (max-width: 700px){
      .scrollTable {
        overflow-x: scroll !important;
        max-width: 100% !important;
    }
}
.right-total{
  width: 80% !important;
}
.left-total{
  width: 20% !important;
  display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background: linear-gradient(to bottom, #f6f7f9 0%, #ebedf0 100%);
}
// dialog xoa
#confirmDialodDel {
  top: 14%;
}
.modal-dialog {
  max-width: 40%;
  margin: 7% auto;
  height: 300px;
}
button.btn.btn-default {
  border-width: 1px;
  color: black;
  background: transparent;
  border-color: rgba(21, 18, 18, 0.5);
  font-size: 15px;
}
.stypessMax {
  padding: 7px 30px !important;
    margin: 17px 5px !important;
}
.ui-paginator .ui-paginator-page{
  cursor: pointer;
  width: 2.5em !important;
}
.ui-orderlist.ui-widget {
  width: 100% !important;
}
ul.ui-widget-content.ui-orderlist-list.ui-corner-bottom {
  width: 100% !important;
}
table.cke_dialog_contents {
  width: 700px !important;
}
table.cke_dialog.cke_browser_webkit.cke_ltr {
  width: 700px !important;
  border: 1px solid #a99090;
}
.bgBlue{
  background: #87b0dc  !important;
  cursor: pointer;
}