<div class="masonry-item col-md-6">
  <div class="bgc-white p-20 bd">
    <h6 class="c-grey-900">Basic Form</h6>
    <div class="mT-30">
      <form>
        <div class="form-group"><label for="exampleInputEmail1">Email address</label><input type="email" class="form-control"
            id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> <small id="emailHelp" class="form-text text-muted">We'll
            never share your email with anyone else.</small></div>
        <div class="form-group"><label for="exampleInputPassword1">Password</label><input type="password" class="form-control"
            id="exampleInputPassword1" placeholder="Password"></div>
        <div class="checkbox checkbox-circle checkbox-info peers ai-c mB-15"><input type="checkbox" id="inputCall1"
            name="inputCheckboxesCall" class="peer"><label for="inputCall1" class="peers peer-greed js-sb ai-c"><span
              class="peer peer-greed">Call John for Dinner</span></label></div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<bv-form-claim-info></bv-form-claim-info>