<div class="row">
  <div class="col-12" [ngClass]="{'fixedTopPrint garaPrint': isFixHeader}">
    <div class="row pt-3 pb-3 print-header no-gutters">
        <div class="col-sm-3">
        <a href="javascript:void(0)" class="btn btn-outline-secondary" style="padding: 3px 14px !important" (click)="print()">{{'bv-voucher-details.suitedocument.Print' | translate}}</a>
        <a href="javascript:void(0)" class="btn btn-outline-secondary" style="padding: 3px 14px !important" (click)="back()">{{'common.btn_cancel' | translate}}</a>
      </div>
      <div class="col-sm-6">
          <div class="row no-gutters btndirection">
            <a href="javascript:void(0)" (click)="pageChange(0)"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
            <a href="javascript:void(0)" (click)="pageChange(currentPage - 1)"><i class="fa fa-play rotate-180" aria-hidden="true"></i></a>
            <label class="col text-right">{{'bv-voucher-details.suitedocument.Page' | translate}}</label>
            <div class="col">
              <select class="form-control" style="width: 50px; margin-left: 20px;" [(ngModel)]="currentPage" (change)="pageChange(currentPage)">
                <option [value]="page" *ngFor="let page of pages">{{ page + 1}}</option>
              </select>
            </div>
            <label class="col">/ {{'bv-voucher-details.suitedocument.Total' | translate}}: {{ pages? pages.length : 1}}</label>
            <a href="javascript:void(0)" (click)="pageChange(currentPage + 1)"><i class="fa fa-play" aria-hidden="true"></i></a>
            <a href="javascript:void(0)" (click)="pageChange(pages && pages.length > 0 ? pages.length - 1 : 0)"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
          </div>
        </div>
      <div class="col-sm-3 text-right">
        <select class="form-control print-save-type" [(ngModel)]="fileSavingType">
          <option [value]="type" *ngFor="let type of fileSavingTypes">{{ type }}</option>
        </select>
        <a href="javascript:void(0)" style="padding: 3px 14px !important" class="float-right print-btn-save" (click)="save()">
          <i class="fa fa-save"></i> {{'common.btn_save' | translate}}</a>
      </div>
    </div>
  </div>
</div>
<div id="print-content" #printCotent [class]="styleForPDF">
  <div class="row">
    <div class="col-12">
      <pdf-viewer [src]="pdfUrl" [render-text]="false" [stick-to-page]="true" [show-all]="true" (after-load-complete)="loadPdfComplete($event)"
        [original-size]="true" [fit-to-page]="true" (error)="loadPdfError()"
        style="display: block;"></pdf-viewer>
    </div>
  </div>
</div>