.print-header{
    width: 21cm;
    margin: 0 auto;
}
.btn-outline-secondary {
    margin-left: 0 !important;
}
.print-save-type{
    width: 70px;
    float: right;
}

/deep/ pdf-viewer{
    .ng2-pdf-viewer-container{
        padding: 15px 0;
    }
    .page {        
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }
}
.btndirection a{
    padding: 0 5px;
}

@media print {
    .print-header {
        display: none;
    }
    /deep/ pdf-viewer {
        .page {
            box-shadow: 0;
            size: A4;
            margin-bottom: 0;
        }
        .ng2-pdf-viewer-container {
            padding: 0;
        }
    }
}