#confirmationModal {
  top: 14%;
}

button.btn.btn-default {
  border-width: 1px;
  color: black;
  background: transparent;
  border-color: rgba(21, 18, 18, 0.5);
  font-size: 15px;
}

.modal-dialog {
  max-width: 40%;
  margin: 7% auto;
  height: 300px;
}

.modal-header {
  border: none;
  padding: 6px 0px 0 0px;
  height: 44px;
  background-color: #DBDBDB;
}

.modal-header .modal-title {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 0;
  /* line-height: 1.5; */
  color: #182A42;
  font-size: 16px;
}

.fa-check-circle {
  color: #39817C;
  font-size: 21px;
  margin-right: 5px;
  margin-top: 2px;
}

.ion-android-cancel {
  color: red;
  font-size: 21px;
  margin-right: 5px;
  margin-top: 2px;
}

.btn-md {
  width: 93px;
  font-size: 15px;
  border: .5px solid darkgray;
  margin: 20px;
}

.close {
  font-size: 25px;
  color: #da4949;
  opacity: 1;
  
}

.btn:active{
  background-color: #e2e2e2;
}

.btn {
  width: 103px;
  height: 35px;
  font-size: 14px;
  box-shadow: 3px 3px 2px #888888;
  border: 1px solid darkgray;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btnDel {
  margin-left: 20px;
}

.fa-plus-circle {
  color: #39817C;
  font-size: 21px;
  margin-right: 5px;
  margin-top: 2px;
}

.ion-android-cancel {
  color: red;
  font-size: 21px;
  margin-right: 5px;
  margin-top: 2px;
}

