<div id="confirmationModal" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close" aria-label="Close" id="close-x"><span aria-hidden="true">&times;</span></button>
      </div>
       <div class="modal-body">
        <p>{{message}}</p>
      </div>
      <div class="text-center" [hidden]="!confirmDialog">
        <a class="btn  btn-eclaim" id="okButton">
          <!-- <span class="fa fa-check-circle" ></span> -->
          {{okText}}</a>
        <a class="btn btnDel btn-eclaim" id="cancelButton">
          <!-- <span class="ion-android-cancel" ></span> -->
          {{cancelText}}</a>
      </div>
      <div class="text-center" [hidden]="confirmDialog">
        <a class="btn btn-info " id="offButton"><span class="fa fa-check-circle" ></span>{{closeText}}</a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isShow">
  <bs-modal-backdrop class="modal-backdrop fade in" ng-version="4.1.0"></bs-modal-backdrop>
</div>
