@import '../sass/conf/conf';

.sidebar-hover-elem.show-hover-elem {
  top: 0 !important;
}

ul.al-sidebar-list {
  height: auto !important;
    padding-top: 0 !important;
    max-height: 500px;
    border-radius: 15px;
    // border: 1px solid;
    // border-color: #f9f6f6;
    // box-shadow: 0px 4px 8px 2px rgba(175, 175, 175, 0.63), 0 6px 20px 10px rgba(156, 156, 156, 0.44);
}


