<h3 class="fontsize-header">{{title}}</h3>
<h1 class="head-home-content" >
  <h2 class="setfontsize-dashboard" >
    <img class="icon-home" [src]="img" />
  </h2>
  <h2 class="setfontsize-dashboard" >{{content}}</h2>
</h1>
