.wrapTimkiem {
    position: relative;
    padding-right: 11px;
    .eclaim-title {        
        float: left;
        padding: 9px 6px 9px 10px;
        line-height: 13px;
        margin: 0;
        color: #005AA8;
        background: url('/assets/images/breadcrumb-gray.png') top left repeat-x;
        background-size: 100% 100%;
    }
    .Breadcrumb-bg-right {
        background: url('/assets/images/breadcrumb-gray-right.png') top left no-repeat;
        background-size: 100% 100%;
        height: 26px;
        width: 15px;
        float: left;
    }    
}
.Breadcrumb-box {
    margin-left: -26px;
    .bg-left-yellow{
        background: url(/assets/images/breadcrumb-yellow-left.png) top left repeat-x;
        background-size: 100% 100%;
        height: 26px;
        width: 15px;
        float: left;
        top: 0;
        left: 0;
    }
    .eclaim-title{
        padding-left: 4px;
        background: url('/assets/images/breadcrumb-yellow.png') top left repeat-x;
        background-size: 100% 100%;
        height: 26px;
        color: #fff;
    }
    .Breadcrumb-bg-right {
        background: url('/assets/images/breadcrumb-yellow-right.png') top left no-repeat;
        background-size: 100% 100%;
    }    
}
.wrapTimkiem.cursorPointer:hover {
    .eclaim-title {        
        text-decoration: underline;
    }
}
.form-control.time {
    min-width: 40px;
    margin-left: 3px;
}
.attachment-header.mt-3 a {
    margin-left: 15px;
}
.attachbox-header input{
    width: 32px;
    text-align: center;
    border: 1px solid #e5e5e5;
}
.attachbox-content {
    position: relative;
    height: 185px;
    text-align: center;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    overflow: hidden;
    background: #dadada;
    .attachbox-action{
        width: 100%;
        position: absolute;
        bottom: 5px;
        left: 0;
        text-align: center;
        padding: 0 10px;
    }
    span {
        word-break: break-word;
    }
}
.attachbox-image .attachbox-action a{
    color: #000;
    text-shadow: 1px 1px #fff;
}
.attachbox-file .attachbox-content{
    padding-top: 80px;
}
.attachbox-footer{
    text-align: center;
    input {
        float: left;
        margin: 3px 0px 0 0;
    }
}

.viewfile-arrow {
    font-size: 25px;
    color: #000000;
    opacity: 0.8;
    cursor: pointer;
    position: absolute;
    top: 45%;
    z-index: 1;
}
.viewfile-arrow:hover {
    opacity: 1;
}
.viewfile-left {
    left: 1.2rem;
}
.viewfile-right{
    right: 1.2rem;
}
.modal-lg {
    top: auto !important
}
#map, .showingAttachment .modal-body {
    min-height: 500px;
}
.showingAttachment .modal-body {
    overflow: hidden;
}
.pcuploadbox label{
    background: #fffb82;
}