fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid darkgray;
}

legend {
    width: inherit;
    padding: 0px 4px 0px 4px;
    border-bottom: none;
    color: #00609F;
    font-size: 14px;
    font-weight: 500;
}

.form-input {
  color: black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: none;
  font-size: 12px;
  display: block;
  width: 100%;
  padding: 0.5rem 3rem 6px 10px;
//   line-height: 1.75;
  height: 35px;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

}
